@use "./../../init" as *;

@use "./cart_totals";
@use "./cart_voucher";

.c-cart-info {
    & {
        display: grid;
        grid-template:
            "partner totals" 1fr
            "partner voucher" auto
            / minmax(0, 1fr) 500px
        ;
        gap: 0 20px;
    }
    @media (max-width: $xs-max) {
        grid-template:
            "partner" auto
            "totals" minmax(0, 1fr)
            "voucher" auto
            / 1fr
        ;
    }

    &__partner {
        grid-area: partner;
    }

    &__totals {
        grid-area: totals;
        background-color: var(--c-bg);
    }

    &__voucher {
        grid-area: voucher;
    }
}