@use "../../init" as *;

.c-cart-voucher {
    & {
        padding: 12px 110px 12px 70px;
        background-color: var(--c-bg);
        border-top: 1px solid var(--c-border);
    }
    @media (max-width: $xs-max) {
        padding: 12px var(--container-padding);
        margin: 0 var(--container-padding-negative);
    }

    &__title {
        & {
            display: flex;
            align-items: center;
        }

        .ico {
            @include icoSize(24px);

            margin-right: 8px;
        }

        .sc-link {
            margin-left: auto;
            text-decoration: underline;
        }

        &.is-active {
            .sc-link {
                display: none;
            }
        }
        @include hover {
            & {
                cursor: pointer;
            }

            .sc-link {
                text-decoration: none;
            }
        }
        @media (max-width: $xs-max) {
            /* & {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                margin-bottom: 0;
            } */
            .ico {
                @include icoSize(22px);
            }
        }
    }

    &__form {
        &:not(.is-active) {
            display: none;
        }

        .c-form {
            & {
                position: relative;
                display: flex;
                width: 100%;
                margin-top: 12px;
            }

            &__item {
                position: relative;
                flex: 1 1 auto;
                margin: 0;
            }

            &__input {
                & {
                    height: 34px;
                    font-size: 13px;
                    border-right: none;
                }

                &.valid {
                    background-image: none;
                }
            }

            .c-btn {
                & {
                    height: 34px;
                    font-size: 13px;
                    border: none;
                }

                &.is-loading {
                    &::after {
                        border-top-color: var(--c-white);
                        border-bottom-color: var(--c-white);
                    }

                    &::before {
                        background: var(--c-border);
                        border-radius: 0 3px 3px 0;
                        box-shadow: none;
                    }
                }
            }
        }
        @media (max-width: $cxs-max) {
            .c-form {
                &__input {
                    padding-left: 16px;
                }
            }
        }
    }

    &__code {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 4px 4px 8px;
            margin-top: 12px;
            background-color: var(--c-white);
        }

        .sc-code {
            & {
                font-size: 13px;
                font-weight: 700;
            }

            &__value {
                font-weight: 600;
            }
        }

        .c-btn {
            width: 24px;
            min-width: 0;
            height: 24px;
            padding: 0;
        }
    }
}
