@use "./../../init" as *;

@use "./../../components/atoms/quantity_spinner";

/* @use "./../../components/molecules/availability_tooltip"; */
@use "./product_promotion";

.c-cart-products {
    @media (max-width: $xs-max) {
        margin: 0 var(--container-padding-negative);
    }

    &__head {
        .c-cart-products {
            &__row {
                padding: 15px 0;
                background-color: var(--c-bg);
                border: none;
            }

            &__item {
                & {
                    font-weight: 600;
                    color: var(--c-primary);
                }

                &.is-image {
                    padding-left: 20px;
                }
            }
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__box {
        & {
            border: 1px solid var(--c-border);
            border-radius: 2px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (min-width: $sm-min) {
            @include hover {
                border-color: var(--c-secondary);
            }
        }
        @media (max-width: $xs-max) {
            & {
                border: none;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                border-bottom: 1px solid var(--c-border);
            }
        }
    }

    &__trigger {
        & + .c-cart-products__body {
            &:not(.is-active) {
                display: none;
            }
        }

        .c-cart-products__row {
            grid-template:
                "info            avail quantity price actions" auto
                / minmax(0, 1fr) 220px 140px 200px 74px;
        }

        .c-cart-products__item {
            @media (max-width: $xs-max) {
                &.is-quantity {
                    display: none;
                }

                &.is-availability {
                    display: none;
                }
            }
        }

        .c-cart-products__quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }

        .c-cart-products__actions .c-btn .ico {
            transition: transform 0.25s ease-in-out;
        }

        &.is-active {
            .c-cart-products__row {
                background-color: var(--c-bg);
            }

            .c-images {
                display: none;
            }

            .c-cart-products__actions .c-btn .ico {
                transform: rotate(-180deg);
            }
        }
        @include hover {
            cursor: pointer;
        }
        @media (max-width: $sm-max) {
            .c-cart-products__row {
                grid-template:
                    "info            avail quantity price actions" auto
                    / minmax(0, 1fr) 220px 140px 125px 74px;
            }
        }
        @media (max-width: $xs-max) {
            .c-cart-products__row {
                grid-template:
                    "info            price actions" auto
                    / minmax(0, 1fr) 125px 74px;
            }
        }

        /* @media (max-width: $cxs-max) {
            & {
                grid-template-columns: 70px 110px 1fr auto;
            }
        } */
    }

    &__row {
        & {
            position: relative;
            display: grid;
            grid-template:
                "image product        avail quantity price actions" auto
                "promo promo          promo promo   promo  promo  " auto
                / 90px minmax(0, 1fr) 220px 140px 200px 74px;
            gap: 0 22px;
            align-items: center;
            width: 100%;
            padding: 12px 0;
            background-color: var(--c-white);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--c-border);
        }
        @media (max-width: $sm-max) {
            grid-template:
                "image product        avail quantity price actions" auto
                "promo promo          promo promo   promo  promo  " auto
                / 90px minmax(0, 1fr) 220px 140px 125px 74px;
        }
        @media (max-width: $xs-max) {
            & {
                grid-template:
                    "image product  product actions" auto
                    "image avail    avail   avail" auto
                    "image quantity price   price" auto
                    "promo promo    promo   promo" auto
                    / 70px 110px auto 68px;
                padding: 20px var(--container-padding);
            }
        }
        @media (max-width: $cxs-max) {
            & {
                grid-template-columns: 70px 110px 1fr auto;
            }
        }
    }

    &__item {
        &.is-info {
            grid-area: info;
        }

        &.is-image {
            grid-area: image;
        }

        &.is-product {
            grid-area: product;
        }

        &.is-availability {
            grid-area: avail;
        }

        &.is-quantity {
            grid-area: quantity;
            text-align: center;
        }

        &.is-price {
            grid-area: price;
            text-align: right;
        }

        &.is-actions {
            grid-area: actions;
        }

        &.is-promotion {
            grid-area: promo;
            min-width: 0;
        }
        @media (max-width: $xs-max) {
            &.is-actions {
                align-self: flex-start;
            }

            &.is-image {
                align-self: flex-start;
            }
        }
    }

    &__img {
        & {
            position: relative;
            display: block;
            width: 80px;
            height: 80px;
            margin-left: 10px;
            transition: all 0.2s ease;
            transition: opacity 0.2s ease;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        @include hover {
            text-decoration: none;
            opacity: 0.9;
        }
        @media (max-width: $xs-max) {
            & {
                margin: 0;
            }

            img {
                width: 100%;
                height: auto;
                max-height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__name {
        & {
            transition: color 0.2s ease;
        }

        .sc-name {
            & {
                font-size: 15px;
                font-weight: 700;
            }

            &.is-gift {
                color: var(--c-green);
            }

            &.is-discount {
                color: var(--c-red);
            }
        }

        .sc-info {
            & {
                padding-top: 6px;
                font-size: 12px;
                font-weight: 600;
                color: $c_grey;
            }

            .sc-properties {
                & {
                    display: flex;
                    white-space: nowrap;
                }

                &__item {
                    & {
                        display: flex;
                        align-items: center;
                    }

                    &:not(:first-child)::before {
                        display: block;
                        width: 1px;
                        height: 15px;
                        margin: 0 10px;
                        content: "";
                        background-color: var(--c-border);
                        opacity: 0.35;
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            & {
                margin-bottom: 8px;
            }

            .sc-info {
                display: none;
            }
        }
    }

    &__availability {
        .availability-item {
            & {
                font-weight: 600;
            }

            &.is-bigger {
                font-weight: 700;
            }

            .sc-underlined {
                text-decoration: underline;
            }

            .tooltip-circle {
                position: relative;
                top: 2px;
                margin-left: 6px;
            }
        }

        &.is-available {
            color: var(--c-green);
        }

        &.is-unavailable {
            color: var(--c-red);
        }
        @media (max-width: $xs-max) {
            & {
                margin-bottom: 14px;
                font-size: 13px;
                pointer-events: none;
            }

            .h-is-underlined {
                text-decoration: none;
            }

            .tooltip-circle {
                display: none;
            }
        }
    }

    &__quantity {
        @include t-quantity-input(
            (
                width: 100%,
            )
        );

        & {
            position: relative;
            height: 46px;
        }

        .c-form__quantity {
            & {
                height: 46px;
            }

            &:not(.is-in-cart) {
                display: flex;
            }
        }
        @media (max-width: $xs-max) {
            & {
                height: 36px;
            }

            .c-form__quantity {
                & {
                    height: 36px;
                }

                .c-btn {
                    & {
                        width: 26px;
                        height: 26px;
                    }

                    .ico {
                        @include icoSize(11px);
                    }

                    &.is-decrement {
                        left: 4px;
                    }

                    &.is-increment {
                        right: 4px;
                    }
                }
            }

            .c-form__input {
                font-size: 13px;
            }
        }
    }

    &__price {
        & {
            width: 100%;
            padding-right: 20px;
        }

        .sc-old {
            @include lineThrough;

            & {
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                color: var(--c-grey);
            }
        }

        .sc-actual {
            & {
                font-size: 17px;
                font-weight: 700;
                color: var(--c-primary);
            }

            &.has-action {
                color: var(--c-red);
            }

            &.is-gift {
                color: var(--c-red);
            }
        }

        .sc-unit {
            font-size: 12px;
            font-weight: 600;
            color: var(--c-grey);
            white-space: nowrap;
        }
        @media (max-width: $xs-max) {
            padding-right: 0;
        }
    }

    &__actions {
        & {
            display: flex;
            gap: 2px;
            justify-content: flex-end;
        }

        .c-btn {
            & {
                justify-content: center;
                width: 36px;
                height: 36px;
                padding: 0;
            }

            .ico {
                @include icoSize(18px);

                color: var(--c-grey);
            }

            .ico-chevron-down {
                @include icoSize(14px);
            }
            @include hover {
                & {
                    background-color: transparent;
                    border-color: transparent;
                }

                .ico {
                    color: var(--c-red);
                }
            }
        }
        @media (max-width: $xs-max) {
            .c-btn {
                & {
                    width: 32px;
                    height: 32px;
                    border-color: var(--c-border);
                    border-radius: 4px;
                }
                @include hover {
                    border-color: var(--c-border);
                }
            }
        }
    }

    &__info {
        & {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 20px;
        }

        .sc-name {
            @include textOverflow;

            font-size: 18px;
            font-weight: 700;
        }

        .sc-images {
            & {
                display: flex;
                gap: 0 20px;
                align-items: center;
            }

            &::before {
                display: block;
                width: 1px;
                height: 30px;
                margin: 5px 0 5px 20px;
                content: "";
                background-color: var(--c-border);
            }

            &__item {
                & {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 40px;
                    height: 40px;
                    font-size: 13px;
                    font-weight: 700;
                }

                .c-img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
        @media (max-width: $xs-max) {
            & {
                padding-left: 0;
            }

            .sc-name {
                font-size: 17px;
            }
        }
        @media (max-width: $cxs-max) {
            .sc-images {
                display: none;
            }
        }
    }

    &__promotions {
        & {
            padding: 13px 0 8px 60px;
        }
        @media (max-width: $xs-max) {
            padding: 20px 0 0 40px;
        }
        @media (max-width: $cxs-max) {
            padding: 20px 0 0;
        }
    }
}
