@use "./../../init" as *;

.c-cart-totals {
    & {
        background-color: var(--c-bg);
    }
    @media (max-width: $xs-max) {
        margin: 0 var(--container-padding-negative);
    }

    &__list {
        & {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 30px 110px 30px 70px;
        }
        @media (max-width: $xs-max) {
            padding: 30px var(--container-padding);
        }
    }

    &__item {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 600;
            color: var(--c-grey);
        }

        &.is-bigger {
            & {
                margin-bottom: 4px;
                font-weight: 700;
                color: var(--c-primary);
            }

            .c-cart-totals__key {
                font-size: 20px;
            }

            .c-cart-totals__value {
                font-size: 24px;
            }
        }

        &.is-red {
            color: var(--c-red);
        }
        @media (max-width: $xs-max) {
            & {
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            &.is-bigger {
                & {
                    order: 10;
                    margin-top: 4px;
                    margin-bottom: 0;
                }

                .c-cart-totals__key {
                    font-size: 18px;
                }

                .c-cart-totals__value {
                    font-size: 22px;
                }
            }
        }
    }
}