@use "./../../init" as *;

.c-combideal-thumb {
    & {
        display: grid;
        grid-template:
            "image name cart" auto
            "image price cart" auto
            / auto minmax(0, 1fr) auto;
        gap: 6px;
        align-items: center;
        padding: 8px 16px 8px 4px;
        background-color: var(--c-white);
        border: 1px solid var(--c-border);
    }

    &__image {
        & {
            grid-area: image;
            width: 60px;
            height: 60px;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__name {
        & {
            grid-area: name;
            font-weight: 600;
        }

        .c-link {
            @include maxLines(2);
        }
    }

    &__price {
        & {
            grid-area: price;
        }

        .c-price {
            & {
                display: flex;
                flex-direction: row-reverse;
                gap: 6px;
                align-items: center;
                justify-content: flex-end;
            }

            &__actual {
                font-weight: 700;
                color: var(--c-red);
            }

            &__old {
                font-size: 11px;
                font-weight: 600;
                color: var(--c-grey);
                text-decoration-line: line-through;
            }
        }
    }

    &__cart {
        & {
            grid-area: cart;
            padding-left: 10px;
        }

        .c-btn {
            & {
                gap: 0;
                justify-content: center;
                width: 38px;
                height: 38px;
                padding: 0;
            }

            .ico {
                @include icoSize(20px);
            }
        }
    }
}
