@use "./../../init" as *;

@use "node_modules/swiper/swiper";
@use "node_modules/swiper/modules/pagination/pagination";
@use "./combideal_thumb";

.c-product-promotion {
    & {
        display: flex;
        gap: 0 22px;
        align-items: center;
        padding: 6px 0;
        border-left: 2px solid transparent;
    }

    &:not(:last-child) {
        margin-bottom: 6px;
    }

    &__image {
        & {
            grid-area: image;
            width: 46px;
            height: 60px;
            margin-left: 6px;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__info {
        & {
            flex: 1;
            grid-area: product;
            min-width: 0;
            margin-left: -2px;
            font-size: 15px;
        }

        .sc-type {
            font-weight: 700;
            color: var(--c-secondary);
        }

        .sc-name {
            font-weight: 600;
        }
        @media (max-width: $xs-max) {
            font-size: 14px;
        }
    }

    &__availability {
        grid-area: avail;
        width: 220px;
    }

    &__quantity {
        & {
            grid-area: quantity;
            width: 140px;
        }
        @media (max-width: $xs-max) {
            width: 110px;
        }
    }

    &__price {
        & {
            grid-area: price;
            width: 200px;
            text-align: right;
        }

        .sc-actual {
            &.is-free {
                color: var(--c-green);
            }
        }
        @media (max-width: $sm-max) {
            width: 125px;
        }
        @media (max-width: $xs-max) {
            width: 100%;
        }
    }

    &__actions {
        grid-area: actions;
        width: 74px;
    }

    &.is-gift {
        background-color: var(--c-bg-secondary);
        border-left-color: var(--c-secondary);
    }

    &.is-combideal {
        background-color: var(--c-success-bg);
        border-left-color: var(--c-green);
    }

    &.is-slider {
        .sc-combideal {
            & {
                display: flex;
                gap: 0 35px;
                align-items: center;
                width: 100%;
            }

            &__title {
                max-width: 200px;
            }

            &__content {
                & {
                    flex: 1;
                    min-width: 0;
                }

                .c-products-slider__buttons {
                    display: none;
                }
            }
        }
    }
    @media (max-width: $sm-max) {
        &.is-slider {
            .sc-combideal {
                &__title {
                    width: 155px;
                }
            }
        }
    }
    @media (max-width: $xs-max) {
        &.is-gift {
            .c-product-promotion__info {
                grid-row: product/quantity;
            }

            .c-product-promotion__price {
                grid-row: actions/price;
            }
        }

        &:not(.is-slider) {
            display: grid;
            grid-template:
                "image product  product actions" auto
                "image avail    avail   avail" auto
                "image quantity price   price" auto
                / 46px 110px    minmax(0,1fr)    auto;
            padding-right: 6px;
        }
    }
    @media (max-width: $txs-max) {
        &.is-slider {
            .sc-combideal {
                & {
                    display: block;
                }

                &__title {
                    width: 100%;
                    padding-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}