@use "./../../../init" as *;

@use "./shopping_header";
@use "./recap";
@use "./shopping_buttons";

.l-shopping {
    & {
        display: grid;
        grid-template:
            ".     header          header   ." auto
            ".     messages        messages ." auto
            ".     content         aside    ." minmax(0, 1fr)
            ".     buttons         buttons  ." auto
            / 70px minmax(0, 1fr) auto 70px
        ;
    }

    &.is-success {
        grid-template:
            ".    content ." minmax(0, 1fr)
            ".    buttons ." auto
            / 1fr 800px   1fr
        ;
    }
    @media (max-width: $sm-max) {
        display: grid;
        grid-template:
            "header          header" auto
            "messages        messages" auto
            "content         aside" minmax(0, 1fr)
            "buttons         buttons" auto
            / minmax(0, 1fr) auto
        ;
    }
    @media (max-width: $xs-max) {
        & {
            grid-template:
                "aside" auto
                "header" auto
                "messages" auto
                "content" minmax(0, 1fr)
                "buttons" auto
                / minmax(0, 1fr);
        }

        &.is-success {
            grid-template:
                "content" minmax(0, 1fr)
                "buttons" auto
                / 1fr
            ;
        }
    }

    &__header {
        & {
            grid-area: header;
            padding-top: 40px;
            margin-bottom: 50px;
        }
        @media (max-width: $xs-max) {
            padding-top: 0;
            margin-bottom: 30px;
        }
    }

    &__messages {
        & {
            grid-area: messages;
        }

        .c-msg {
            & {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 44px;
                padding: 20px;
                font-weight: 700;
            }

            &:last-child {
                margin-bottom: 40px;
            }
        }
        @media (max-width: $xs-max) {
            .c-msg {
                padding: 15px 20px;
                font-size: 12px;
            }
        }
    }

    &__content {
        grid-area: content;
        margin-bottom: 60px;
    }

    &__aside {
        & {
            grid-area: aside;
            padding-left: 100px;
            margin-bottom: 60px;
            margin-left: 100px;
            border-left: 1px solid var(--c-border);
        }

        &.has-smaller-gap {
            padding-left: 0;
            margin-left: 60px;
            border-left: none;
        }
        @media (max-width: $sm-max) {
            padding-left: 50px;
            margin-left: 50px;
        }
        @media (max-width: $xs-max) {
            & {
                padding-left: 0;
                margin-bottom: 0;
                margin-left: 0;
                border-left: none;
            }

            &.has-smaller-gap {
                margin-left: 0;
            }
        }
    }

    &__buttons {
        & {
            grid-area: buttons;
            margin-bottom: 80px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 20px;
        }
    }
}