@use "./../../../init" as *;

.c-recap-products {
    @media (min-width: $sm-min) {
        &:not(.is-expanded) {
            .c-recap-products__item {
                &:nth-child(n+6) {
                    display: none;
                }
            }
        }

        &.is-expanded {
            .c-recap-products__list {
                width: calc(100% + 20px);
                max-height: 445px;
                padding-right: 20px;
                margin-right: -20px;
                overflow: auto;
            }

            .c-recap-products__more .c-btn .ico {
                transform: rotate(-180deg);
            }
        }
    }
    @media (max-width: $xs-max) {
        &:not(.is-active) {
            display: none;
        }

        .c-recap-products__list {
            width: calc(100% + 20px);
            max-height: 235px;
            padding-right: 20px;
            padding-bottom: 20px;
            margin-right: -20px;
            overflow: auto;
        }

        .c-recap-products__more {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__img {
        & {
            width: 50px;
            height: 50px;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        @media (max-width: $xs-max) {
            width: 40px;
        }
    }

    &__info {
        & {
            flex: 1;
            min-width: 0;
        }

        .sc-name {
            @include maxLines(2);

            font-weight: 600;
        }

        .sc-info {
            & {
                font-size: 12px;
                font-weight: 600;
                color: var(--c-grey);
            }

            .sc-properties {
                & {
                    display: flex;
                    white-space: nowrap;
                }

                &__item {
                    & {
                        display: flex;
                        align-items: center;
                    }

                    &:not(:first-child)::before {
                        display: block;
                        width: 1px;
                        height: 15px;
                        margin: 0 10px;
                        content: "";
                        background-color: var(--c-border);
                        opacity: .35;
                    }
                }
            }
        }
        @media (max-width: $xs-max) {
            .sc-name {
                font-size: 13px;
            }
        }
    }

    &__quantity {
        width: 40px;
        font-size: 13px;
        font-weight: 600;
        text-align: right;
    }

    &__price {
        width: 80px;
        font-weight: 700;
        text-align: right;
    }

    &__more {
        .c-btn {
            & {
                justify-content: center;
                width: 100%;
                height: 50px;
                margin-top: 20px;
                font-weight: 600;
            }

            .ico {
                @include icoSize(10px);
            }
        }
    }
}