@use "./../../../init" as *;

.c-recap-summary {
    &__list {
        display: grid;
        gap: 6px 0;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid var(--c-border);
    }

    &__item {
        & {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            font-size: 15px;
        }

        .sc-value {
            &.is-green {
                color: var(--c-green);
            }

            &.is-red {
                color: var(--c-red);
            }
        }

        &.is-bigger {
            & {
                padding: 4px 0;
                font-weight: 700;
            }

            .sc-key {
                font-size: 16px;
            }

            .sc-value {
                font-size: 18px;
            }
        }

        &.is-faded {
            color: var(--c-grey);
        }
    }
}