@use "./../../init" as *;

@use "./recap_products";
@use "./recap_summary";

.c-recap {
    & {
        width: 480px;
        padding: 30px 40px;
        background-color: var(--c-bg);
    }
    @media (min-width: $sm-min) {
        position: sticky;
        top: var(--container-padding);
    }
    @media (max-width: $sm-max) {
        width: 420px;
    }
    @media (max-width: $xs-max) {
        width: calc(100% + 2 * var(--container-padding));
        padding: 0 var(--container-padding);
        margin: 0 var(--container-padding-negative);
    }

    &__trigger {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            font-weight: 700;
        }

        .sc-text {
            & {
                display: flex;
                gap: 7px;
                align-items: center;
                font-size: 13px;
            }

            .ico {
                @include icoSize(9px);
            }
        }

        .sc-price {
            font-size: 15px;
        }
        @media (min-width: $sm-min) {
            display: none;
        }
    }

    &__title {
        & {
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__products {
        & {
            margin-bottom: 20px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 0;
        }
    }

    &__summary {
        @media (max-width: $xs-max) {
            display: none;
        }
    }
}