@use "./../../init" as *;

.c-shopping-buttons {
    & {
        display: flex;
        gap: 0 20px;
        align-items: flex-start;
        justify-content: space-between;
    }
    @media (max-width: $cxs-max) {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    &__item {
        & {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .c-btn {
            & {
                height: 58px;
                padding: 0 25px;
                font-weight: 700;
            }

            .sc-text {
                & {
                    white-space: nowrap;
                }

                small {
                    display: block;
                    padding-top: 2px;
                    font-size: 13px;
                    font-weight: 500;
                }
            }

            .ico {
                @include icoSize(10px);

                font-weight: 700;
            }
        }

        .sc-note {
            & {
                max-width: 390px;
                font-size: 13px;
                line-height: 1.5;
                text-align: right;
            }

            .c-link {
                & {
                    text-decoration: underline;
                }
                @include hover {
                    text-decoration: none;
                }
            }
        }
        @media (max-width: $xs-max) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        @media (max-width: $cxs-max) {
            & {
                align-items: center;
            }

            .sc-note {
                margin-bottom: 30px;
                text-align: center;
            }

            .c-btn {
                & {
                    justify-content: center;
                    width: 100%;
                    padding: 0 15px;
                }

                &--ghost {
                    & {
                        color: var(--c-grey);
                        border: none;
                    }
                    @include hover {
                        color: var(--c-secondary);
                    }
                }
            }
        }
    }

    &.is-first-step {
        .c-shopping-buttons__item {
            form {
                width: 100%;
            }
        }
    }

    &.is-third-step {
        .c-shopping-buttons__item {
            .c-btn--cart {
                .sc-text {
                    & {
                        text-transform: uppercase;
                    }

                    small {
                        text-transform: none;
                    }
                }
            }
        }
    }

    &.is-fourth-step {
        justify-content: center;
    }
}
