
@use "./../../../init" as *;

@use "./steps";

.c-shopping-header {
    & {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: $xs-max) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    &__title {
        h1 {
            margin-bottom: 0;
            font-size: 36px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            h1 {
                font-size: 26px;
            }
        }
    }

    &__steps {
        @media (max-width: $xs-max) {
            display: flex;
            width: calc(100% + 2 * var(--container-padding));
            height: 60px;
            padding: 0 var(--container-padding);
            margin: 0 var(--container-padding-negative);
            border-bottom: 1px solid var(--c-border);
        }
    }
}