@use "./../../init" as *;

.c-steps {
    & {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1px;
        margin-bottom: 0;
        overflow: visible;
    }
    @media (max-width: $cxs-max) {
        gap: 0 17px;
    }

    &__item {
        & {
            display: flex;
            align-items: center;
            pointer-events: none;
        }

        .c-link {
            & {
                display: flex;
                gap: 10px;
                align-items: center;
                text-decoration: none;
            }

            .sc-text {
                font-size: 15px;
                font-weight: 600;
                color: var(--c-grey);
            }

            .sc-number {
                position: relative;
                display: flex;
                flex: 0 0 auto;
                align-items: center;
                justify-content: center;
                width: 36px;
                min-width: 0;
                height: 36px;
                padding: 0;
                font-size: 15px;
                font-weight: 600;
                color: var(--c-grey);
                background: var(--c-bg);
                border-radius: 18px;
            }
        }
        @media (min-width: $xs-min) {
            &:not(:last-child)::after {
                @include icoSize(12px);

                padding-top: 1px;
                margin: 0 30px;
                font-family: $f_icomoon;
                color: var(--c-border);
                content: unicode($ico-chevron-right);
            }
        }
        @media (max-width: $xs-max) {
            &:not(:last-child)::after {
                margin: 0 20px;
            }

            .c-link {
                & {
                    gap: 0 6px;
                }

                .sc-text {
                    font-size: 14px;
                }

                .sc-number {
                    top: -1px;
                    width: 24px;
                    height: 24px;
                    font-size: 12px;
                    border-radius: 12px;
                }
            }
        }
    }

    &--first .c-steps__item--first,
    &--second .c-steps__item--second,
    &--third .c-steps__item--third {
        &.c-steps__item {
            .c-link {
                .sc-text {
                    color: var(--c-primary);
                }

                .sc-number {
                    color: var(--c-white);
                    background-color: var(--c-primary);
                }
            }
        }
    }

    &--second .c-steps__item--first,
    &--third .c-steps__item--first,
    &--third .c-steps__item--second {
        &.c-steps__item {
            & {
                pointer-events: all;
            }

            .c-link {
                .sc-text {
                    color: var(--c-cart);
                }

                .sc-number {
                    & {
                        color: var(--c-white);
                        background-color: var(--c-cart);
                    }

                    &::before {
                        & {
                            @include icoSize(13px);

                            font-family: $f_icomoon;
                            content: unicode($ico-tick);
                        }
                        @media (max-width: $xs-max) {
                            @include icoSize(11px);
                        }
                    }

                    span {
                        display: none;
                    }
                }
                @include hover(true) {
                    .sc-text {
                        color: var(--c-secondary);
                    }

                    .sc-number {
                        color: var(--c-white);
                        background-color: var(--c-secondary);
                    }
                }
            }
        }
    }
}
