@use "./../../init" as *;

@use "./../../components/molecules/r_tabs";
@use "./../../components/molecules/breadcrumb";

@use "./../../components/compare/comparison_header";
@use "./../../components/compare/comparison_content";

.l-comparison {
    &__breadcrumb {
        margin-bottom: 50px;
    }

    &__header {
        margin-bottom: 50px;
    }

    &__content {

    }
}