@use "../../init" as *;

@use "selected_branch";

.c-map-pickup {
    & {
        position: relative;
        display: flex;
        width: 100%;
        overflow: hidden;
        line-height: 1.25;
        border-radius: 4px;
    }
    @media (max-width: $xs-max) {
        border-radius: 0;
    }
    @media (max-width: $txs-max) {
        flex-direction: column-reverse;
    }

    &__aside {
        & {
            position: relative;
            display: flex;
            flex: 0 0 400px;
            flex-direction: column;
            min-width: 0;
            min-height: 0;
            overflow: hidden;
            background-color: #fff;
        }
        @media (max-width: $sm-max) {
            flex: 0 0 350px;
        }
        @media (max-width: $xs-max) {
            flex: 0 0 300px;
        }
        @media (max-width: $txs-max) {
            & {
                flex: 0 0 min(300px, 60%);
                overflow: visible;
                transition: all 0.3s ease;
                will-change: height, flex-basis;
            }

            &.is-expanded {
                flex: 0 0 calc(100% - 70px);
            }
        }
    }

    &__expand {
        & {
            position: relative;
            z-index: 3;
            display: none;
            flex: 0 0 34px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 34px;
            padding: 0 10px;
            margin: 0;
            background: #fff;
            border: none;
            border-bottom: 1px solid $c_border;
        }

        i {
            font-size: 10px;
        }
        @media (max-width: $txs-max) {
            & {
                display: flex;
            }

            &.is-expanded i {
                transform: rotate(180deg);
            }
        }
    }

    &__head {
        & {
            z-index: 2;
            flex: 0 0 auto;
            padding: 16px 24px;
            box-shadow: 0 0 20px rgba(#000, 0.2);
        }
        @media (max-width: $txs-max) {
            padding-top: 12px;
        }
    }

    &__title {
        margin-bottom: 12px;
        font-family: $f_secondary;
        font-size: 18px;
        font-weight: 500;
    }

    &__search {
        .c-form__item {
            margin: 0;
        }
    }

    &__branches {
        & {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            min-height: 0;
        }

        .c-msg {
            display: block;
            height: auto;
            margin: 24px;
        }

        & > div {
            @include scrollbar;

            & {
                height: 100%;
                overflow: hidden scroll;
            }
        }
    }

    &__map {
        & {
            flex: 1 1 auto;
            min-width: 0;
            background-color: #e5e3df;
        }

        .sc-map {
            & {
                width: 100%;
                height: 100%;
            }

            .sc-custom-clusterer {
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                cursor: pointer;
                background: #e70025;
                border-radius: 50px;
                box-shadow: 0 3px 6px 0 rgba(#000, 0.2);
            }

            &.smap {
                .compass {
                    display: none;
                }

                .zoom {
                    & {
                        top: unset;
                        right: 10px;
                        bottom: 36px;
                        width: auto;
                    }

                    .zoom-menu {
                        display: none;
                    }

                    .button-group {
                        & {
                            position: relative;
                            display: flex;
                            flex-direction: column-reverse;
                            gap: 3px;
                        }

                        button {
                            & {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 36px;
                                height: 36px;
                                padding: 0;
                                overflow: hidden;
                                color: $c_font;
                                background: #fff;
                                border-radius: 2px;
                                box-shadow: rgba(#000, 0.3) 0 1px 4px -1px;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                img {
                    & {
                        z-index: 2;
                        max-width: unset;
                        max-height: unset;
                    }

                    &[src$="selected.svg"] {
                        z-index: 10;
                        animation: mapPin 0.65s infinite alternate
                            cubic-bezier(0, 0, 0.2, 1);
                    }
                }
            }
        }
        @media (max-width: $txs-max) {
            &.is-expanded > * {
                pointer-events: none;
            }
        }
    }

    &__info {
        flex: 0 0 auto;
    }
}

.c-pickup-map-branch {
    & {
        display: grid;
        flex: 0 0 auto;
        grid-template:
            "street distance" auto
            "name   name" auto
            / 1fr auto;
        gap: 4px 12px;
        align-items: baseline;
        width: 100%;
        padding: 16px 24px;
        margin: 0;
        line-height: 1;
        text-align: left;
        background: transparent;
        border: none;
        border-right: 1px solid $c_border;
        border-bottom: 1px solid $c_border;
        transition: all 0.2s ease;
    }

    &__street {
        @include textOverflow;

        grid-area: street;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: $c_dark_grey;
    }

    &__name {
        @include textOverflow;

        grid-area: name;
        font-family: $f_secondary;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &__distance {
        & {
            display: flex;
            grid-area: distance;
            align-items: center;
            font-size: 10px;
            font-weight: 600;
            color: $c_dark_grey;
        }

        .ico {
            margin-right: 5px;
            font-size: 10px;
        }
    }

    &.is-selected {
        color: $c_primary;
    }

    &:hover {
        color: $c_primary;
        background-color: $c_bg;
    }
}
