@use "./../../init" as *;

@use "./../../components/modal/branches";
@use "./map_pickup";

.c-module-dependencies {
    & {
        width: 100%;
    }

    .c-form-radio {
        & {
            position: relative;
            margin-bottom: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 6px;
        }

        & > input[type="radio"] {
            & {
                @include hide;
            }

            & + label {
                & {
                    display: flex;
                    padding: 12px 12px 12px 40px;
                    margin: 0;
                    font-weight: 700;
                    cursor: pointer;
                    background-color: var(--c-white);
                    border: 1px solid var(--c-border);
                    border-radius: 2px;
                    transition: border-color .2s ease;
                }

                strong {
                    font-weight: 700;
                }

                .sc-text {
                    width: 100%;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 18px;
                    height: 18px;
                    margin: auto;
                    font-family: $f_icomoon;
                    font-size: 8px;
                    color: transparent;
                    content: unicode($ico-tick);
                    background: #fff;
                    border: 1px solid var(--c-border);
                    border-radius: 50%;
                    transition: color .2s ease;
                }
                @include hover {
                    border-color: var(--c-primary);
                }
            }

            &:checked + label {
                & {
                    background: #f4f0de;
                    border-color: rgba(#a5944a, .5);
                }

                &::before {
                    color: #fff;
                    background: var(--c-secondary);
                    border-color: var(--c-secondary);
                }
            }
            @media (max-width: $cxs-max) {
                & + label {
                    & {
                        padding: 6px 12px 6px 36px;
                        font-size: 12px;
                    }

                    &::before {
                        left: 11px;
                        width: 16px;
                        height: 16px;
                        font-size: 6px;
                    }
                }
            }
        }
    }

    &__branches {
        .c-form__label {
            & {
                align-items: center;
            }
        }

        .sc-branch {
            & {
                display: grid;
                grid-template:
                    "address         openings" 1fr
                    "time            openings" auto
                    / minmax(0, 1fr) auto
                ;
                gap: 0 15px;
                align-items: center;
                width: 100%;
                font-weight: 500;
            }

            &__address {
                grid-area: address;
                font-size: 14px;
                font-weight: 600;
            }

            &__time {
                grid-area: time;
                font-size: 13px;
            }

            &__openings {
                & {
                    grid-area: openings;
                    width: 115px;
                    font-size: 12px;
                    font-weight: 600;
                    color: var(--c-grey);
                    text-align: right;
                }

                .branch-day {
                    float: left;
                    padding-right: 4px;
                    clear: left;
                }
            }
        }
        @media (max-width: $cxs-max) {
            .c-form__label {
                flex-direction: column;
                align-items: flex-start;
            }

            .sc-branch {
                & {
                    grid-template:
                        "address" 1fr
                        "time" auto
                        "openings" auto
                        / minmax(0, 1fr);
                }

                &__openings {
                    text-align: left;
                }
            }
        }
    }

    &__pickup {
        .sc-empty {
            margin-bottom: 15px;
            font-size: 13px;
            font-weight: 600;
        }

        .sc-selected {
            & {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
            }

            &__title {
                margin-bottom: 7px;
            }

            &__branch {
                margin-bottom: 2px;
                font-weight: 700;
            }

            &__address {
            }
        }

        .c-btn {
            height: 32px;
            font-size: 13px;
            background-color: var(--c-white);
        }
    }
}