@use "./../../init" as *;

.c-module-head {
    & {
        display: flex;
        gap: 0 20px;
        align-items: center;
        min-height: 64px;
        padding: 14px 20px 14px 58px;
    }
    @media (max-width: $cxs-max) {
        min-height: 54px;
        padding: 12px 15px 12px 50px;
    }

    &__info {
        & {
            flex: 1;
            min-width: 0;
        }

        .sc-name {
            font-size: 15px;
            font-weight: 700;
        }

        .sc-desc {
            display: none;
        }
        @media (max-width: $cxs-max) {
            .sc-name {
                font-size: 14px;
            }
        }
    }

    &__image {
        & {
            max-width: 100px;
        }

        .c-img {
            width: auto;
            height: auto;
            max-height: 30px;
            mix-blend-mode: multiply;
        }
        @media (max-width: $cxs-max) {
            display: none;
        }
    }

    &__note {
        & {
            width: 90px;
            font-size: 13px;
            text-align: right;
        }
        @media (max-width: $cxs-max) {
            display: none;
        }
    }

    &__price {
        & {
            width: 60px;
            font-size: 15px;
            font-weight: 700;
            text-align: right;
        }

        &.is-free {
            color: var(--c-green);
        }
    }
}