@use "./../../init" as *;

@use "./module_head";
@use "./module_dependencies";

.c-modules {
    &__section {
        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .sc-important {
            & {
                padding: 20px;
                font-size: 13px;
                line-height: 1.5;
                text-align: left;
                background-color: $c_bg;
                border-radius: 3px;
            }

            &__title {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 700;
            }

            p {
                margin-bottom: 20px;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: $cxs-max) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__title {
        & {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            font-size: 18px;
        }
    }

    &__messages {

    }

    &__list {
        display: grid;
        gap: 10px;
    }

    &__item {
        & {
            position: relative;
        }

        & > input[type="radio"] {
            @include hide;

            display: none;
        }

        & > input[type="radio"]:checked + .c-modules__label,
        .c-modules__label.is-checked {
            & {
                background: var(--c-success-bg);
                border-color: var(--c-success-font);
            }

            &::before {
                color: #fff;
                content: unicode($ico-tick);
                background: var(--c-secondary);
                border-color: var(--c-secondary);
            }

            .c-modules {
                &__body {
                    display: flex;
                }
            }

            &.has-caret {
                & {
                    background-color: var(--c-white);
                }

                &::before {
                    color: var(--c-grey);
                    content: unicode($ico-chevron-up);
                    background: transparent;
                }
            }
            @include hover {
                border-color: var(--c-black);
            }
            @media (max-width: $xs-max) {
                &::before {
                    font-size: 10px;
                }
            }
        }

        & > input[type="radio"]:disabled + .c-modules__label {
            & {
                pointer-events: none;
                border-color: var(--c-border);
            }

            &::before,
            & > * {
                opacity: .3;
            }
        }

        &.is-hidden {
            display: none;
        }
    }

    &__label {
        & {
            display: block;
            margin: 0;
            cursor: pointer;
            background-color: var(--c-white);
            border: 1px solid var(--c-border);
            transition: all .2s ease;
            transition-property: border-color, background-color;
        }

        &::before {
            position: absolute;
            top: 22px;
            left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            padding-left: 1px;
            font-family: $f_icomoon;
            font-size: 12px;
            color: transparent;
            content: unicode($ico-tick);
            background: transparent;
            border: 1px solid var(--c-border);
            border-radius: 50%;
            transition: all .2s ease;
        }

        &.has-caret::before {
            font-size: 16px;
            color: var(--c-grey);
            content: unicode($ico-chevron-down);
            border: none;
            transition: none;
        }
        @include hover {
            border-color: var(--c-primary);
        }
        @media (max-width: $cxs-max) {
            &::before {
                top: 18px;
                left: 15px;
                width: 20px;
                height: 20px;
                padding-left: 0;
            }

            &.has-caret::before {
                padding-top: 1px;
                font-size: 12px;
            }
        }
    }

    &__head {

    }

    &__body {
        & {
            display: none;
            padding: 0 20px 14px 58px;
        }
        @media (max-width: $cxs-max) {
            padding: 0 20px 10px 43px;
        }
    }
}