@use "../../init" as *;

.c-selected-branch {
    & {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    &.slide-enter-active,
    &.slide-leave-active {
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.slide-enter,
    &.slide-leave-to {
        transform: translateX(100%);
    }
    @media (max-width: $txs-max) {
        & {
            top: 34px;
            display: grid;
            grid-template:
                "content content" 1fr
                "back    select" auto
                / 1fr 1fr;
            height: calc(100% - 34px);
        }

        &.slide-enter,
        &.slide-leave-to {
            transform: translateY(100%);
        }
    }

    &__back {
        & {
            display: flex;
            grid-area: back;
            justify-content: center;
            height: auto;
            padding: 16px 24px;
            margin: 24px;
            border: none;
            transition: all 0.2s ease;
        }

        i {
            margin-right: 10px;
            font-size: 11px;
        }
        @media (max-width: $txs-max) {
            & {
                padding: 12px 18px;
                margin: 16px 8px 16px 16px;
            }
        }
    }

    &__content {
        @include scrollbar;

        & {
            flex: 1 1 auto;
            grid-area: content;
            min-height: 0;
            padding: 12px 24px;
            overflow: auto;
        }

        hr {
            margin: 20px 0;
            border: none;
            border-top: 1px solid $c_border;
        }
        @media (max-width: $txs-max) {
            padding: 16px;
            border-bottom: 1px solid $c_border;
        }
    }

    &__place {
        margin-bottom: 7px;
        font-size: 12px;
        font-weight: 500;
        color: $c_primary;
        text-transform: uppercase;
    }

    &__name {
        margin-bottom: 10px;
        font-family: $f_secondary;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
    }

    &__distance {
        & {
            display: flex;
            align-items: center;
            margin-top: -6px;
            margin-bottom: 16px;
            font-size: 12px;
            font-weight: 600;
            color: $c_grey;
        }

        .ico {
            margin-right: 5px;
            font-size: 10px;
        }
    }

    &__info {
        & {
            margin-bottom: 20px;
            word-break: break-word;
        }

        .is-label {
            display: block;
            margin-bottom: 4px;
            font-family: $f_secondary;
            font-size: 16px;
            font-weight: 500;
        }

        .c-link {
            font-weight: 500;
        }
    }

    &__openings {
        .is-opening {
            display: flex;
        }

        .is-day {
            flex: 0 0 36px;
            font-weight: 500;
        }

        .is-time {
            flex: 1 1 auto;
            min-width: 0;
        }
    }

    &__select {
        & {
            flex: 0 0 auto;
            grid-area: select;
            justify-content: center;
            height: auto;
            min-height: 0;
            padding: 16px 24px 17px;
            margin: 24px;
            font-size: 15px;
            color: #fff;
            border: none;
        }

        &:hover,
        &:focus {
            color: #fff;
            background: $c_primary;
        }
        @media (max-width: $txs-max) {
            padding: 12px 18px;
            margin: 16px 16px 16px 8px;
            font-size: 13px;
        }
    }
}
