@use "./../init" as *;

$fontAwesomeIcons: (
    "fa-chevron-down": $ico-fa-chevron-down,
    "fa-arrow-up": $ico-fa-arrow-up,
    "fa-bars": $ico-fa-bars,
    "fa-caret-right": $ico-fa-caret-right,
    "fa-chevron-left": $ico-fa-chevron-left,
    "fa-chevron-right": $ico-fa-chevron-right,
    "fa-chevron-up": $ico-fa-chevron-up,
    "fa-download": $ico-fa-download,
    "fa-facebook": $ico-fa-facebook,
    "fa-google-plus": $ico-fa-google-plus,
    "fa-info-circle": $ico-fa-info-circle,
    "fa-lightbulb-o": $ico-fa-lightbulb-o,
    "fa-paper-plane": $ico-fa-paper-plane,
    "fa-plus": $ico-fa-plus,
    "fa-print": $ico-fa-print,
    "fa-sliders": $ico-fa-sliders,
    "fa-th": $ico-fa-th,
    "fa-times": $ico-fa-times,
    "fa-unsorted": $ico-fa-unsorted,
    "fa-user-plus": $ico-fa-user-plus,
    "fa-users": $ico-fa-users,
    "fa-check": $ico-fa-check,
    "fa-var-check": $ico-fa-check,
    "fa-trash": $ico-fa-trash,
);

.fa {
    @include fnt(
        (
            ff: $f_icomoon,
        )
    );

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico,
.fa {
    @each $name, $ico in $fontAwesomeIcons {
        &.#{$name}:before {
            content: unicode($ico);
        }
    }
}
