@use "./../init" as *;

/* cyrillic */
// @font-face {
//   font-family: 'Jost';
//   font-style: normal;
//   font-weight: 400 800;
//   font-display: swap;
//   src: url("#{$p_fonts}Jost/jost-cyrillic.woff2") format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }

/* latin-ext */
// @font-face {
//   font-family: 'Jost';
//   font-style: normal;
//   font-weight: 400 800;
//   font-display: swap;
//   src: url("#{$p_fonts}Jost/jost-latin-ext.woff2") format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }

/* latin */
// @font-face {
//   font-family: 'Jost';
//   font-style: normal;
//   font-weight: 400 800;
//   font-display: swap;
//   src: url("#{$p_fonts}Jost/jost-latin.woff2") format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
