@use "../init" as *;$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;
$ico-dot: unquote('\\e906');
$ico-x: unquote('\\e907');
$ico-minus: unquote('\\e903');
$ico-fa-plus: unquote('\\e904');
$ico-plus: unquote('\\e904');
$ico-cross-circle: unquote('\\e905');
$ico-chevron-down1: unquote('\\e901');
$ico-chevron-up1: unquote('\\e902');
$ico-tick1: unquote('\\e900');
$ico-fa-chevron-down: unquote('\\e956');
$ico-chevron-down: unquote('\\e956');
$ico-fa-trash: unquote('\\e93c');
$ico-trash: unquote('\\e93c');
$ico-fa-smile-o: unquote('\\e93d');
$ico-fa-frown-o: unquote('\\e93e');
$ico-fa-check: unquote('\\e93f');
$ico-tick: unquote('\\e93f');
$ico-fa-group: unquote('\\e940');
$ico-fa-users: unquote('\\e940');
$ico-fa-user-plus: unquote('\\e941');
$ico-fa-sort: unquote('\\e942');
$ico-fa-unsorted: unquote('\\e942');
$ico-fa-close: unquote('\\e943');
$ico-fa-remove: unquote('\\e943');
$ico-fa-times: unquote('\\e943');
$ico-close: unquote('\\e943');
$ico-delete: unquote('\\e943');
$ico-fa-th: unquote('\\e944');
$ico-fa-sliders: unquote('\\e945');
$ico-filter: unquote('\\e945');
$ico-fa-shopping-cart: unquote('\\e946');
$ico-shopping-cart: unquote('\\e946');
$ico-fa-search: unquote('\\e947');
$ico-search: unquote('\\e947');
$ico-fa-print: unquote('\\e948');
$ico-print: unquote('\\e948');
$ico-fa-paper-plane: unquote('\\e94a');
$ico-fa-send: unquote('\\e94a');
$ico-fa-lightbulb-o: unquote('\\e94b');
$ico-fa-info-circle: unquote('\\e94c');
$ico-fa-google-plus: unquote('\\e94d');
$ico-fa-facebook: unquote('\\e94e');
$ico-fa-facebook-f: unquote('\\e94e');
$ico-fa-download: unquote('\\e94f');
$ico-download: unquote('\\e94f');
$ico-fa-chevron-right: unquote('\\e950');
$ico-chevron-right: unquote('\\e950');
$ico-fa-chevron-up: unquote('\\e951');
$ico-chevron-up: unquote('\\e951');
$ico-fa-chevron-left: unquote('\\e952');
$ico-chevron-left: unquote('\\e952');
$ico-fa-caret-right: unquote('\\e953');
$ico-fa-bars: unquote('\\e954');
$ico-fa-navicon: unquote('\\e954');
$ico-fa-reorder: unquote('\\e954');
$ico-fa-arrow-up: unquote('\\e955');
$ico-arrow-up: unquote('\\e955');




@font-face {
  font-family: '#{$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qvl937') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qvl937') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qvl937##{$icomoon-font-family}') format('svg');
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-dot {
  &::before {
    content: unicode($ico-dot); 
  }
}

.ico-x {
  &::before {
    content: unicode($ico-x); 
  }
}

.ico-minus {
  &::before {
    content: unicode($ico-minus); 
  }
}

.ico-fa-plus {
  &::before {
    content: unicode($ico-fa-plus); 
  }
}

.ico-plus {
  &::before {
    content: unicode($ico-plus); 
  }
}

.ico-cross-circle {
  &::before {
    content: unicode($ico-cross-circle); 
  }
}

.ico-chevron-down1 {
  &::before {
    content: unicode($ico-chevron-down1); 
  }
}

.ico-chevron-up1 {
  &::before {
    content: unicode($ico-chevron-up1); 
  }
}

.ico-tick1 {
  &::before {
    content: unicode($ico-tick1); 
  }
}

.ico-fa-chevron-down {
  &::before {
    content: unicode($ico-fa-chevron-down); 
  }
}

.ico-chevron-down {
  &::before {
    content: unicode($ico-chevron-down); 
  }
}

.ico-fa-trash {
  &::before {
    content: unicode($ico-fa-trash); 
  }
}

.ico-trash {
  &::before {
    content: unicode($ico-trash); 
  }
}

.ico-fa-smile-o {
  &::before {
    content: unicode($ico-fa-smile-o); 
  }
}

.ico-fa-frown-o {
  &::before {
    content: unicode($ico-fa-frown-o); 
  }
}

.ico-fa-check {
  &::before {
    content: unicode($ico-fa-check); 
  }
}

.ico-tick {
  &::before {
    content: unicode($ico-tick); 
  }
}

.ico-fa-group {
  &::before {
    content: unicode($ico-fa-group); 
  }
}

.ico-fa-users {
  &::before {
    content: unicode($ico-fa-users); 
  }
}

.ico-fa-user-plus {
  &::before {
    content: unicode($ico-fa-user-plus); 
  }
}

.ico-fa-sort {
  &::before {
    content: unicode($ico-fa-sort); 
  }
}

.ico-fa-unsorted {
  &::before {
    content: unicode($ico-fa-unsorted); 
  }
}

.ico-fa-close {
  &::before {
    content: unicode($ico-fa-close); 
  }
}

.ico-fa-remove {
  &::before {
    content: unicode($ico-fa-remove); 
  }
}

.ico-fa-times {
  &::before {
    content: unicode($ico-fa-times); 
  }
}

.ico-close {
  &::before {
    content: unicode($ico-close); 
  }
}

.ico-delete {
  &::before {
    content: unicode($ico-delete); 
  }
}

.ico-fa-th {
  &::before {
    content: unicode($ico-fa-th); 
  }
}

.ico-fa-sliders {
  &::before {
    content: unicode($ico-fa-sliders); 
  }
}

.ico-filter {
  &::before {
    content: unicode($ico-filter); 
  }
}

.ico-fa-shopping-cart {
  &::before {
    content: unicode($ico-fa-shopping-cart); 
  }
}

.ico-shopping-cart {
  &::before {
    content: unicode($ico-shopping-cart); 
  }
}

.ico-fa-search {
  &::before {
    content: unicode($ico-fa-search); 
  }
}

.ico-search {
  &::before {
    content: unicode($ico-search); 
  }
}

.ico-fa-print {
  &::before {
    content: unicode($ico-fa-print); 
  }
}

.ico-print {
  &::before {
    content: unicode($ico-print); 
  }
}

.ico-fa-paper-plane {
  &::before {
    content: unicode($ico-fa-paper-plane); 
  }
}

.ico-fa-send {
  &::before {
    content: unicode($ico-fa-send); 
  }
}

.ico-fa-lightbulb-o {
  &::before {
    content: unicode($ico-fa-lightbulb-o); 
  }
}

.ico-fa-info-circle {
  &::before {
    content: unicode($ico-fa-info-circle); 
  }
}

.ico-fa-google-plus {
  &::before {
    content: unicode($ico-fa-google-plus); 
  }
}

.ico-fa-facebook {
  &::before {
    content: unicode($ico-fa-facebook); 
  }
}

.ico-fa-facebook-f {
  &::before {
    content: unicode($ico-fa-facebook-f); 
  }
}

.ico-fa-download {
  &::before {
    content: unicode($ico-fa-download); 
  }
}

.ico-download {
  &::before {
    content: unicode($ico-download); 
  }
}

.ico-fa-chevron-right {
  &::before {
    content: unicode($ico-fa-chevron-right); 
  }
}

.ico-chevron-right {
  &::before {
    content: unicode($ico-chevron-right); 
  }
}

.ico-fa-chevron-up {
  &::before {
    content: unicode($ico-fa-chevron-up); 
  }
}

.ico-chevron-up {
  &::before {
    content: unicode($ico-chevron-up); 
  }
}

.ico-fa-chevron-left {
  &::before {
    content: unicode($ico-fa-chevron-left); 
  }
}

.ico-chevron-left {
  &::before {
    content: unicode($ico-chevron-left); 
  }
}

.ico-fa-caret-right {
  &::before {
    content: unicode($ico-fa-caret-right); 
  }
}

.ico-fa-bars {
  &::before {
    content: unicode($ico-fa-bars); 
  }
}

.ico-fa-navicon {
  &::before {
    content: unicode($ico-fa-navicon); 
  }
}

.ico-fa-reorder {
  &::before {
    content: unicode($ico-fa-reorder); 
  }
}

.ico-fa-arrow-up {
  &::before {
    content: unicode($ico-fa-arrow-up); 
  }
}

.ico-arrow-up {
  &::before {
    content: unicode($ico-arrow-up); 
  }
}

