@use "./../init" as *;

a {
    & {
        color: $c_primary;
        text-decoration: underline;
    }

    &:focus {
        outline: auto;
    }

    &:focus:not(:focus-visible),
    &:hover:focus-visible {
        outline: none;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        color: $c_primary;
        text-decoration: none;
    }
}

button {
    &:focus {
        outline: auto;
    }

    &:focus:not(:focus-visible),
    &:hover:focus-visible {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
}

r-tabs,
r-slider,
r-more-items,
r-shorten,
r-toggle {
    display: block;
}
