@use "./../init" as *;

@media (min-width: $sm-min) {
    .mobile-is-visible,
    .desktop-is-hidden {
        display: none !important;
    }
}

@media (max-width: $xs-max) {
    .desktop-is-visible,
    .mobile-is-hidden {
        display: none !important;
    }
}

/* txs */
@media (min-width: $txs-min) {
    .txs-is-visible {
        display: none !important;
    }
}

@media (max-width: $txs-max) {
    .txs-is-hidden {
        display: none !important;
    }
}
