@use "./../init" as *;

:root {
    /* layout variables */
    --container-padding: 2rem;
    --container-padding-negative: calc(-1 * var(--container-padding));

    /* basic colors */
    --c-black: #{$c_black};
    --c-white: #{$c_white};
    --c-red: #{$c_red};
    --c-red-hover: #{$c_red_hover};
    --c-green: #{$c_green};
    --c-green-hover: #{$c_green_hover};
    --c-blue: #{$c_blue};
    --c-yellow: #{$c_yellow};
    --c-orange: #{$c_orange};
    --c-grey: #{$c_grey};
    --c-dark-grey: #{$c_dark_grey};
    --c-light-grey: #{$c_light_grey};

    /* project specific colors */
    --c-primary: #{$c_primary};
    --c-primary-hover: #{$c_primary_hover};
    --c-secondary: #{$c_secondary};
    --c-secondary-hover: #{$c_secondary_hover};
    --c-cart: #{$c_cart};
    --c-cart-hover: #{$c_cart_hover};
    --c-font: #{$c_font};
    --c-font-dark: #{$c_font_dark};
    --c-shadow: #{$c_shadow};
    --c-border: #{$c_border};
    --c-bg: #{$c_bg};
    --c-overlay: #{$c_overlay};

    /* messages / alerts colors */
    --c-error-bg: #{$c_error_bg};
    --c-error-border: #{$c_error_border};
    --c-error-font: #{$c_error_font};
    --c-success-bg: #{$c_success_bg};
    --c-success-border: #{$c_success_border};
    --c-success-font: #{$c_success_font};
    --c-warning-bg: #{$c_warning_bg};
    --c-warning-border: #{$c_warning_border};
    --c-warning-font: #{$c_warning_font};
    --c-info-bg: #{$c_info_bg};
    --c-info-border: #{$c_info_border};
    --c-info-font: #{$c_info_font};

    @media (max-width: $xs-max) {
        --header-height: 127px;
    }
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    & {
        min-width: 360px;
        overflow-x: hidden;
        font-family: $f_primary;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.25;
        -webkit-font-smoothing: antialiased;
    }

    &.is-overlayed {
        overflow: hidden;
    }
}

.l-container {
    & {
        width: 100%;
        padding: 0 var(--container-padding);
        margin: 0 auto;
    }
    @media (min-width: $md-min) {
        max-width: 1360px;
    }
}

.l-base,
.l-content {
    margin: 0;
    overflow: visible;
}
