@use "./../../../init" as *;

.c-footer-links {
    & {
        display: flex;
        gap: 12px 41px;
        align-items: center;
    }

    .c-link {
        position: relative;
    }
    @media (min-width: $sm-min) {
        .c-link {
            &:not(:last-child) {
                &::after {
                    position: absolute;
                    top: 0;
                    right: -20px;
                    bottom: 0;
                    width: 1px;
                    height: 18px;
                    margin: auto;
                    content: "";
                    background-color: var(--c-border);
                }
            }
        }
    }
    @media (max-width: $xs-max) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 12px 20px;
        align-items: flex-start;
    }
    @media (max-width: $cxs-max) {
        & {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .c-link {
            font-size: 13px;
        }
    }
}