@use "./../../../init" as *;

.c-footer-bottom {
    & {
        display: flex;
        gap: 0 30px;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: $xs-max) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    &__copyright {
        .sc-copy {
            & {
                color: var(--c-dark-grey);
            }

            &__delimiter {
                padding: 0 4px;
                color: var(--c-border);
            }
        }

        .sc-recaptcha {
            padding-top: 4px;
            font-size: 12px;
            color: var(--c-grey);
        }
        @media (max-width: $xs-max) {
            .sc-copy {
                padding-top: 2px;
                font-size: 12px;
            }

            .sc-recaptcha {
                padding-top: 7px;
            }
        }
    }

    &__created {
        & {
            color: var(--c-dark-grey);
            white-space: nowrap;
        }
        @media (max-width: $xs-max) {
            font-size: 12px;
        }
    }
}