@use "./../../../init" as *;

@use "./footer_links";
@use "./footer_bottom";

.l-footer {
    &__links {
        padding: 20px 0;
        border-top: 1px solid var(--c-border);
    }

    &__bottom {
        padding: 20px 0 30px;
        border-top: 1px solid var(--c-border);
    }
}
