@use "./../../init" as *;

.l-page {
    &__name {
        & {
            margin-bottom: 34px;
            font-size: 42px;
            font-weight: 800;
        }
        @media (max-width: $xs-max) {
            font-size: 32px;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 25px;
            font-size: 28px;
        }
    }

    &__text {
        margin-bottom: 15px;
    }
}

.c-page-socials {
    &__title {
        margin-bottom: 13px;
        font-size: 22px;
        font-weight: 600;
    }

    &__text {
        margin-bottom: 18px;
    }

    .c-btn {
        @media (max-width: $cxs-max) {
            margin-bottom: 0;
        }
    }
}

.c-page-links {
    & {
        margin-top: 15px;
    }

    .c-link {
        .ico,
        .fa {
            @include icoSize(10px);

            margin-right: 2px;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
        @include hover {
            & {
                text-decoration: none;
            }

            span {
                text-decoration: underline;
            }
        }
    }
    @media (max-width: $cxs-max) {
        padding-bottom: 15px;
    }
}