<template>
    <button
        class="c-pickup-map-branch"
        @click="onBranchClick(source.id)"
    >
        <strong class="c-pickup-map-branch__street">
            {{ source.street }}, {{ source.city }}
        </strong>

        <strong class="c-pickup-map-branch__name">
            {{ source.name }}
        </strong>

        <span class="c-pickup-map-branch__distance" v-if="getBranchDistance(source.id)">
            {{ getBranchDistance(source.id) }}
        </span>
    </button>
</template>

<script>
export default {
    name: 'branchButton',
    props: {
        index: {
            type: Number
        },
        source: {
            type: Object,
            default () {
                return {}
            }
        },
        branchesDistancesMap: {
            type: [ Object, Boolean ],
            default: false
        },
    },
    methods: {
        onBranchClick(branchId) {
            this.$parent.$parent.$emit("onBranchClick", branchId);
        },

        getBranchDistance(branchId) {
            if (this.branchesDistancesMap === false) {
                return false;
            }

            return this.branchesDistancesMap[branchId].pretty;
        },
    }
}
</script>