<template>
    <div class="c-map-pickup">
        <pickupAside
            :isExpanded="isExpanded"
            :selectedBranch="selectedBranch"
            :branchesData="branchesData"
            @onBackClick="onBackClick"
            @expandToggle="expandToggle"
            @onBranchClick="onBranchClick"
            @onBranchConfirmClick="onBranchConfirmClick"
            ref="pickupAside"
        />

        <pickupMap
            :isExpanded="isExpanded"
            :selectedBranch="selectedBranch"
            :branchesData="branchesData"
            :markerIcons="markerIcons"
            @expandToggle="expandToggle"
            @onMapLoaded="onMapLoaded"
            @onGeolocationSuccess="onGeolocationSuccess"
            @onBranchMarkerClick="onBranchMarkerClick"
            @onBeforeGeolocation="onBeforeGeolocation"
            ref="pickupMap"
        />
    </div>
</template>

<script>
import pickupMap from './pickupMap.vue'
import pickupAside from './pickupAside.vue'

export default {
    components: {
        pickupMap,
        pickupAside,
    },
    props: {
        branchesData: {
            type: Array,
            required: true,
        },
        markerIcons: {
            type: Object,
            required: true,
        },
        $modalInstance: {
            required: true,
        },
        mapTrigger: {
            required: true,
        },
        pickupInput: {
            required: true,
        },
        branchEmptyEl: {
            required: true,
        },
        branchSelectedEl: {
            required: true,
        },
        branchNameEl: {
            required: true,
        },
        branchAddressEl: {
            required: true,
        },
        shoppingModulesItemSelector: {
            type: String,
            default: '.c-modules__item',
        },
    },
    data() {
        return {
            shoppingModulesItem: null,
            shippingInputEl: null,
            selectedBranch: null,
            hadSelectedBranch: false,
            isExpanded: false,
        }
    },
    created() {
        this.shoppingModulesItem = this.pickupInput.closest(this.shoppingModulesItemSelector)
        this.shippingInputEl = this.shoppingModulesItem.querySelector('[name="shipping_id"]')

        this.shoppingModulesItem.addEventListener('click', () => {
            if (!this.pickupInput.value) {
                this.openModal()
            }
        })

        this.mapTrigger.addEventListener('click', (event) => {
            event.stopPropagation()
            this.openModal()
        })

        this.$modalInstance.on('shown.bs.modal', () => this.$refs['pickupMap'].onModalShown())
        this.$modalInstance.on('hidden.bs.modal', () => this.resetToPreviousState())
    },
    methods: {
        /**
         * Click handlers and similar
         */
        onBranchClick(branchId) {
            this.setSelectedBranchById(branchId)
        },
        onBackClick() {
            this.selectedBranch = null
        },
        onBranchMarkerClick(branchId) {
            this.setSelectedBranchById(branchId)
        },
        onBranchConfirmClick(branchId) {
            const branch = this.getBranchById(branchId)

            this.pickupInput.value = branchId

            this.branchEmptyEl.classList.add('hidden')
            this.branchSelectedEl.classList.remove('hidden')
            this.branchNameEl.innerHTML = branch.name
            this.branchAddressEl.innerHTML = branch.address

            this.shippingInputEl.click()

            this.hadSelectedBranch = true
            this.closeModal()

            window.updateObjednavky()
        },
        openModal() {
            this.$modalInstance.modal({
                backdrop: 'static',
                show: true
            })
        },
        closeModal() {
            this.$modalInstance.modal('hide')
        },
        expandToggle(bool = null) {
            if (bool !== null) {
                this.isExpanded = bool

                return
            }

            this.isExpanded = !this.isExpanded
        },
        onMapLoaded() {
            this.$modalInstance.addClass('is-loaded')
        },
        onBeforeGeolocation() {
            this.updateModalLoaderText(this.$t('PickupMapModal.geolocationInProgress'))

            this.$modalInstance.removeClass('is-loaded')
        },
        onGeolocationSuccess(coords) {
            this.$refs['pickupAside'].onGeolocationSuccess(coords)

            this.onMapLoaded()
        },
        onGeolocationError() {
            this.onMapLoaded()
        },

        /**
         * Branches
         */
        getBranchById(id) {
            return this.branchesData.find(branch => branch.id == id)
        },
        setSelectedBranchById(branchId) {
            this.selectedBranch = this.getBranchById(branchId)
        },

        /**
         * Reset methods
         */
        resetToPreviousState() {
            this.searchTerm = ''

            if (this.hadSelectedBranch) {
                this.hadSelectedBranch = false

                return
            }

            this.resetBranchFromInput()
        },
        resetBranchFromInput() {
            if (this.pickupInput.value) {
                let selectedBranch = null

                for (const branch of this.branchesData) {
                    if (branch.id == this.pickupInput.value) {
                        selectedBranch = branch

                        break
                    }
                }
            }
        },

        updateModalLoaderText(text) {
            this.$modalInstance.find('.js-modal-loader-text').text(text)
        },
    }
}
</script>
