<template>
    <div
        class="c-map-pickup__map"
        :class="{'is-expanded': isExpanded}"
        @click="expandToggle(false)"
    >
        <div class="sc-map" ref="map"></div>
    </div>
</template>

<script>
import { loadScript } from './utils'

export default {
    name: 'pickupMap',
    props: {
        isExpanded: {
            type: Boolean,
            default: false,
        },
        selectedBranch: {
            type: Object,
            default: null,
        },
        branchesData: {
            type: Array,
            required: true,
        },
        markerIcons: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            map: null,
            markersLayer: null,
            markers: {},
            currentLocationLayer: null,
            currentLocationMarker: null,
            visibleMarkersIds: [],
        }
    },
    methods: {
        onBranchMarkerClick(selectedBranchId) {
            this.$emit('onBranchMarkerClick', selectedBranchId)
        },
        expandToggle(bool = null) {
            this.$emit('expandToggle', bool)
        },
        onModalShown() {
            if (this.map) {
                this.map.syncPort()
            } else {
                this.initializeMap()
            }
        },

        addCurrentLocationMarker({ latitude, longitude }) {
            this.currentLocationLayer = new SMap.Layer.Marker()
            this.map.addLayer(this.currentLocationLayer)
            this.currentLocationLayer.enable()

            this.currentLocationMarker = new SMap.Marker(
                new SMap.Coords(longitude, latitude),
                'your_location',
                this.markerIcons.your_location
            )

            this.currentLocationLayer.addMarker(this.currentLocationMarker)
        },
        createMarkersLayer() {
            this.markersLayer = new SMap.Layer.Marker();
            this.map.addLayer(this.markersLayer).enable();
        },
        gerMarkerInstance(markerInViewport) {
            const branch = markerInViewport.properties.branch

            let markerId
            let markerIcon

            if (branch) {
                const markerIconType = this.selectedBranch && branch.id === this.selectedBranch.id
                    ? 'selected'
                    : 'normal'

                markerId = branch.id
                markerIcon = this.markerIcons[markerIconType]
            } else {
                const clustererEl = document.createElement('div')
                clustererEl.innerHTML = markerInViewport.properties.point_count
                clustererEl.classList.add('sc-custom-clusterer')

                markerId = `cluster_${markerInViewport.properties.cluster_id}`
                markerIcon = {
                    url: clustererEl,
                    size: [40, 40],
                    anchor: { left: 20, top: 20 }
                }
            }

            return new SMap.Marker(
                new SMap.Coords(
                    markerInViewport.geometry.coordinates[0],
                    markerInViewport.geometry.coordinates[1]
                ),
                markerId,
                markerIcon
            )
        },
        getMarkersFromClusterer(boundaries, zoom) {
            return this.markersClusterer.getClusters(boundaries, zoom);
        },
        createMarkersClusterer() {
            if (this.markersClusterer) {
                return
            }

            this.markersClusterer = new Supercluster({
                radius: 50,
                extent: 128,
                maxZoom: 16
            })

            let branchesData = [...this.branchesData]
            branchesData = branchesData.filter((branch) => branch.latitude && branch.longitude)
            branchesData = branchesData.map((branch) => ({
                type: 'Feature',
                properties: {
                    branch: branch,
                },
                geometry: {
                    type: 'Point',
                    coordinates: [branch.longitude, branch.latitude],
                },
            }))

            this.markersClusterer.load(branchesData);
        },
        getMarkersInViewport() {
            const mapZoom = this.map.getZoom();
            const mapViewport = Object.values(this.map.getViewport())
            const boundaries = [
                mapViewport[0],
                mapViewport[1],
                mapViewport[2],
                mapViewport[3],
            ]

            return this.getMarkersFromClusterer(boundaries, mapZoom);
        },
        renderMarkers() {
            const markersInViewport = this.getMarkersInViewport()
            const markersToDraw = []
            const markersToRemove = [...Object.values(this.markers)]

            for (const markerInViewport of markersInViewport) {
                const branch = markerInViewport.properties.branch

                let markerId = `cluster_${markerInViewport.id}`
                if (branch) {
                    markerId = branch.id
                }

                if (this.markers[markerId]) {
                    markersToRemove.splice(markersToRemove.indexOf(this.markers[markerId]), 1)

                    continue
                }

                const marker = this.gerMarkerInstance(markerInViewport)

                markersToDraw.push(marker)
                this.markers[markerId] = marker
            }

            for (const markerToRemove of markersToRemove) {
                this.markersLayer.removeMarker(markerToRemove)
                delete this.markers[markerToRemove.getId()]
            }

            this.markersLayer.addMarker(markersToDraw);
        },
        getMarkersCoords() {
            return Object.values(this.markers).map((marker) => marker.getCoords())
        },
        getBranchById(branchId) {
            return this.branchesData.find((branch) => branch.id === branchId)
        },
        getMarkerByBranchId(branchId) {
            return this.markers[branchId]
        },
        updateMarkerByBranchId(branchId, type) {
            const marker = this.getMarkerByBranchId(branchId)

            if (marker) {
                marker.setURL(this.markerIcons[type].url)
            }

            if (type === 'selected') {
                const branch = this.getBranchById(branchId)
                const mapZoom = this.map.getZoom()

                if (mapZoom < 17 && !marker) {
                    this.map.setCenterZoom(
                        new SMap.Coords(branch.longitude, branch.latitude),
                        17,
                        true
                    )
                } else {
                    this.map.setCenter(
                        new SMap.Coords(branch.longitude, branch.latitude),
                        !!marker
                    )
                }
            }
        },

        async initializeMap() {
            await this.loadMapScripts()

            const centerMap = SMap.Coords.fromWGS84(16.9411736, 49.3621103);
            this.map = new SMap(this.$refs.map, centerMap, 6, {
                animTime: 200,
                zoomTime: 200
            });
            this.map.addDefaultLayer(SMap.DEF_BASE).enable();
            this.map.addControl(new SMap.Control.Sync());
            this.map.addDefaultControls();

            this.createMarkersClusterer()
            this.createMarkersLayer()
            this.renderMarkers()
            this.initializeListeners()
            this.setCenterByMarkers()

            this.$emit('onMapLoaded')

            this.geolocate()
        },
        async loadMapScripts() {
            return new Promise(async (resolve, reject) => {
                await Promise.all([
                    loadScript('https://api.mapy.cz/loader.js'),
                    loadScript('https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js'),
                ])

                if (!Loader) {
                    return reject('Mapy.cz loader is not loaded')
                }

                Loader.async = !0,
                Loader.load(null, {}, (() => {
                    resolve(true)
                }))
            });
        },
        setCenterByMarkers() {
            const [ centerCoords, zoom ] = this.map.computeCenterZoom(this.getMarkersCoords())

            this.map.setCenterZoom(centerCoords, zoom - 1)
        },
        geolocate() {
            if (!window.navigator.geolocation || !window.navigator.permissions) {
                return
            }

            window.navigator.permissions.query({
                name: "geolocation"
            }).then((result) => {
                if (result.state === "granted") {
                    this.getCurrentPosition()

                    this.$emit('onBeforeGeolocation')
                }

                if (result.state === "prompt") {
                    this.getCurrentPosition()

                    result.addEventListener("change", () => {
                        if (result.state !== "granted") return

                        this.$emit('onBeforeGeolocation')
                    }, { once: true });
                }
            });
        },
        getCurrentPosition() {
            window.navigator.geolocation.getCurrentPosition(
                ({ coords }) => {
                    const { latitude, longitude } = coords

                    this.addCurrentLocationMarker(coords)
                    this.map.setCenterZoom(new SMap.Coords(longitude, latitude), 15, true)
                    this.$emit('onGeolocationSuccess', coords)
                },
                (err) => {
                    console.warn(`ERROR(${err.code}): ${err.message}`)
                    this.$emit('onGeolocationError')
                },
                { timeout: 5000 }
            )
        },
        initializeListeners() {
            this.map.getSignals().addListener(this, "map-redraw", ((event) => {
                this.renderMarkers()
            }))

            this.map.getSignals().addListener(this, "marker-click", ((event) => {
                const markerId = event.target.getId()

                if (!this.markers[markerId]) {
                    return
                }

                if (String(markerId).startsWith('cluster_')) {
                    const clusterMarkerId = Number(markerId.replace('cluster_', ''));

                    this.map.setCenterZoom(event.target.getCoords(), this.markersClusterer.getClusterExpansionZoom(clusterMarkerId), true)

                    return
                }

                this.onBranchMarkerClick(markerId)
            }))
        },
    },
    watch: {
        selectedBranch(selectedBranch, oldSelectedBranch) {
            if (selectedBranch !== null) {
                this.updateMarkerByBranchId(selectedBranch.id, 'selected')
            }

            if (oldSelectedBranch !== null) {
                this.updateMarkerByBranchId(oldSelectedBranch.id, 'normal')
            }
        },
    }
}
</script>
