<template>
    <div class="c-map-pickup__aside" :class="{'is-expanded': isExpanded}">
        <button class="c-map-pickup__expand" :class="{'is-expanded': isExpanded}" @click="expandToggle(null)">
            <i class="ico ico-chevron-up-thick"></i>
        </button>

        <div class="c-map-pickup__head">
            <div class="c-map-pickup__title">
                {{ $t('PickupMapModal.title') }}
            </div>

            <div class="c-map-pickup__search">
                <div class="c-form__item c-form__item--text">
                    <input type="text" name="search" class="c-form__input" v-model="searchTerm" :placeholder="$t('PickupMapModal.searchPlaceholder')" id="czech-post-pickup-search" autocomplete="off" @focus="expandToggle(true)">
                </div>
            </div>
        </div>

        <div class="c-map-pickup__branches">
            <span class="c-msg c-msg--info is-flash" v-if="!branches.length">
                {{ $t("PickupMapModal.searchNotFound", { searchTerm: searchTerm }) }}
            </span>

            <virtualList
                v-else
                :data-key="'id'"
                :data-sources="branches"
                :data-component="branchButtonComponent"
                :estimate-size="73"
                :extra-props="{
                    branchesDistancesMap: branchesDistancesMap,
                }"
                @onBranchClick="onBranchClick"
            />
        </div>

        <transition name="slide">
            <selectedBranch
                @onBackClick="onBackClick"
                @onBranchConfirmClick="onBranchConfirmClick"
                :selectedBranch="selectedBranch"
                :selectedBranchDistance="branchesDistancesMap ? branchesDistancesMap[selectedBranch.id] : null"
                v-if="selectedBranch"
            />
        </transition>
    </div>
</template>

<script>
import VirtualList from 'vue-virtual-scroll-list'
import branchButton from './branchButton.vue'
import selectedBranch from './selectedBranch.vue'
import { lowerWithoutDiacritics, getDistanceInMeters } from './utils.js'

export default {
    name: 'pickupAside',
    props: {
        isExpanded: {
            type: Boolean,
            default: false,
        },
        selectedBranch: {
            type: Object,
            default: null,
        },
        branchesData: {
            type: Array,
            required: true,
        },
    },
    components: {
        VirtualList,
        selectedBranch,
    },
    data() {
        return {
            branchButtonComponent: branchButton,
            searchTerm: '',
            branchesFilterMap: {},
            branchesDistancesMap: false,
            searchFieldWeights: {
                name: 5,
                city: 4,
                street: 3,
                postcode: 2,
            }
        }
    },
    created() {
        this.generateBranchesFilterMap()
    },
    methods: {
        /**
         * Click handlers and similar
         */
        onBranchClick(branchId) {
            this.$emit('onBranchClick', branchId)
            this.expandToggle(false)
        },
        onBackClick() {
            this.$emit('onBackClick')
            this.expandToggle(true)
        },
        onBranchConfirmClick(branchId) {
            this.$emit('onBranchConfirmClick', branchId)
        },
        expandToggle(value) {
            this.$emit('expandToggle', value)
        },
        onGeolocationSuccess({ latitude, longitude }) {
            this.generateBranchesDistancesMap({ latitude, longitude })
        },

        generateBranchesFilterMap() {
            for (let branchIndex = 0; branchIndex < this.branchesData.length; branchIndex++) {
                const branch = this.branchesData[branchIndex];
                const filterMap = {
                    city: lowerWithoutDiacritics(branch.city),
                    name: lowerWithoutDiacritics(branch.name),
                    street: lowerWithoutDiacritics(branch.street),
                    postcode: branch.post_code
                }

                filterMap.all = filterMap.city + filterMap.name + filterMap.street + filterMap.postcode

                this.branchesFilterMap[branch.id] = filterMap
            }
        },
        generateBranchesDistancesMap({ latitude, longitude }) {
            this.branchesDistancesMap = {}

            for (const branch of this.branchesData) {
                let distanceRaw = getDistanceInMeters(
                    { latitude, longitude },
                    { latitude: branch.latitude, longitude: branch.longitude },
                )

                let distancePretty = distanceRaw / 1000
                distancePretty = distancePretty.toFixed(1)
                distancePretty = `${distancePretty} km`

                this.branchesDistancesMap[branch.id] = {
                    raw: distanceRaw,
                    pretty: distancePretty
                }
            }
        },
        sortBranchesBySearchWeights(branches, searchTerm) {
            const branchesWeightPointsMap = {}

            for (const branch of branches) {
                let points = 0;

                for (const field in this.searchFieldWeights) {
                    if (this.branchesFilterMap[branch.id][field].includes(searchTerm)) {
                        points += this.searchFieldWeights[field];
                    }
                }

                branchesWeightPointsMap[branch.id] = points
            }

            return branches.sort((branchA, branchB) => {
                return branchesWeightPointsMap[branchB.id] - branchesWeightPointsMap[branchA.id]
            });
        },
        sortBranchesByDistance(branches) {
            if (this.branchesDistancesMap === false) {
                return branches
            }

            return branches.sort((branchA, branchB) => {
                return this.branchesDistancesMap[branchA.id].raw - this.branchesDistancesMap[branchB.id].raw
            });
        },
    },
    computed: {
        branches() {
            let branches = [...this.branchesData]
            let searchTerm = this.searchTerm

            if (searchTerm) {
                searchTerm = lowerWithoutDiacritics(searchTerm)

                branches = branches.filter((branch) => {
                    return this.branchesFilterMap[branch.id].all.includes(searchTerm)
                })

                branches = this.sortBranchesBySearchWeights(branches, searchTerm)
            } else {
                branches = this.sortBranchesByDistance(branches)
            }

            return branches
        },
    }
}
</script>
