<template>
    <div class="c-selected-branch">
        <button class="c-selected-branch__back c-btn c-btn--gray" @click="onBackClick">
            <i class="ico ico-arrow-left-thick"></i>
            <span class="cxs-is-hidden">{{ $t('PickupMapModal.back') }}</span>
            <span class="cxs-is-visible">{{ $t('PickupMapModal.backShort') }}</span>
        </button>

        <div class="c-selected-branch__content">
            <div class="c-selected-branch__place">
                {{ selectedBranch.street }} - {{ selectedBranch.city }}
            </div>

            <div class="c-selected-branch__name">
                {{ selectedBranch.name }}
            </div>

            <div class="c-selected-branch__distance" v-if="selectedBranchDistance">
                {{ selectedBranchDistance.pretty }}
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.description">
                <div v-html="selectedBranch.description"></div>
            </div>

            <hr>

            <div class="c-selected-branch__info">
                <strong class="is-label">{{ $t('PickupMapModal.Info.address') }}</strong>
                {{ selectedBranch.street }}<br>
                {{ selectedBranch.post_code }} {{ selectedBranch.city }}
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.email">
                <strong class="is-label">{{ $t('PickupMapModal.Info.email') }}</strong>
                <a class="c-link" :href="`mailto:${selectedBranch.email}`" v-html="selectedBranch.email.replace('@', '<wbr/>@')"></a>
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.phone">
                <strong class="is-label">{{ $t('PickupMapModal.Info.phone') }}</strong>
                <a class="c-link" :href="`tel:${selectedBranch.phone}`">{{ selectedBranch.phone }}</a>
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.payment">
                <strong class="is-label">{{ $t('PickupMapModal.Info.payment') }}</strong>
                <div v-html="selectedBranch.payment"></div>
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.parking">
                <strong class="is-label">{{ $t('PickupMapModal.Info.parking') }}</strong>
                <div v-html="selectedBranch.parking"></div>
            </div>

            <hr>

            <div class="c-selected-branch__info is-openings" v-if="hasBranchOpenings(selectedBranch)">
                <strong class="is-label">{{ $t('PickupMapModal.Info.openings') }}</strong>

                <div class="c-selected-branch__openings">
                    <div class="is-opening" v-for="day of getBranchOpenings(selectedBranch)" :key="day.name">
                        <span class="is-day">{{ day.name }}:</span>
                        <span class="is-time">{{ day.openings }}</span>
                    </div>
                </div>
            </div>

            <div class="c-selected-branch__info" v-if="selectedBranch.lunch_break">
                <strong class="is-label">{{ $t('PickupMapModal.Info.lunchBreak') }}</strong>
                <div v-html="selectedBranch.lunch_break"></div>
            </div>
        </div>

        <button class="c-selected-branch__select c-btn c-btn--secondary" @click="onBranchConfirmClick(selectedBranch.id)">
            <span class="cxs-is-hidden">{{ $t('PickupMapModal.confirmBranch') }}</span>
            <span class="cxs-is-visible">{{ $t('PickupMapModal.confirmBranchShort') }}</span>
        </button>
    </div>
</template>

<script>
export default {
    name: 'selectedBranch',
    props: {
        selectedBranch: {
            type: Object,
            default: null,
        },
        selectedBranchDistance: {
            type: String,
            default: null,
        }
    },
    methods: {
        onBackClick() {
            this.$emit('onBackClick')
        },
        onBranchConfirmClick(branchId) {
            this.$emit('onBranchConfirmClick', branchId)
        },
        hasBranchOpenings(branch) {
            return branch.opening_hours && Object.values(branch.opening_hours).length > 0
        },
        getBranchOpenings(branch) {
            const days = []

            for (let day = 1; day <= 7; day++) {
                const dayName = this.$t(`PickupMapModal.Days.${day}`)
                let dayOpenings = this.$t(`PickupMapModal.closed`)

                for (const branchHours of Object.values(branch.opening_hours)) {
                    if (branchHours.day === day) {
                        dayOpenings = `${branchHours.opened_from} - `
                        dayOpenings += `${branchHours.opened_to}`

                        break
                    }
                }

                days.push({
                    name: dayName,
                    openings: dayOpenings
                })
            }

            return days
        }
    }
}
</script>
