@use "./../../init" as *;

.c-comparison-header {
    &__title {
        & {
            padding-right: 30px;
        }

        .is-title {
            position: relative;
            display: inline;
            font-size: 30px;
            font-weight: 800;
        }

        .is-count {
            position: absolute;
            margin-top: 6px;
            margin-left: 10px;
            font-weight: 500;
            color: $c_grey;
        }
        @media (max-width: $xs-max) {
            .is-title {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}