@use "./../../init" as *;

.c-comparison-group {
    &:last-child {
        .c-comparison-group__item:last-child {
            border-bottom: none;
        }
    }

    &__item {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 48px;
            padding: 0 25px;
            font-weight: 600;
            border-bottom: 1px solid $c_border;
            transition: all .1s ease;
        }

        .is-key,
        .is-value {
            @include maxLines(2);

            line-height: 18px;
        }

        .ico {
            @include icoSize(10px);

            margin-left: 10px;
            transition: transform .25s ease-in-out;
        }

        &.is-heading {
            & {
                color: $c_primary;
                text-transform: uppercase;
                background-color: $c_bg;
            }

            &.is-active {
                .ico {
                    transform: rotate(-180deg);
                }
            }
        }

        &.is-highlighted {
            background-color: rgba($c_primary, .03);
        }

        &.is-hidden {
            height: 0;
            padding: 0;
            overflow: hidden;
            font-size: 0;
            color: transparent;
            border: none;
            border-color: transparent;
        }
        @media (max-width: $xs-max) {
            &:not(.is-heading, .is-hidden) {
                flex-direction: column;
                align-items: flex-start;
                height: 60px;
                padding: 7px;
            }

            .is-key {
                @include maxLines(1);

                font-size: 12px;
                line-height: 16px;
                color: rgba($c_grey, .7);
            }

            .is-value {
                @include maxLines(2);

                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}