@use "./../../init" as *;

@use "comparison_product";
@use "comparison_group";

.c-comparison-table {
    & {
        --aside-width: 290px;

        background-color: $c_white;
        border: 1px solid $c_border;
    }

    &__header {
        & {
            @include scrollbar(
                (
                    hide: true,
                )
            );

            z-index: 2;
            display: flex;
            overflow: auto;
            background-color: $c_white;
            border-bottom: 1px solid $c_border;
        }

        &.is-sticky {
            & {
                position: sticky;
                top: 0;
            }

            .c-comparison-product {
                & {
                    display: grid;
                    grid-template:
                        "image name" 1fr
                        "image price" auto
                        / 50px 1fr;
                    padding: 7px 26px 7px 7px;
                }

                &__delete {
                    .c-btn {
                        & {
                            height: 26px;
                            padding: 0 6px;
                        }

                        .ico {
                            @include icoSize(11px);
                        }
                    }
                }

                &__image {
                    & {
                        margin-right: 7px;
                    }

                    .c-link {
                        height: 40px;
                        margin-bottom: 0;
                    }
                }

                &__name {
                    & {
                        justify-content: flex-start;
                        height: 40px;
                        margin-bottom: 0;
                        font-size: 12px;
                        text-align: left;
                    }

                    .c-link {
                        @include maxLines(2);

                        line-height: 16px;
                    }
                }

                &__price {
                    & {
                        text-align: left;
                    }

                    .is-actual {
                        font-size: 12px;
                    }

                    .is-old {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    &__content {
        & {
            @include scrollbar(
                (
                    hide: true,
                )
            );

            display: flex;
            overflow: auto;
        }
    }

    &__column {
        & {
            position: relative;
            flex: 1;
            min-width: 225px;
        }

        &:not(:last-child) {
            border-right: 1px solid $c_border;
        }

        &:not(.is-aside) {
            .c-comparison-group__item {
                @media (min-width: $sm-min) {
                    .is-key {
                        display: none;
                    }

                    &.is-heading {
                        color: rgba($c_black, 0.1);
                    }
                }
            }
        }

        &.is-aside {
            & {
                position: sticky;
                left: 0;
                z-index: 1;
                flex: initial;
                width: var(--aside-width);
                background-color: $c_bg;
                border-right: 1px solid $c_border;
            }

            .c-comparison-group__item {
                &.is-heading {
                    @include hover {
                        & {
                            cursor: pointer;
                        }

                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
            @media (max-width: $xs-max) {
                display: none;
            }
        }
    }
}
