@use "./../../init" as *;

.c-comparison-product {
    & {
        padding: 15px 25px;
    }

    &:hover {
        .c-comparison-product__delete {
            .c-btn {
                opacity: 1;
            }
        }
    }

    &__delete {
        & {
            position: absolute;
            top: 0;
            right: 0;
        }

        .c-btn {
            padding: 0 13px;
            color: $c_primary;
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }
        @media (max-width: $xs-max) {
            .c-btn {
                opacity: 1;
            }
        }
    }

    &__image {
        & {
            grid-area: image;
        }

        .c-link {
            display: block;
            width: 100%;
            height: 150px;
            padding: 7px;
            margin-bottom: 15px;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__name {
        & {
            display: flex;
            grid-area: name;
            align-items: center;
            justify-content: center;
            height: 60px;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
        }

        .c-link {
            @include maxLines(3);

            line-height: 20px;
        }
    }

    &__price {
        & {
            grid-area: price;
            font-weight: 600;
            text-align: center;
        }

        .is-actual {
            & {
                font-size: 15px;
            }

            &.is-action {
                color: $c_primary;
            }
        }

        .is-old {
            padding-left: 4px;
            font-size: 12px;
            color: $c_grey;
            text-decoration: line-through;
        }
    }
}