@use "./../../init" as *;

@use "./../atoms/badge";

@use "./autocomplete_result";
@use "./autocomplete_product";

.c-autocomplete {
    & {
        position: absolute;
        top: 100%;
        left: calc((100% - 100%) / 2);
        z-index: 110;
        width: 100%;
        max-height: max(calc(var(--vh, 1vh) * 100 - 200px), 250px);
        background: $c_white;
        border-top: 1px solid rgba($c_grey, .25);
    }
    @media (max-width: $sm-max) {
        top: calc(100% + 8px);
        left: calc((100% - 780px) / 2);
        width: 780px;
        max-height: max(calc(var(--vh, 1vh) * 100 - 80px - 15px), 250px);
    }
    @media (max-width: $xs-max) {
        left: calc((100% - 720px) / 2);
        width: 720px;
        max-height: max(calc(var(--vh, 1vh) * 100 - 64px - 41px), 250px);
    }
    @media (max-width: $txs-max) {
        & {
            top: 100%;
            left: 0;
            width: 100%;
            max-height: max(calc(var(--vh, 1vh) * 100 - 64px), 250px);
        }

        &::before,
        &::after {
            display: none;
        }
    }

    .mark,
    mark {
        background: unset;
        background-color: rgba($c_secondary, .5);

        /* padding: 1px 2px;
        margin: -1px -2px; */
    }

    &__close {
        & {
            position: absolute;
            top: 28px;
            right: 20px;
            z-index: 3;
            height: auto;
            padding: 7px 10px;
            font-size: 12px;
            font-weight: 500;
        }

        .ico {
            @include icoSize(7px);
        }
        @include hover {
            color: $c_red;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__empty {
        padding: 80px 30px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    &__navigation {
        & {
            @include scrollbar((hide: true));

            display: flex;
            overflow: auto;
            background-color: var(--c-bg);
        }
        @media (min-width: $txs-min) {
            display: none;
        }

        .c-btn {
            & {
                position: relative;
                height: 54px;
                padding: 0 var(--container-padding);
                font-size: 13px;
                font-weight: 700;
                color: var(--c-primary);
                white-space: nowrap;
            }
            @include hover {
                background-color: transparent;
                border-color: transparent;
            }

            &.is-active {
                &::before {
                    position: absolute;
                    right: 16px;
                    bottom: 0;
                    left: 16px;
                    width: auto;
                    height: 2px;
                    content: "";
                    background: var(--c-primary);
                }
            }
        }
    }

    &__main {
        & {
            position: relative;
            display: grid;
            grid-template:
                "products other" 1fr
                "footer   footer" auto
                / 1fr     320px
            ;
            height: inherit;
            max-height: inherit;
        }

        &.without-other {
            grid-template:
                "products" 1fr
                "footer" auto
                / auto
            ;
        }

        &.without-products {
            grid-template:
                "other" 1fr
                "footer" auto
                / auto
            ;
        }
        @media (max-width: $txs-max) {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;
        }
    }

    &__other {
        & {
            @include scrollbar((
                hide: true
            ));

            grid-area: other;
            overflow: auto;
            background-color: rgba(#1a1a1a, .02);
            border-left: 1px solid rgba($c_grey, .25);
        }

        &.without-products {
            background-color: #fff;
            border-radius: 4px;
        }

        &:not(.without-products) {
            border-right: 1px solid var(--c-border);
        }
        @media (max-width: $txs-max) {
            overflow: visible;
            background-color: var(--c-white);
        }
        @media (max-width: $txs-max) {
            &.without-products {
                flex: 1 1 auto;
                background-color: $c_light_grey;
            }
        }
    }

    &__other-inner {
        & {
            display: grid;
            grid-gap: 25px;
            padding-bottom: 20px;
        }

        &.without-products {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $txs-max) {
            & {
                padding-bottom: 0;
            }

            &,
            &.without-products {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }
    }

    &__products {
        & {
            grid-area: products;
            min-height: 0;
        }
        @media (max-width: $txs-max) {
            min-height: unset;
        }
    }

    &__footer {
        & {
            grid-area: footer;
        }

        .c-btn {
            & {
                gap: 0;
                justify-content: center;
                width: 100%;
                height: 70px;
                text-transform: uppercase;
                letter-spacing: .05em;
            }

            .c-count,
            .ico {
                @include icoSize(9px);

                top: -1px;
                margin-left: 6px;
                font-weight: 700;
            }
        }

        &.without-other,
        &.without-products {
            border-radius: 0 0 4px 4px;
        }
        @media (max-width: $txs-max) {
            & {
                position: sticky;
                bottom: 0;
                margin-top: auto;
                border-radius: 0 0 4px 4px;
            }

            .c-btn {
                font-size: 13px;
            }
        }
        @media (max-width: $txs-max) {
            padding: 0;
        }
    }
}
