@use "./../../init" as *;

.c-autocomplete-result {
    & {
        max-height: 100%;
    }

    &.is-products {
        display: flex;
        flex-direction: column;
    }

    &.is-sets {
        margin: 40px 0;
    }
    @media (max-width: $txs-max) {
        & {
            flex: 1;
            min-width: 0;
            margin-bottom: var(--container-padding);
        }

        &:not(.is-active) {
            display: none;
        }

        &.is-products:not(.is-active) {
            display: none;
        }
    }

    &__title {
        & {
            display: flex;
            flex: none;
            align-items: baseline;
            padding: 20px 30px 12px;
        }

        .sc-title {
            font-size: 14px;
            font-weight: 600;
            color: var(--c-grey);
            text-transform: uppercase;
        }

        .sc-badge {
            position: relative;
            top: -1px;
            display: none;
            margin-left: 7px;
            font-size: 12px;
            color: var(--c-grey);
        }

        &.is-products {
            margin-bottom: -2px;
        }
        @media (max-width: $xs-max) {
            .sc-title {
                font-size: 15px;
            }

            .sc-badge {
                top: -1px;
            }
        }
        @media (max-width: $txs-max) {
            & {
                padding: var(--container-padding);
            }

            .sc-title {
                font-weight: 700;
                color: var(--c-primary);
                text-transform: none;
            }
        }
        @media (max-width: $cxs-max) {
            .sc-badge {
                top: 0;
                padding: 2px 5px 1px;
                margin-left: 4px;
                font-size: 11px;
            }
        }
    }

    &__items {
        & {
            padding: 0 30px;
        }

        .c-link {
            & {
                display: flex;
                gap: 10px;
                align-items: center;
                width: 100%;
                padding: 4px 0;
                font-weight: 600;
                color: var(--c-dark-grey);
            }

            .c-img {
                max-width: 30px;
                max-height: 30px;
            }

            .ico {
                @include icoSize(9px);

                top: 1px;
                font-weight: 700;
                color: $c_primary;
            }

            .c-name {
                @include maxLines(1);
            }

            &.is-articles {
                font-weight: 500;
            }
            @include hover {
                .c-name {
                    color: var(--c-secondary);
                }
            }
        }
        @media (max-width: $txs-max) {
            padding: 0 var(--container-padding);
        }
        @media (max-width: $xs-max) {
            .c-link {
                padding: 3px 0;
                font-size: 14px;
            }
        }
    }

    &__more {
        .c-link {
            & {
                font-weight: 600;
                text-decoration: none;
            }

            .sc-text {
                text-decoration: underline;
            }
            @include hover {
                color: var(--c-secondary);
            }
        }
    }

    &__products {
        & {
            @include scrollbar((
                hide: true
            ));

            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            min-height: 0;
            overflow: auto;
        }
        @media (max-width: $cxs-max) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__recap {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px;
        }

        .sc-name {
            font-weight: 600;
            color: var(--c-grey);
            text-transform: uppercase;
        }

        .c-link {
            & {
                gap: 10px;
                font-weight: 600;
                text-decoration: none;
            }

            .sc-text {
                text-decoration: underline;
            }

            .ico {
                @include icoSize(9px);

                font-weight: 700;
                color: var(--c-font);
            }
            @include hover {
                color: var(--c-secondary);
            }
        }
    }
}
