@use "./../../init" as *;

.c-autocomplete-product {
    & {
        display: grid;
        grid-template:
            "image name price" 1fr
            "image prop price" auto
            / auto 1fr
        ;
        gap: 0 10px;
        align-items: center;
        padding: 10px 20px 10px 30px;
        color: $c_black;
        text-decoration: none;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba($c_grey, .25);
    }

    &__img {
        & {
            flex: 0 0 50px;
            grid-area: image;
            width: 50px;
            height: 50px;
            transition: opacity .2s ease;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include hover {
            opacity: .8;
        }
    }

    &__name {
        & {
            flex: 1 1 auto;
            grid-area: name;
            align-self: center;
            min-width: 0;
            font-weight: 600;
            color: $c_font;
            text-decoration: none;
        }

        .c-name {
            @include maxLines(2);

            font-size: 15px;
            transition: color .2s ease;
        }

        .sc-info {
            font-size: 13px;
            color: var(--c-grey);
        }
        @include hover {
            .c-name {
                color: var(--c-secondary);
            }
        }
    }

    &__price {
        & {
            grid-area: price;
            font-size: 14px;
            font-weight: 700;
            color: $c_font;
            white-space: nowrap;
        }

        .c-actual {
            &.has-action {
                color: $c_red;
            }
        }

        .sc-vat {
            display: block;
            font-size: 13px;
            font-weight: 600;
            color: var(--c-grey);
            text-align: right;
        }
        @media (max-width: $cxs-max) {
            align-self: center;
            margin: 6px 0 0;
            font-size: 15px;
        }
    }
}
