@mixin font($size: null, $line_height: null, $color: null) {
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if $color {
        color: $color;
    }
}

@mixin fontAwesome($size: null, $line_height: null, $color: null) {
    font-family: $f_awesome;
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if $color {
        color: $color;
    }
}

@mixin fontPrimaryReg($size: null, $line_height: null, $color: null) {
    font-family: $f_primary_regular;
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if not($f_primary_custom) {
        font-weight: normal;
    }
    @if $color {
        color: $color;
    }
}

@mixin fontPrimaryBold($size: null, $line_height: null, $color: null) {
    font-family: $f_primary_bold;
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if not($f_primary_custom) {
        font-weight: bold;
    }
    @if $color {
        color: $color;
    }
}

@mixin fontSecondaryReg($size: null, $line_height: null, $color: null) {
    font-family: $f_secondary_regular;
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if not($f_secondary_custom) {
        font-weight: normal;
    }
    @if $color {
        color: $color;
    }
}

@mixin fontSecondaryBold($size: null, $line_height: null, $color: null) {
    font-family: $f_secondary_bold;
    @if $size {
        font-size: $size;
    }
    @if $line_height {
        line-height: $line_height;
    }
    @if not($f_secondary_custom) {
        font-weight: normal;
    }
    @if $color {
        color: $color;
    }
}

@font-face {
    font-family: lg;
    font-style: normal;
    font-weight: normal;
    src: url("#{$path_fonts}lightgallery/lg.eot?n1z373");
    src: url("#{$path_fonts}lightgallery/lg.eot?#iefixn1z373") format("embedded-opentype"),
        url("#{$path_fonts}lightgallery/lg.woff?n1z373") format("woff"),
        url("#{$path_fonts}lightgallery/lg.ttf?n1z373") format("truetype"),
        url("#{$path_fonts}lightgallery/lg.svg?n1z373#lg") format("svg");
}
