@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

@function reverse($list, $recursive: false) {
    $result: ();

    @for $i from length($list)*-1 through -1 {
         @if type-of(nth($list, abs($i))) == list and $recursive {
             $result: append($result, reverse(nth($list, abs($i)), $recursive));      
         }
         @else {
             $result: append($result, nth($list, abs($i)));
         }
    }

    @return $result;
}