@use "sass:math";

$tmp_key: 0;

.l-container {
    & {
        width: 100%;
        padding: 0 $s_container_gutter;
        margin: 0 if($container_is_centered, auto, 0);
    }
    @media (max-width: $cxs-max) {
        padding: 0 10px;
    }
    @media (min-width: $md-min) {
        max-width: map-get($queries, md);
    }
    @media (min-width: $lg-min) {
        max-width: map-get($queries, lg);
    }

    &.is-relative {
        position: relative;
    }
}

@mixin breakpoint() {
    @each $tmp_b_key, $tmp_b_val in $queries_borders {
        @media (min-width: nth($tmp_b_val, 1)) and (max-width: nth($tmp_b_val, 2)) {
            $tmp_key: $tmp_b_key !global;

            @content;
        }
    }
}

.l-row {
    // is-wrapper
    $tmp_count: $s_grid_columns;
    @include breakpoint {
        // md-is-column
        &.#{$tmp_key}-is-column {
            & {
                flex-direction: column;
                margin: 0;
            }

            & > .l-col {
                & {
                    width: 100%;
                    padding: 0;
                }

                &:not(:last-child) {
                    margin-bottom: $s_grid_gutter;
                }
            }
        }
    }
    @include breakpoint {
        // md-without-gutter
        &.#{$tmp_key}-without-gutter {
            & {
                margin: 0;
            }

            & > .l-col {
                & {
                    padding: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }

    & {
        display: flex;
        flex-wrap: wrap;
        margin: 0 (-$s_grid_gutter);
    }

    // is-column
    &.is-column {
        & {
            flex-direction: column;
            margin: 0;
        }

        & > .l-col {
            & {
                width: 100%;
                padding: 0;
            }

            &:not(:last-child) {
                margin-bottom: $s_grid_gutter;
            }
        }
    }

    // has-gutter
    @each $tmp_b_key, $tmp_b_val in $queries_borders {
        @each $tmp_m_key, $tmp_m_val in $queries_multipliers {
            @if nth($tmp_b_val, 1) == 0 {
                // has-md-gutter
                &.has-#{$tmp_m_key}-gutter {
                    @if $tmp_m_val < 0 {
                        margin: 0 math.div(-$s_grid_gutter, abs($tmp_m_val));
                    }
                    @else {
                        margin: 0 (-$s_grid_gutter * $tmp_m_val);
                    }

                    & > .l-col {
                        @if $tmp_m_val < 0 {
                            padding: 0 math.div($s_grid_gutter, abs($tmp_m_val));
                        }
                        @else {
                            padding: 0 ($s_grid_gutter * $tmp_m_val);
                        }
                    }
                }
            }

            @media (min-width: nth($tmp_b_val, 1)) {
                // md-has-md-gutter
                &.#{$tmp_b_key}-has-#{$tmp_m_key}-gutter {
                    @if $tmp_m_val < 0 {
                        margin: 0 math.div(-$s_grid_gutter, abs($tmp_m_val));
                    }
                    @else {
                        margin: 0 (-$s_grid_gutter * $tmp_m_val);
                    }

                    & > .l-col {
                        @if $tmp_m_val < 0 {
                            padding: 0 math.div($s_grid_gutter, abs($tmp_m_val));
                        }
                        @else {
                            padding: 0 ($s_grid_gutter * $tmp_m_val);
                        }
                    }
                }
            }
        }
    }

    // without-gutter
    &.without-gutter {
        & {
            margin: 0;
        }

        & > .l-col {
            & {
                padding: 0;
            }

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    // is-not-wrapper
    &.is-not-wrapper {
        flex-wrap: nowrap;
    }

    @while $tmp_count > 0 {
        // is-wrapper-2
        &.is-wrapper-#{$tmp_count} {
            & > .l-col {
                flex: 0 0 auto;
                width: math.div(100%, $tmp_count);
            }

            &:not(.without-margin) {
                & > .l-col {
                    &:nth-child(n + #{$tmp_count + 1}) {
                        margin-top: $s_grid_gutter;
                    }
                }
            }
        }

        @include breakpoint {
            // sm-is-wrapper-2
            &.#{$tmp_key}-is-wrapper-#{$tmp_count} {
                & > .l-col {
                    flex: 0 0 auto;
                    width: math.div(100%, $tmp_count);
                }

                &:not(.without-margin) {
                    & > .l-col {
                        &:nth-child(n + #{$tmp_count + 1}) {
                            margin-top: $s_grid_gutter;
                        }
                    }
                }
            }
        }

        $tmp_count: $tmp_count - 1;
    }

    // align-items
    &.align-center {
        align-items: center;
    }
}

.l-col {
    & {
        flex: 1 1 0;
        width: auto;
        padding: 0 $s_grid_gutter;
    }

    // has-size
    @each $tmp_key, $tmp_val in $queries_borders {
        $tmp_count: $s_grid_columns;

        @while $tmp_count > 0 {
            @if nth($tmp_val, 1) == 0 {
                // .has-size-6
                &.has-size-#{$tmp_count} {
                    flex: 0 0 auto;
                    width: math.div(100%, $s_grid_columns) * $tmp_count;
                }
            }

            @media (min-width: nth($tmp_val, 1)) {
                // .has-size-sm-6
                &.#{$tmp_key}-has-size-#{$tmp_count} {
                    flex: 0 0 auto;
                    width: math.div(100%, $s_grid_columns) * $tmp_count;
                }
            }

            $tmp_count: $tmp_count - 1;
        }
    }

    // has-order
    $tmp_count: $s_grid_columns;

    @while $tmp_count >= 0 {
        // has-order-6
        &.has-order-#{$tmp_count} {
            order: $tmp_count;
        }

        @include breakpoint {
            &.#{$tmp_key}-has-order-#{$tmp_count} {
                order: $tmp_count;
            }
        }

        $tmp_count: $tmp_count - 1;
    }

    // IE fix
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 1 1 auto;
    }
}