.h-left {
    float: left;
}

.h-right {
    float: right;
}

.h-text-center {
    text-align: center;
}

.h-nodisplay {
    display: none;
}

.h-is-green {
    color: $c_green;
}

.h-is-red {
    color: $c_red;
}

.h-is-grey {
    color: $c_grey;
}

.h-is-primary {
    color: $c_primary;
}

.h-is-secondary {
    color: $c_secondary;
}

// .xs-is-visible
@each $tmp_key, $tmp_val in $queries_borders {
    .#{$tmp-key}-is-visible,
    .#{$tmp-key}-is-visible-inline,
    .#{$tmp-key}-is-visible-flex {
        display: none!important;
    }
}

@each $tmp_key, $tmp_val in $queries_borders {
    @if nth($tmp_val, 2) {
        .#{$tmp-key}-is-visible {
            @media (min-width: nth($tmp_val, 1)) and (max-width: nth($tmp_val, 2)) {
                display: block!important;
            }
        }

        .#{$tmp-key}-is-visible-inline {
            @media (min-width: nth($tmp_val, 1)) and (max-width: nth($tmp_val, 2)) {
                display: inline!important;
            }
        }

        .#{$tmp-key}-is-visible-flex {
            @media (min-width: nth($tmp_val, 1)) and (max-width: nth($tmp_val, 2)) {
                display: flex!important;
            }
        }

        .#{$tmp-key}-is-hidden {
            @media (min-width: nth($tmp_val, 1)) and (max-width: nth($tmp_val, 2)) {
                display: none!important;
            }
        }
    } @else {
        .#{$tmp-key}-is-visible {
            @media (min-width: nth($tmp_val, 1)) {
                display: block!important;
            }
        }

        .#{$tmp-key}-is-visible-inline {
            @media (min-width: nth($tmp_val, 1)) {
                display: inline!important;
            }
        }

        .#{$tmp-key}-is-visible-flex {
            @media (min-width: nth($tmp_val, 1)) {
                display: flex!important;
            }
        }

        .#{$tmp-key}-is-hidden {
            @media (min-width: nth($tmp_val, 1)) {
                display: none!important;
            }
        }
    }
}

$tmp_count: 50;
@while $tmp_count >= 0 {
    .h-margin-b-#{$tmp_count} {
        margin-bottom: $tmp_count * 1px;
    }
    .h-margin-t-#{$tmp_count} {
        margin-top: $tmp_count * 1px;
    }
    .h-margin-l-#{$tmp_count} {
        margin-left: $tmp_count * 1px;
    }
    .h-margin-r-#{$tmp_count} {
        margin-right: $tmp_count * 1px;
    }

    .h-padding-b-#{$tmp_count} {
        padding-bottom: $tmp_count * 1px;
    }
    .h-padding-t-#{$tmp_count} {
        padding-top: $tmp_count * 1px;
    }
    .h-padding-l-#{$tmp_count} {
        padding-left: $tmp_count * 1px;
    }
    .h-padding-r-#{$tmp_count} {
        padding-right: $tmp_count * 1px;
    }

    $tmp_count: $tmp_count - 5;
}
