.l-base,
.l-additional {
    display: none;
}

.c-ie_msg {
    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 999999;
        display: table!important;
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }

    &__container {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    &__block {
        &--title {
            width: 320px;
            margin: 0 auto 20px;
            font-size: 18px;
            line-height: 1.2;
        }

        &--text {
            width: 320px;
            margin: 0 auto 20px;
            font-size: 15px;
            line-height: 1.3;
        }
    }
}

.c-link {
    & {
        color: $c_primary;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: $c_primary_darker;
        text-decoration: underline;
    }
}

.c-btn {
    & {
        display: inline-block;
        align-items: center;
        height: $s_btn_height;
        padding: 0 20px;
        margin-bottom: 15px;
        line-height: if($btn_has_border, $s_btn_height - 2px, $s_btn_height);
        text-align: center;
        text-decoration: none;
        border: if($btn_has_border, 1px solid, 0);
        border-radius: if($btn_has_radius, $s_btn_radius, 0);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }

    &--primary {
        & {
            color: #fff;
            background-color: $c_btn_primary;
            border-color: $c_btn_primary;
        }

        &:hover,
        &:focus {
            color: #fff;
            background-color: $c_btn_primary_hover;
            border-color: $c_btn_primary_hover;
        }
    }
}
