.l-base {
    max-width: 100%;
    overflow: hidden;
}

.l-content {
    margin-bottom: 25px;
    overflow: hidden;
}

.l-wrapper {
    margin-bottom: 30px;
}

.l-box {
    & {
        padding: $s_box_padding;
        background: #fff;
        border: 1px solid $c_box_border;
        border-radius: if($box_has_radius, $s_box_radius, 0);
    }

    &--gray {
        background: $c_gray;
    }
}

.c-overlay {
    & {
        position: fixed;
        inset: 0;
        z-index: 200;
        display: none;
        background: rgb(255 255 255 / 90%);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &.is-active {
        display: block;
        opacity: 1;
    }
}
