@mixin absoluteCentered($max_width: 100%, $max_height: 100%) {
    position: absolute;
    inset: 0;
    max-width: $max_width;
    max-height: $max_height;
    margin: auto;
}

@mixin icoSize($size, $line_height: null, $height: null) {
    height: if($height, $height, $size);
    font-size: $size;
    line-height: if($line_height, $line_height, $size);
}

@mixin valign($pos: relative) {
    position: $pos;
    top: 50%;
    transform: translateY(-50%);
}

@mixin textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin hideText {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

@mixin hide {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

@mixin breakerAfter {
    &::after {
        display: block;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        clear: both;
        font-size: 0;
        line-height: 0;
        content: "";
    }
}

@mixin bgLoader {
    & {
        background-color: #f9f9f9;
        background-image: url(#{$path_img}bg-loader.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.is-loaded {
        background-color: transparent;
        background-size: cover;
    }
}

/*
Create a font face rule. Embedded OpenType, WOFF2, WOFF, TrueType, and SVG files are automatically sourced.
@include font-face(Samplino, fonts/Samplino);

Create a font face rule that applies to bold and italic text.
@include font-face("Samplina Neue", fonts/SamplinaNeue, bold, italic);

Create a font face rule that only sources a WOFF.
@include font-face(Samplinoff, fonts/Samplinoff, null, null, woff);

Create a font face rule that applies to 500 weight text and sources EOT, WOFF2, and WOFF.
@include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);
*/
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );
    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
