@media print {
    .l-header {
        display: none;
    }

    .l-footer {
        display: none;
    }

    a[href]::after {
        display: none;
    }

    .c-info {
        display: none;
    }
}
