@use "./../../init" as *;

.c-badge {
    --badge-c-bg: var(--c-black);
    --badge-c-font: var(--c-white);
    --badge-s-height: 16px;
}

.c-badge {
    & {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--badge-s-height);
        height: var(--badge-s-height);
        padding: 1px 4px 0;
        font-size: 10px;
        font-weight: 500;
        color: var(--badge-c-font);
        text-align: center;
        background-color: var(--badge-c-bg);
        border-radius: calc(var(--badge-s-height) / 2);
    }

    &[data-count="0"] {
        display: none;
    }

    &.is-primary {
        --badge-c-bg: var(--c-primary);
    }

    &.is-secondary {
        --badge-c-bg: var(--c-secondary);
    }

    &.is-red {
        --badge-c-bg: var(--c-red);
    }
}
