@use "./../../init" as *;
@use "./badge";

.c-btn {
    --btn-s-height: 4rem;
    --btn-s-gap: 0 0.7rem;
    --btn-s-radius: calc(var(--btn-s-height) / 2);
    --btn-s-padding: 0 2.4rem;
    --btn-s-margin: 0;
    --btn-s-border: 0;
    --btn-s-font: 1.4rem;
    --btn-s-weight: 600;
    --btn-c-bg: var(--c-light-grey);
    --btn-c-bg-hover: var(--c-primary);
    --btn-c-bg-focus: var(--btn-c-bg);
    --btn-c-border: var(--c-light-grey);
    --btn-c-border-hover: var(--c-primary);
    --btn-c-border-focus: var(--btn-c-border);
    --btn-c-font: var(--c-font);
    --btn-c-font-hover: var(--c-white);
    --btn-c-font-focus: var(--btn-c-font);
}

.c-btn {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    gap: var(--btn-s-gap);
    align-items: center;
    justify-content: space-between;
    height: var(--btn-s-height);
    padding: var(--btn-s-padding);
    margin: var(--btn-s-margin);
    font-size: var(--btn-s-font);
    font-weight: var(--btn-s-weight);
    color: var(--btn-c-font);
    text-decoration: none;
    background-color: var(--btn-c-bg);
    border: var(--btn-s-border) solid var(--btn-c-border);
    border-radius: var(--btn-s-radius);
    transition: all 0.25s ease;
    transition-property: border, color, background-color;
    overflow-anchor: none;

    .c-badge {
        top: -0.4rem;
        right: -0.6rem;
    }

    @include hover {
        color: var(--btn-c-font-hover);
        text-decoration: none;
        background-color: var(--btn-c-bg-hover);
        border-color: var(--btn-c-border-hover);
    }

    &:focus,
    &:focus-visible {
        color: var(--btn-c-font-focus);
        text-decoration: none;
        background-color: var(--btn-c-bg-focus);
        border-color: var(--btn-c-border-focus);

        @include hover {
            color: var(--btn-c-font-hover);
            background-color: var(--btn-c-bg-hover);
            border-color: var(--btn-c-border-hover);
        }
    }

    &.is-bold {
        --btn-s-weight: 700;
    }

    &.has-full-width {
        width: 100%;
    }

    &.is-centered {
        justify-content: center;
        text-align: center;
    }

    &:disabled,
    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &.is-loading {
        position: relative;
        overflow: hidden;
        cursor: wait;

        &:disabled,
        &.is-disabled {
            cursor: wait;
            opacity: 1;
        }

        &::before {
            @include absoluteCentered;

            z-index: 2;
            content: "";
            background-color: var(--btn-c-loader-bg, var(--btn-c-bg-focus));
            border-radius: inherit;
        }

        &::after {
            @include absoluteCentered;

            z-index: 2;
            width: calc(var(--btn-s-height) / 2);
            height: calc(var(--btn-s-height) / 2);
            content: "";
            border: 3px solid transparent;
            border-top-color: var(--btn-c-loader-font, var(--btn-c-font-focus));
            border-bottom-color: var(
                --btn-c-loader-font,
                var(--btn-c-font-focus)
            );
            border-radius: 50%;
            animation: spin 0.65s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        }
    }

    &.is-loaded {
        &.has-error::before {
            @include icoSize(1.8rem);

            font-family: $f_icomoon;
            color: $c_red;
            content: unicode($ico-x);
        }
    }

    &--primary {
        --btn-c-bg: var(--c-primary);
        --btn-c-font: var(--c-white);
        --btn-c-bg-hover: var(--c-primary-hover);
        --btn-c-font-hover: var(--c-white);
    }

    &--secondary {
        --btn-c-bg: var(--c-secondary);
        --btn-c-font: var(--c-white);
        --btn-c-bg-hover: var(--c-primary-hover);
        --btn-c-font-hover: var(--c-white);
    }

    &--submit {
        --btn-c-bg: var(--c-primary);
        --btn-c-font: var(--c-white);
        --btn-c-bg-hover: var(--c-primary-hover);
        --btn-c-font-hover: var(--c-white);
    }

    &--cart {
        --btn-c-bg: var(--c-cart);
        --btn-c-font: var(--c-white);
        --btn-c-bg-hover: var(--c-cart-hover);
        --btn-c-font-hover: var(--c-white);
    }

    &--ghost {
        --btn-s-border: 1px;
        --btn-c-bg: var(--c-white);
        --btn-c-font: var(--c-font);
        --btn-c-border: var(--c-border);
        --btn-c-bg-hover: var(--c-primary);
        --btn-c-font-hover: var(--c-white);
        --btn-c-border-hover: var(--c-primary);
    }

    &--transparent {
        --btn-c-bg: transparent;
        --btn-c-font: var(--c-font);
        --btn-c-bg-hover: transparent;
        --btn-c-font-hover: var(--c-primary-hover);
    }

    &--close {
        --btn-c-bg: transparent;
        --btn-c-font: var(--c-red);
        --btn-c-bg-hover: var(--c-red);
        --btn-c-font-hover: var(--c-white);
    }

    &--white {
        --btn-c-bg: var(--c-white);
        --btn-c-font: var(--c-font);
        --btn-c-bg-hover: var(--c-white);
        --btn-c-font-hover: var(--c-primary-hover);
    }

    &--error {
        --btn-c-bg: var(--c-error-bg);
        --btn-c-font: var(--c-error-font);
        --btn-c-bg-hover: var(--c-error-font);
        --btn-c-font-hover: var(--c-white);
    }
}
