@use "./../../init" as *;

.c-checkbox {
    &::before {
        position: absolute;
        top: 1px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.8rem;
        height: 1.8rem;
        font-family: $f_icomoon;
        color: transparent;
        content: unicode($ico-tick);
        background-color: var(--c-white);
        border: 1px solid var(--input-c-border);
        border-radius: 2px;
    }
}