@use "./../../init" as *;

.c-indicator {
    & {
        position: relative;
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background-color: var(--c-green);
        border-radius: 50%;
        transition: background-color 0.25s ease-in-out;
    }

    &.is-inactive {
        background-color: var(--c-red);
    }
}
