@use "./../../init" as *;

.c-link {
    & {
        --link-c-font: var(--c-primary);
        --link-c-font-hover: var(--c-primary);
        --link-s-weight: 400;

        font-weight: var(--link-s-weight);
        color: var(--link-c-font);
        text-decoration: none;
        transition: color 0.25s ease;
    }
    @at-root button#{&} {
        padding: 0;
        background: transparent;
        border: none;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        color: var(--link-c-font-hover);
        text-decoration: none;
    }

    &--inherit {
        & {
            color: inherit;
        }

        &:hover,
        &:focus,
        &:focus-visible {
            color: inherit;
        }
    }

    &--primary {
        --link-c-font: var(--c-primary);
        --link-c-font-hover: var(--c-primary);
    }

    &--secondary {
        --link-c-font: var(--c-secondary);
        --link-c-font-hover: var(--c-secondary);
    }
}

.c-link {
    &.is-expanded,
    &.is-active {
        overflow-anchor: none;
    }

    &.is-uppercase {
        text-transform: uppercase;
    }

    &.is-underlined {
        text-decoration: underline;
    }

    &.is-bolder {
        --link-s-weight: 600;
    }

    &.is-bold {
        --link-s-weight: 700;
    }
}
