@use "./../../init" as *;

.c-list {
    & {
        --list-v-ico: #{unicode($ico-dot)};
        --list-s-ico-size: 1.4rem;
        --list-c-ico: var(--c-font);
        --list-s-padding: 2.6rem;
        --list-s-margin: 2rem;
        --list-s-item-margin: 1rem;

        margin-bottom: var(--list-s-margin);
    }

    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.55;
    }

    &__list {
        padding-left: var(--list-s-padding);
        line-height: 1.5;
        list-style: none;
    }

    &__item {
        & {
            position: relative;
        }

        &::before {
            @include icoSize(var(--list-s-ico-size));

            position: absolute;
            top: 0.1rem;
            left: calc(-1 * var(--list-s-padding));
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            font-family: $f_icomoon;
            color: var(--list-c-ico);
            content: var(--list-v-ico);
        }

        &:not(:last-child) {
            margin-bottom: var(--list-s-item-margin);
        }
    }
}
