@use "./../../init" as *;

.c-msg {
    --msg-s-padding: 1.2rem;
    --msg-s-font: 1.4rem;
    --msg-s-margin: 0 0 1.5rem;
    --msg-s-radius: 3px;
    --msg-s-border: 1px;
    --msg-s-ico: 2rem;
    --msg-c-font: var(--c-font);
    --msg-c-bg: var(--c-bg);
    --msg-c-border: var(--c-border);
}

.c-msg {
    & {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: var(--msg-s-padding);
        margin: var(--msg-s-margin);
        font-size: var(--msg-s-font);
        color: var(--msg-c-font);
        background-color: var(--msg-c-bg);
        border-color: var(--msg-c-border);
        border-style: solid;
        border-width: var(--msg-s-border);
        border-radius: var(--msg-s-radius);
    }

    .ico {
        @include icoSize(var(--msg-s-ico));
    }

    &.is-flash {
        padding: 22px 22px 20px;
        font-weight: 600;
    }

    &.is-empty {
        padding: 28px 28px 26px;
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        transition: opacity 0.5s ease;
    }

    &.is-flash,
    &.is-empty {
        strong {
            font-weight: 800;
        }
    }

    &.without-margin {
        margin: 0;
    }

    &.is-hidden {
        display: none;
    }

    &.listing.is-loading {
        opacity: 0.5;
    }

    a,
    .c-link {
        & {
            font-weight: inherit;
            color: inherit;
            text-decoration: underline;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.c-msg {
    &--error {
        --msg-c-font: #{$c_error_font};
        --msg-c-bg: #{$c_error_bg};
        --msg-c-border: #{$c_error_border};
    }

    &--success {
        --msg-c-font: #{$c_success_font};
        --msg-c-bg: #{$c_success_bg};
        --msg-c-border: #{$c_success_border};
    }

    &--warning {
        --msg-c-font: #{$c_warning_font};
        --msg-c-bg: #{$c_warning_bg};
        --msg-c-border: #{$c_warning_border};
    }

    &--info {
        --msg-c-font: #{$c_info_font};
        --msg-c-bg: #{$c_info_bg};
        --msg-c-border: #{$c_info_border};
    }
}
