@use "./../../init" as *;

.c-overlay,
.c-header-overlay {
    & {
        position: fixed;
        inset: 0;
        z-index: 200;
        display: none;
        background: rgba(#000, .2);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    @supports (backdrop-filter: blur(3px)) {
        backdrop-filter: blur(3px);
        will-change: backdrop-filter;
    }

    &.is-active {
        display: block;
        opacity: 1;
    }
}

.c-header-overlay {
    z-index: 99;
}
