@use "./../../init" as *;

.c-price {
    &__action {
        & {
            display: flex;
            margin-bottom: 1px;
            font-size: 12px;
        }

        .c-old {
            margin-right: 10px;
            color: $c_black;
            text-decoration: line-through;
        }

        .c-text {
            color: $c_primary_hover;
        }
        @media (max-width: $xs-max) {
            .c-text {
                display: none;
            }
        }
    }

    &__actual {
        & {
            font-size: 16px;
            color: $c_black;
            letter-spacing: initial;
            white-space: nowrap;
        }

        .c-vat {
            font-family: $f_primary;
            font-size: 11px;
            font-weight: 400;
            text-transform: none;
        }

        &.is-action {
            & {
                color: $c_primary;
            }

            .c-vat {
                color: $c_black;
            }
        }
    }

    &__vat {
        display: none;
        font-size: 13px;
        color: $c_grey;
    }
}