@use "./../../init" as *;

.c-quantity-spinner {
    & {
        display: flex;
        height: 100%;
        background-color: #fff;
        border: 1px solid $c_border;
        border-radius: 3px;
    }

    &__button {
        & {
            flex: 0 0 auto;
            height: 100%;
            padding: 0;
            background: transparent;
            border: none;
            transition: all .2s ease;
        }

        .ico {
            @include icoSize(10px);

            -webkit-font-smoothing: none;
            transition: inherit;
        }

        &[increment] {
            padding: 0 10px 0 6px;
        }

        &[decrement] {
            padding: 0 6px 0 10px;
            color: #ddd;
        }
        @include hover {
            color: $c_primary;
        }
    }

    &__input {
        flex: 1 1 auto;
        height: 100%;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: $c_black;
        text-align: center;
        border: none;
    }
}