@use "./../../init" as *;

.c-rating {
    & {
        display: flex;
        align-items: center;
    }

    &__stars {
        & {
            margin-right: 10px;
        }

        .jq-star {
            &:not(:last-child) {
                margin-right: 2px;
            }
        }
    }

    &__value {
        margin-right: 9px;
        font-family: $f_default;
        font-size: 20px;
        font-weight: 700;
    }

    &__count {
        position: relative;
        top: -1px;
        font-family: $f_default;
        color: $c_grey;
    }

    &--catalog {
        .c-rating {
            &__value {
                display: none;
            }

            &__count {
                top: 0;
                font-size: 12px;
                color: $c_black;
            }
        }
    }
}