@use "./../../init" as *;

.c-ribbon {
    --ribbon-c-bg: var(--c-bg);
    --ribbon-c-font: var(--c-font);
}

.c-ribbon {
    & {
        display: inline-flex;
        align-items: center;
        height: 2.4rem;
        padding: 0 0.8rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--ribbon-c-font);
        letter-spacing: initial;
        background-color: var(--ribbon-c-bg);
        border-radius: 1.2rem;
    }

    &.is-new {
        --ribbon-c-bg: var(--c-green);
    }

    &.is-sale,
    &.is-action {
        --ribbon-c-bg: var(--c-secondary);
        --ribbon-c-font: var(--c-font);
    }

    &.is-free_shipping {
        --ribbon-c-bg: var(--c-blue);
    }
    @media (max-width: $xs-max) {
        height: 2.6rem;
        padding: 0 0.8rem;
        font-size: 1rem;
    }
}
