@use "./../../init" as *;

.c-article-thumb {
    .c-link {
        & {
            display: flex;
            color: $c_black;
        }
        @include hover {
            & {
                color: $c_black;
                text-decoration: none;
            }

            .c-article-thumb__name {
                color: $c_primary;
            }
        }
    }

    &__image {
        & {
            width: 200px;
            height: 200px;
            margin-right: 30px;
            background-color: $c_bg;
        }

        .c-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        @media (max-width: $xs-max) {
            width: 110px;
            height: 110px;
            margin-right: 25px;
        }
    }

    &__info {
        flex: 1;
        min-width: 0;
    }

    &__name {
        & {
            @include maxLines(3);

            margin-bottom: 20px;
            font-size: 22px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            font-size: 18px;
        }
    }

    &__text {
        & {
            @include maxLines(4);

            font-size: 15px;
            line-height: 1.6;
        }
        @media (max-width: $xs-max) {
            font-size: 14px;
        }
    }
}
