@use "./../../init" as *;

.c-breadcrumb {
    & {
        font-size: 13px;
        color: $c_black;
    }

    &__list {
        & {
            display: flex;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__item {
        & {
            display: flex;
        }

        .c-link {
            @include textOverflow;
            @include hover {
                color: $c_primary_hover;
            }
        }

        &:last-child .c-link,
        .is-last {
            @include textOverflow;

            color: $c_black;
            text-decoration: none;
            pointer-events: none;
        }

        .is-delimiter {
            & {
                margin: 0 20px;
            }

            &::before {
                font-family: $f_icomoon;
                font-size: 10px;
                color: $c_grey;
                content: unicode($ico-chevron-left);
            }
        }

        &.is-label {
            position: relative;
            top: 1px;
            margin-right: 28px;
            font-size: 12px;
            color: $c_grey;
            text-transform: uppercase;
        }
    }

    &__back {
        & {
            display: none;
        }

        .c-link {
            & {
                font-size: 12px;
                line-height: 2.3;
                color: $c_font;
            }

            .ico {
                @include icoSize(10px);

                margin-right: 10px;
            }
            @include hover {
                color: $c_primary;
                text-decoration: none;
            }
        }
        @media (max-width: $xs-max) {
            display: flex;
        }
    }
    @media (max-width: $xs-max) {
        padding: 9px 0 7px;
    }
}
