@use "./../../init" as *;

.c-cookie {
    & {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: 100%;
    }

    & > .l-container {
        position: relative;
    }

    &__holder {
        & {
            position: absolute;
            right: 0;
            bottom: var(--container-padding);
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: calc(100% - var(--container-padding) * 2);
            padding: 16px 20px;
            margin: 0 auto;
            background: #fff;
            border: 1px solid $c_border;
            border-radius: 3px;
            box-shadow: 0 0 20px $c_shadow;
            opacity: 0;
            transition: all .8s cubic-bezier(.4, 0, .2, 1);
            transform: translateY(calc(100% + 48px));
            will-change: opacity, transform;
        }

        .is-text {
            padding-right: 32px;
        }
        @media (max-width: $sm-max) {
            bottom: calc(var(--container-padding) / 2);
            max-width: calc(100% - var(--container-padding));
        }
        @media (max-width: $txs-max) {
            & {
                flex-direction: column;
                align-items: center;
                padding: 14px 16px;
                text-align: center;
            }

            .is-text {
                padding: 0;
                margin-bottom: 16px;
                font-size: 13px;
            }
        }
    }

    &.is-loaded {
        .c-cookie__holder {
            opacity: 1;
            transition: all 1.5s cubic-bezier(.4, 0, .2, 1);
            transform: translateY(0);
        }
    }
}
