@use "./../../init" as *;

.c-info-box {
    & {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        gap: 20px 50px;
        font-size: 15px;
        line-height: 1.5;
        color: var(--c-black);
    }
    @media (max-width: $cxs-max) {
        grid-template-columns: 1fr;
        font-size: 14px;
    }

    &__item {
        &.is-not-visible {
            display: none;
        }
    }
}