@use "./../../init" as *;

.c-info {
    &--msg {
        & {
            position: relative;
            z-index: 200;
            line-height: 1.5;
            color: $c_black;
            background: $c_bg;
            border-bottom: 1px solid $c_border;
        }

        .c-info {
            &__wrapper {
                @include breakerAfter;

                & {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 0;
                    text-align: left;
                }

                @media (max-width: $xs-max) {
                    font-size: 13px;
                }
            }

            &__text {
                & {
                    @include maxLines(2);

                    padding-right: 24px;
                    font-weight: 500;
                }

                & > p {
                    margin: 0 0 12px;
                }

                & > *:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-weight: 700;
                    text-decoration: underline;
                }
                @media (max-width: $cxs-max) {
                    @include maxLines(5);
                }
            }

            &__btn.c-btn {
                & {
                    right: -10px;
                    order: 99;
                }
                @media (max-width: $cxs-max) {
                    position: static;
                    float: right;
                    height: auto;
                    padding: 10px;
                }
            }
        }
    }
}
