@use "./../../init" as *;

.login-buttons {
    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__new {
        & {
            padding: 20px 0;
        }

        .c-link {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__text {
        & {
            position: relative;
            flex-basis: 100%;
            margin: 20px 0 12px;
            line-height: 1.5;
            color: $c_dark_grey;
            text-align: center;
        }

        &::before {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            content: "";
            border-bottom: 1px solid $c_border;
        }

        span {
            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 0 10px;
            background: #fff;
        }
    }

    .c-btn {
        & {
            margin: 0 3px;
        }

        i {
            display: none;
        }
    }
}