@use "./../../init" as *;

.pager {
    & {
        position: relative;
        z-index: 11;
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        border-top: 1px solid $c_border;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
    }
    @media (max-width: $cxs-max) {
        padding-top: 10px;
    }

    &__count {
        & {
            flex: 1;
            color: $c_grey;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__load {
        & {
            flex: 0 0 auto;
            height: 55px;
            padding: 0 61px;
            margin: 0 5px;
            font-weight: 700;
        }

        .ico {
            @include icoSize(9px);
        }
        @media (max-width: $sm-max) {
            padding: 0 30px;
        }
        @media (max-width: $xs-max) {
            justify-content: center;
            width: 100%;
            margin: 0 var(--container-padding) 20px;
        }
    }

    &__list {
        & {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-end;
            width: calc(100% + 10px);
            margin: 0 -5px;
            list-style: none;
        }

        .c-btn {
            & {
                justify-content: center;
                width: 36px;
                height: 36px;
                padding: 0 7px;
                margin: 0;
                margin: 0 5px;
                font-size: 13px;
                font-weight: 700;
            }

            .ico {
                @include icoSize(10px);
            }
            @include hover {
                // &:not(.is-active) {
                //     color: #fff;
                //     background: $c_primary_hover;
                //     border-color: $c_primary_hover;
                // }
            }

            &.is-active {
                color: $c_secondary;
                background-color: transparent;
            }

            &.is-disabled {
                color: #dcdcdc;
                background: transparent;
                border-color: none;
            }

            &.is-loading {
                & {
                    border-color: $c_border;
                }

                &::before {
                    box-shadow: none;
                }
            }
        }

        .is-dots {
            margin: 0 5px;
            font-size: 13px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            justify-content: center;
        }
    }
}