@use "./../../init" as *;

@use "node_modules/swiper/swiper";
@use "node_modules/swiper/modules/pagination/pagination";

@use "./../molecules/product_thumb";

.products-slider {
    @media (max-width: $sm-max) {
        display: block;
        max-width: calc(100% - 60px);
        margin-right: auto;
        margin-left: auto;
    }
    @media (max-width: $xs-max) {
        --slider-item-width: 260px;

        & {
            max-width: unset;

            // padding-left: var(--container-padding);
            padding-right: var(--container-padding);
            margin-right: var(--container-padding-negative);
            margin-left: var(--container-padding-negative);
            overflow: hidden;
        }
    }
    @media (max-width: $cxs-max) {
        --slider-item-width: 220px;
    }

    &__title {
        & {
            margin: 0 auto 50px;
            font-family: $f_secondary;
            font-size: 36px;
            font-weight: 800;
            text-align: center;
        }
        @media (max-width: $xs-max) {
            max-width: 100%;
            margin-bottom: 20px;
            font-size: 24px;
            text-align: left;
        }
        @media (max-width: $cxs-max) {
            font-size: 22px;
        }
    }

    &__container {
        & {
            position: relative;
            overflow: visible;
        }

        &.swiper-container-initialized {
            .products-slider {
                &__wrapper {
                    will-change: transition;
                }
            }
        }
        @media (max-width: $xs-max) {
            & {
                padding-bottom: 42px;
                overflow: visible;
            }

            &.swiper-container-css-mode {
                .products-slider {
                    &__wrapper {
                        width: calc(100% + var(--container-padding) * 2);

                        // margin-left: var(--container-padding-negative);
                        margin-right: var(--container-padding-negative);
                        transform: none !important;
                    }

                    &__item {
                        & {
                            width: var(--slider-item-width) !important;
                            padding: 0;
                        }

                        &:first-child {
                            // width: calc(var(--slider-item-width) + var(--container-padding)) !important;
                            // padding-left: var(--container-padding);
                        }

                        &:last-child {
                            width: calc(
                                var(--slider-item-width) + var(--container-padding)
                            ) !important;
                            padding-right: var(--container-padding);
                        }
                    }
                }
            }
        }

        &:not(.swiper-container-initialized) {
            .products-slider__item {
                pointer-events: all;
                opacity: 1;
            }
            @media (max-width: $xs-max) {
                .products-slider__item {
                    flex: 0 0 auto;
                }
            }
            @media (min-width: $sm-min) {
                .products-slider__wrapper {
                    display: grid;
                }
            }
            @media (min-width: $sm-min) and (max-width: $sm-max) {
                .products-slider {
                    &__wrapper {
                        grid-template-columns: repeat(4, 1fr);
                    }

                    &__item:nth-child(n + 4) {
                        display: none;
                    }
                }
            }
            @media (min-width: $md-min) {
                .products-slider {
                    &__wrapper {
                        grid-template-columns: repeat(5, 1fr);
                    }

                    &__item:nth-child(n + 6) {
                        display: none;
                    }
                }
            }
            @media (min-width: $sm-min) {
                &.is-article-content .c-products-slider {
                    &__wrapper {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    &__item:nth-child(n + 4) {
                        display: none;
                    }
                }
            }
        }
    }

    &__item {
        & {
            height: auto;
        }

        .c-product-thumb {
            background: #fff;
            border-left: 1px solid $c_border;
        }

        &:first-child,
        &.swiper-slide-prev {
            .c-product-thumb {
                border-left-color: transparent;
            }
        }

        &.has-thumb-border {
            .c-product-thumb {
                border: 1px solid $c_border;
                border-left-color: transparent;
            }

            &:first-child,
            &.swiper-slide-prev {
                .c-product-thumb {
                    border-left-color: $c_border;
                }
            }

            &.swiper-slide-active .c-product-thumb {
                border-left-color: $c_border;
            }
        }

        &.swiper-slide-active {
            & {
                pointer-events: all;
                opacity: 1;
            }

            .c-product-thumb {
                border-left-color: transparent;
            }

            &.is-article-content {
                @media (min-width: $sm-min) {
                    @include nextItemsSelector(2, "div") {
                        pointer-events: all;
                        opacity: 1;
                    }
                }
            }

            &:not(.is-article-content) {
                @media (min-width: $md-min) {
                    @include nextItemsSelector(4, "div") {
                        pointer-events: all;
                        opacity: 1;
                    }
                }
                @media (min-width: $sm-min) and (max-width: $sm-max) {
                    @include nextItemsSelector(3, "div") {
                        pointer-events: all;
                        opacity: 1;
                    }
                }
            }
        }
        @media (min-width: $sm-min) {
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.4s ease;
        }
        @media (max-width: $xs-max) {
            & {
                width: var(--slider-item-width) !important;
            }

            .c-product-thumb {
                &__pricing {
                    margin-bottom: 0;
                }

                &__buy {
                    display: none;
                }
            }

            &.swiper-slide-prev {
                .c-product-thumb {
                    border-left-color: $c_border;
                }
            }

            &.has-thumb-border {
                &.swiper-slide-active .c-product-thumb {
                    border-left-color: $c_border;
                }
            }
        }
        @media (max-width: $cxs-max) {
            .c-product-thumb {
                --horizontal-padding: 20px;
                --vertical-padding: 20px;

                &__properties {
                    display: none;
                }
            }
        }
    }

    &__buttons {
        & {
            transition: opacity 0.3s ease;
        }

        .c-btn {
            & {
                @include icoSize(19px);

                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 10;
                justify-content: center;
                width: 50px;
                height: 50px;
                padding: 0;
                margin: auto;
                color: $c_white;
                background-color: rgba($c_black, 0.2);
                border-radius: 25px;
            }

            &.swiper-button-prev {
                & {
                    left: 20px;
                }

                .ico {
                    left: -1px;
                }
            }

            &.swiper-button-next {
                & {
                    right: 20px;
                }

                .ico {
                    right: -2px;
                }
            }

            &.is-disabled {
                pointer-events: none;
                opacity: 0;
            }
            @include hover {
                background-color: $c_primary;
            }
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    // ? zvysenie specificity bez importantu na prebitie default swiper stylovania
    // ? toto vygeneruje ".products-slider.products-slider .products-slider__pagination"
    &#{&} &__pagination {
        & {
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: none;
        }

        & > .swiper-pagination-bullet {
            & {
                width: 12px;
                height: 12px;
                margin: 0 2px;
                background-color: $c_white;
                border: 1px solid $c_light_grey;
                opacity: 1;
                transition: all 0.2s ease;
            }
            @include hover {
                border-color: $c_primary;
                border-width: 5px;
            }
        }

        & > .swiper-pagination-bullet-active {
            background-color: $c_primary;
            border-color: $c_primary;
            opacity: 1;
        }
        @media (min-width: $sm-min) {
            display: none;
        }
    }
}
