@use "./../../init" as *;

@use "./../atoms/ribbon";
@use "./../atoms/price";
@use "./../atoms/quantity_spinner";

.c-product-thumb {
    & {
        position: relative;
        width: 100%;
        height: 100%;
    }
}