@use "./../../init" as *;

.ui-menu {
    & {
        padding: 8px 0;
        margin-left: -1px;
        list-style: none;
        background: #fff;
        border: 1px solid $c_border;
        border-radius: 3px;
    }

    .ui-menu-item {
        & {
            list-style-image: none;
        }

        &::marker {
            display: none;
        }
    }

    .ui-menu-item-wrapper {
        & {
            padding: 8px 20px;
            list-style-image: none;
            transition: all .2s ease;
        }

        &.ui-state-active {
            margin: 0;
            color: $c_primary;
            background: $c_light_grey;
        }
    }
}