$queries: (
    cxs: 0,
    xs : 600px,
    sm : 768px,
    md : 1024px,
    lg : 1200px
) !default;
$queries_multipliers: (
    cxs: -3,
    xs : -2,
    sm : 1,
    md : 2,
    lg : 3
) !default;
$queries_borders: (
    cxs: (map-get($queries, cxs), map-get($queries, xs) - 1px),
    xs : (map-get($queries, xs), map-get($queries, sm) - 1px),
    sm : (map-get($queries, sm), map-get($queries, md) - 1px),
    md : (map-get($queries, md), map-get($queries, lg) - 1px),
    lg : (map-get($queries, lg), null)
);
$cxs_min: nth(map-get($queries_borders, cxs), 1);
$cxs_max: nth(map-get($queries_borders, cxs), 2);
$xs_min : nth(map-get($queries_borders, xs), 1);
$xs_max : nth(map-get($queries_borders, xs), 2);
$sm_min : nth(map-get($queries_borders, sm), 1);
$sm_max : nth(map-get($queries_borders, sm), 2);
$md_min : nth(map-get($queries_borders, md), 1);
$md_max : nth(map-get($queries_borders, md), 2);
$lg_min : nth(map-get($queries_borders, lg), 1);

/* l-box */
$box_has_radius: true !default;
$s_box_radius: 3px !default;
$s_box_padding: 15px !default;
$c_box_border: $c_border !default;

/* l-container */
$container_is_centered: true !default;

/* sizes */
$s_container_gutter: 15px !default;
$s_grid_gutter: 15px !default;
$s_grid_columns: 12 !default;
