/* temporary variables */
$tmp_lighter: 15%;
$tmp_lightest: 25%;
$tmp_darker: 15%;
$tmp_darkest: 25%;
$c_primary: #213d7c !default;
$c_primary_lighter: lighten($c_primary, $tmp_lighter) !default;
$c_primary_lightest: lighten($c_primary, $tmp_lightest) !default;
$c_primary_darker: darken($c_primary, $tmp_darker) !default;
$c_primary_darkest: darken($c_primary, $tmp_darkest) !default;
$c_secondary: #d72a27 !default;
$c_secondary_lighter: lighten($c_secondary, $tmp_lighter) !default;
$c_secondary_lightest: lighten($c_secondary, $tmp_lightest) !default;
$c_secondary_darker: darken($c_secondary, $tmp_darker) !default;
$c_secondary_darkest: darken($c_secondary, $tmp_darkest) !default;
$c_cart: green !default;
$c_cart_lighter: lighten($c_cart, $tmp_lighter) !default;
$c_cart_darker: darken($c_cart, $tmp_darker) !default;
$c_red: #dc3545 !default;
$c_green: #4bb543 !default;
$c_gray: #f3f4f5 !default;
$c_error_bg: #f2dede !default;
$c_error_border: #ebccd1 !default;
$c_error_font: #353f4a !default;
$c_success_bg: #dff0d8 !default;
$c_success_border: #d6e9c6 !default;
$c_success_font: #353f4a !default;
$c_warning_bg: #ffe9a6 !default;
$c_warning_border: #f7d46d !default;
$c_warning_font: #353f4a !default;
$c_info_bg: #e8f0f4 !default;
$c_info_border: #cbdcf0 !default;
$c_info_font: #353f4a !default;
$c_social_facebook: #3b5998 !default;
$c_social_facebook_lighter: lighten($c_social_facebook, $tmp_lighter) !default;
$c_social_google: #d34836 !default;
$c_social_google_lighter: lighten($c_social_google, $tmp_lighter) !default;
$c_social_instagram: #C42E64 !default;
$c_social_instagram_lighter: lighten($c_social_instagram, $tmp_lighter) !default;
$c_social_youtube: #C42E64 !default;
$c_social_youtube_lighter: lighten($c_social_youtube, $tmp_lighter) !default;

/* other colors */
$c_border: #dcdedf !default;
$c_shadow: rgba($c_border, .5) !default;
$c_overlay: rgb(255 255 255 / 90%) !default;
