@use "sass:math";

/* input */
$input_has_radius: true !default;
$input_has_border: true !default;
$input_has_inner_shadow: true !default;
$s_input_radius: 3px !default;
$s_input_height: 44px !default;
$s_input_height_sm: math.div($s_input_height, 4) * 3 !default;
$s_input_padding: 0 10px !default;
$c_input_border: $c_border !default;
$c_input_error_border: #d43f3a !default;
$c_input_bg: #fdfdfd !default;

/* checkbox */
$checkbox_has_radius: true !default;
$s_checkbox_radius: 3px !default;
$c_checkbox_border: $c_border !default;
$c_checkbox_bg: #fff !default;
$c_checkbox_icon: $c_primary !default;

/* radio */
$c_radio_border: $c_border !default;
$c_radio_bg: #fff !default;
$c_radio_active: $c_primary !default;

/* textarea */
$s_textarea_height: 132px !default;
$s_textarea_padding: 12px 10px !default;
