/* settings */
$f_primary_custom: false !default;
$f_secondary_custom: false !default;

/* font family */
$f_primary_regular: helvetica, arial, sans-serif !default;
$f_primary_bold: helvetica, arial, sans-serif !default;
$f_secondary_regular: $f_primary_regular !default;
$f_secondary_bold: $f_primary_bold !default;
$f_awesome: fontawesome !default;
$f_lightgallery: lg !default;

/* sizes */
$s_font: 14px !default;
$s_lineheight: calc(1em + 4px) !default;

/* colors */
$c_font: #000 !default;
$c_font_lighter: lighten($c_font, $tmp_lighter) !default;
$c_font_lightest: lighten($c_font, $tmp_lightest) !default;
