@use "sass:math";

/* settings */
$btn_has_radius: true !default;
$btn_has_border: true !default;

/* sizes */
$s_btn_radius: 3px !default;
$s_btn_height: 44px !default;
$s_btn_height_xs: math.div($s_btn_height, 2) !default;
$s_btn_height_sm: math.div($s_btn_height, 4) * 3 !default;

/* colors */
$c_btn_shadow: $c_shadow !default;
$c_btn_submit: $c_primary !default;
$c_btn_submit_hover: $c_primary_darker !default;
$c_btn_primary: $c_primary !default;
$c_btn_primary_hover: $c_primary_darker !default;
$c_btn_secondary: $c_secondary !default;
$c_btn_secondary_hover: $c_secondary_darker !default;
$c_btn_cart: $c_cart !default;
$c_btn_cart_hover: $c_cart_darker !default;
$c_btn_facebook: $c_social_facebook !default;
$c_btn_facebook_hover: $c_social_facebook_lighter !default;
$c_btn_google: $c_social_google !default;
$c_btn_google_hover: $c_social_google_lighter !default;
