@use "./../../init" as *;

.c-articles-nav {
    & {
        display: flex;
        flex-direction: column;
        width: 185px;
    }
    @media (max-width: $xs-max) {
        width: 100%;
    }

    &__title {
        & {
            margin-bottom: 14px;
            font-family: $f_secondary;
            font-size: 24px;
            font-weight: 800;
            color: $c_black;
            letter-spacing: .02em;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }

    &__items {
        & {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
        }

        &::after {
            display: block;
            flex: 0 0 auto;
            align-self: stretch;
            width: 0;
            content: "";
        }

        .c-link {
            & {
                display: flex;
                align-items: flex-start;
                padding: 7px 20px 7px 0;
                font-size: 13px;
                color: var(--c-font);
            }

            &::before {
                display: block;
                flex: 0 0 10px;
                width: 10px;
                height: 2px;
                margin: 8px 10px 0 0;
                content: "";
                background: var(--c-primary);
            }

            .c-text {
                position: relative;
            }

            .c-count {
                position: absolute;
                margin-top: 1px;
                margin-left: 7px;
                font-size: 12px;
                font-weight: 600;
                color: $c_grey;
            }

            &.is-selected {
                font-weight: 600;
                color: var(--c-primary);
            }

            &:hover,
            &:focus {
                & {
                    color: var(--c-primary);
                    text-decoration: none;
                }

                &::before {
                    background-color: var(--c-primary);
                }
            }
        }
        @media (max-width: $xs-max) {
            & {
                flex-direction: row;
                justify-content: flex-start;
                width: calc(100% + 2 * var(--container-padding));
                padding: 0 var(--container-padding);
                margin: 0 var(--container-padding-negative) 30px;
                overflow: auto;
                background: $c_bg;
            }

            &::after {
                width: var(--container-padding);
            }

            .c-link {
                & {
                    padding: 16px 0;
                    font-weight: 600;
                    white-space: nowrap;
                }

                &::before {
                    display: none;
                }

                &:not(:last-child) {
                    margin-right: 50px;
                }

                &:last-child {
                    margin-right: 20px;
                }
            }
        }
    }

    &__social {
        .c-social-links__title {
            max-width: 160px;
        }
        @media (max-width: $xs-max) {
            & {
                order: -1;
                margin-bottom: 24px;
            }

            .c-social-links {
                & {
                    display: flex;
                    align-items: center;
                }

                &__title {
                    max-width: 100%;
                    margin: 0;
                }

                &__icons {
                    & {
                        flex: 0 0 auto;
                        flex-wrap: nowrap;
                        min-width: 0;
                    }

                    .c-link {
                        margin: 0 0 0 12px;
                    }
                }
            }
        }
        @media (max-width: $txs-max) {
            .c-social-links__title {
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
}