@use "./../../init" as *;

@use "./articles_nav";
@use "./articles_listing";

.l-articles-main {
    & {
        display: flex;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
    }

    &__aside {
        & {
            margin-right: 40px;
            margin-bottom: 100px;
        }
        @media (max-width: $xs-max) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__content {
        & {
            margin-bottom: 100px;
        }

        .listing:not(:first-child) {
            padding-top: 50px;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 50px;
        }
    }
}