@use "./../../init" as *;

@use "./../../components/molecules/pager";
@use "./../../components/molecules/article_thumb";

.c-listing {
    & {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: auto;
        grid-gap: 60px 32px;
        margin-bottom: 50px;
        transition: opacity .1s ease;
    }

    &.is-loading {
        pointer-events: none;
        opacity: .5;
        transition-duration: .5s;
    }
    @media (max-width: $sm-max) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $cxs-max) {
        grid-template-columns: 1fr;
        grid-gap: 40px 20px;
    }

    &__item {
        .c-article-thumb {
            &__info,
            &__link {
                display: none;
            }
        }
        @media (min-width: $xs-min) {
            &:first-child {
                & {
                    grid-column: 1 / 4;
                }

                .c-article-thumb {
                    & {
                        flex-direction: row;
                    }

                    &__image {
                        width: 540px;
                        margin-right: 40px;
                        margin-bottom: 0;
                    }

                    &__wrapper {
                        flex: 1;
                        min-width: 0;
                        padding-top: 4px;
                    }

                    &__info {
                        display: flex;
                    }

                    &__name {
                        & {
                            height: auto;
                            margin-bottom: 21px;
                        }

                        .c-link {
                            @include maxLines(3);

                            font-size: 24px;
                            line-height: 32px;
                        }
                    }

                    &__text {
                        @include maxLines(4);

                        line-height: 26px;
                    }

                    &__link {
                        display: block;
                    }
                }
            }
        }
        @media (max-width: $sm-max) and (min-width: $xs-min) {
            &:first-child {
                & {
                    grid-column: 1 / 3;
                }

                .c-article-thumb {
                    &__image {
                        width: calc(50% - (35px / 2));
                        height: 100%;
                    }

                    &__wrapper {
                        padding-top: 0;
                    }

                    &__info {
                        .c-section {
                            display: none;
                        }
                    }

                    &__name {
                        & {
                            margin-bottom: 10px;
                        }

                        .c-link {
                            @include maxLines(2);

                            font-size: 20px;
                            line-height: 27px;
                        }
                    }

                    &__text {
                        @include maxLines(3);

                        line-height: 24px;
                    }
                }
            }
        }
        @media (max-width: $xs-max) and (min-width: $xs-min) {
            &:first-child {
                .c-article-thumb {
                    &__name {
                        .c-link {
                            @include maxLines(3);

                            line-height: 27px;
                        }
                    }

                    &__text {
                        display: none;
                    }
                }
            }
        }
    }
}

.pager__limit {
    display: none;
}