@use "./../../init" as *;

@use "./../../components/molecules/breadcrumb";
@use "./../../components/organisms/instagram";

@use "./articles_main";

.l-articles {
    &__breadcrumb {
        & {
            padding-top: 31px;
            margin-bottom: 71px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 31px;
        }
    }

    &__main {

    }

    &__instagram {
        & {
            margin-bottom: 100px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 70px;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 50px;
        }
    }
}