@use "variables" as init;

@mixin fnt($settings: ()) {
    $defaults: (
        ff: null,
        fs: null,
        lh: null,
        c: null,
        fw: normal,
    );
    $options: map-merge($defaults, $settings);

    @if map-get($options, ff) {
        font-family: map-get($options, ff);
        font-weight: map-get($options, fw);
    }
    @if map-get($options, fs) {
        font-size: map-get($options, fs);
    }
    @if map-get($options, lh) {
        line-height: map-get($options, lh);
    }
    @if map-get($options, c) {
        color: map-get($options, c);
    }
}

@mixin typo($type, $options: ()) {
    @include fnt(map-merge($type, $options));
}

@mixin textOverflow {
    & {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@mixin maxLines($lines) {
    & {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: $lines;

        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
    }
}

@mixin transition(
    $properties: all,
    $duration: init.$t_transition,
    $method: ease-in-out,
    $delay: 0ms
) {
    $value: ();
    @each $property in $properties {
        @if length($value) > 0 {
            $value: append($value, unquote(",") #{$property} $duration $method $delay);
        } @else {
            $value: append($value, #{$property} $duration $method $delay);
        }
    }

    transition: $value;
}

@mixin absoluteCentered {
    position: absolute;
    inset: 0;
    margin: auto;
}

@mixin icoSize($size: 1.2rem, $line_height: null, $height: null) {
    height: if($height, $height, $size);
    font-size: $size;
    line-height: if($line_height, $line_height, $size);
}

@mixin ie {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin breakerAfter {
    &::after {
        display: block;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        clear: both;
        font-size: 0;
        line-height: 0;
        content: "";
    }
}

@mixin scrollbar($settings: ()) {
    $defaults: (
        color: init.$c_light_grey,
        hoverColor: init.$c_light_grey,
        bg: #fff,
        hide: false,
        width: 20px,
        thumbWidth: 5px,
    );
    $options: map-merge($defaults, $settings);

    & {
        scrollbar-color: map-get($options, color) map-get($options, bg);
        scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
        width: map-get($options, width);

        @if map-get($options, hide) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background: map-get($options, bg);
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($options, bg);
        border-right: map-get($options, thumbwidth) solid map-get($options, color);
    }
}

@mixin hideText {
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
}

@mixin hide {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

@mixin flexItem($settings: ()) {
    $defaults: (
        fg: 1,
        fs: 1,
        fb: 0,
        mw: false,
    );
    $options: map-merge($defaults, $settings);

    flex: map-get($options, fg) map-get($options, fs) map-get($options, fb);
    @if map-get($options, mw) {
        min-width: 0;
    }
}

@mixin flexWidth($width) {
    flex: 0 0 $width;
    width: $width;
    max-width: $width;
}

@mixin icomoonFont() {
    @include fnt(
        (
            ff: init.$f_icomoon,
        )
    );

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin lineThrough($line_color: init.$c_dark_grey) {
    & {
        position: relative;
    }

    &::after {
        position: absolute;
        inset: 0 -3px 1px;
        height: 1px;
        margin: auto;
        content: "";
        background: $line_color;
    }
}

@mixin lazyImageLoad {
    & {
        opacity: 0;
    }

    &.loaded {
        opacity: 1;
        animation: fadeIn 0.5s ease 1;
    }
}

@mixin icoShadowColors($path1, $path2) {
    .path1::before {
        color: $path1;
        opacity: 1;
    }

    .path2::before {
        color: $path2;
    }
}

@mixin hover($withFocus: false) {
    @if $withFocus {
        @media (hover: hover) {
            &:hover {
                @content;
            }
        }

        &:focus,
        &:focus-visible {
            @content;
        }
    } @else {
        @media (hover: hover) {
            &:hover {
                @content;
            }
        }
    }
}

@mixin nextItemsSelector($count, $selector) {
    @for $i from 1 to $count + 1 {
        $itemsSelector: "& + #{$selector}";

        @for $j from 1 to $i {
            $itemsSelector: "#{$itemsSelector} + #{$selector}";
        }

        #{$itemsSelector} {
            @content;
        }
    }
}

@mixin imageFit($fit: contain, $position: center) {
    & {
        position: relative;
    }

    .c-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: $fit;
        object-position: $position;
    }
}

@mixin beforeAspectRatio($width: 1, $height: 1) {
    &::before {
        display: block;
        width: 100%;
        padding-top: calc(#{$height} / #{$width} * 100%);
        content: "";
    }
}

@mixin imageAspectRatio($width: 1, $height: 1, $fit: contain, $position: center) {
    @include beforeAspectRatio($width, $height);
    @include imageFit($fit, $position);
}
