@use "sass:math";
@use "variables" as init;
@use "mixins" as mixin;

@mixin t-arrow-top($settings: ()) {
    $defaults: (
        width: 20px,
        left: 50%,
        bottom: 100%,
        background: #fff,
        border: init.$c_border,
    );
    $options: map-merge($defaults, $settings);

    &::before,
    &::after {
        position: absolute;
        bottom: map-get($options, bottom);
        left: map-get($options, left);
        width: 0;
        height: 0;
        pointer-events: none;
        content: "";
        border: solid transparent;
    }

    &::after {
        margin-left: -#{math.div(map-get($options, width), 2) - 1};
        border-color: transparent;
        border-width: math.div(map-get($options, width), 2) - 1;
        border-bottom-color: map-get($options, background);
    }

    &::before {
        margin-left: -#{math.div(map-get($options, width), 2)};
        border-color: transparent;
        border-width: math.div(map-get($options, width), 2);
        border-bottom-color: map-get($options, border);
    }
}

@mixin t-arrow-bottom($settings: ()) {
    $defaults: (
        width: 20px,
        left: 50%,
        top: 100%,
        background: #fff,
        border: init.$c_border,
    );
    $options: map-merge($defaults, $settings);

    &::before,
    &::after {
        position: absolute;
        top: map-get($options, top);
        left: map-get($options, left);
        width: 0;
        height: 0;
        pointer-events: none;
        content: "";
        border: solid transparent;
    }

    &::after {
        margin-left: -#{math.div(map-get($options, width), 2) - 1};
        border-color: transparent;
        border-width: math.div(map-get($options, width), 2) - 1;
        border-top-color: map-get($options, background);
    }

    &::before {
        margin-left: -#{math.div(map-get($options, width), 2)};
        border-color: transparent;
        border-width: math.div(map-get($options, width), 2);
        border-top-color: map-get($options, border);
    }
}

@mixin t-quantity-input($settings: ()) {
    $defaults: (
        width: 270px,
    );
    $options: map-merge($defaults, $settings);

    .c-form__quantity {
        & {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: map-get($options, width);
            height: 100%;
            background: init.$c_white;
        }

        &:not(.is-in-cart) {
            display: none;
        }

        &.is-loading::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% + 15px);
            z-index: 2;
            width: 18px;
            height: 18px;
            margin: auto;
            content: "";
            border: 2px solid transparent;
            border-top-color: init.$c_cart;
            border-bottom-color: init.$c_cart;
            border-radius: 50%;
            animation: spin 0.65s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        }

        .c-form__input {
            font-size: 12px;
            font-weight: 700;
            color: init.$c_secondary;
            background: #fff;
            border-color: init.$c_secondary;
        }
    }

    .c-btn--cart:not(.is-decrement, .is-increment) {
        & {
            justify-content: center;
            width: map-get($options, width);
            height: 54px;
            font-size: 13px;
        }

        .ico {
            @include mixin.icoSize(24px);

            top: 0;
            margin-right: 10px;
        }
    }
}
