/** Figma colors
* ako je zadane vo figme, tak je to aj tu
*/
$c_black: #000;
$c_white: #fff;
$c_riesenia_primary: #3d2e80;
$c_riesenia_secondary: #ee325c;
$c_riesenia_border: #e0e2e8;

/** Project colors
* farby, ktore musia byt zadefinovane v kazdom projekte
* idealne pouzit vyssie definovane premenne z figmy
*/

/* basic colors */
$c_black: $c_black;
$c_white: $c_white;
$c_red: #d9362a;
$c_red_hover: $c_red;
$c_green: #57a433;
$c_green_hover: $c_green;
$c_blue: #42879c;
$c_yellow: #fdec00;
$c_orange: #c17924;
$c_grey: #999;
$c_dark_grey: #3e4c52;
$c_light_grey: #f2f7f9;

/* project specific colors */
$c_primary: $c_riesenia_primary;
$c_primary_hover: lighten($c_primary, 15%);
$c_secondary: $c_riesenia_secondary;
$c_secondary_hover: lighten($c_secondary, 25%);
$c_cart: $c_green;
$c_cart_hover: lighten($c_green, 5%);
$c_font: $c_black;
$c_font_dark: $c_font;
$c_shadow: rgb(62 76 82 / 15%);
$c_border: $c_riesenia_border;
$c_bg: $c_light_grey;
$c_overlay: rgba(#1a1e21, 0.45);

/* messages / alerts colors */
$c_error_bg: rgba($c_red, 0.05);
$c_error_border: rgba($c_red, 0.2);
$c_error_font: $c_red;
$c_success_bg: rgba($c_green, 0.05);
$c_success_border: rgba($c_green, 0.2);
$c_success_font: $c_green;
$c_warning_bg: rgba($c_orange, 0.05);
$c_warning_border: rgba($c_orange, 0.2);
$c_warning_font: $c_orange;
$c_info_bg: rgba($c_blue, 0.05);
$c_info_border: rgba($c_blue, 0.2);
$c_info_font: $c_blue;

/** Fonts
* taktiez povinne premenne
*/
$f_icomoon: "icomoon";
$f_awesome: "icomoon";
$f_primary: "Jost", sans-serif;
$f_secondary: $f_primary;
$f_primary_regular: $f_primary;
$f_primary_bold: $f_primary;

/** Paths
* cesty k assets
*/
$p_root: "../";
$p_fe_root: "../../vendor/rshop/frontend/resources/";
$p_fe_css: "#{$p_fe_root}css/";
$p_img: "#{$p_root}img/";
$p_icons: "#{$p_root}img/icons/";
$p_fonts: "#{$p_root}fonts/";
$icomoon-font-path: "#{$p_root}fonts/icomoon/fonts/";

/** Layout
* hranice pre media queries
*/
$queries: (
    cxs: 0,
    xs: 600px,
    sm: 1024px,
    md: 1280px,
    lg: 1366px,
);
$queries_borders: (
    cxs: (
        map-get($queries, cxs),
        map-get($queries, xs) - 1px,
    ),
    xs: (
        map-get($queries, xs),
        map-get($queries, sm) - 1px,
    ),
    sm: (
        map-get($queries, sm),
        map-get($queries, md) - 1px,
    ),
    md: (
        map-get($queries, md),
        map-get($queries, lg) - 1px,
    ),
    lg: (
        map-get($queries, lg),
        null,
    ),
);
$cxs_min: nth(map-get($queries_borders, cxs), 1);
$cxs_max: nth(map-get($queries_borders, cxs), 2);
$xs_min: nth(map-get($queries_borders, xs), 1);
$xs_max: nth(map-get($queries_borders, xs), 2);
$sm_min: nth(map-get($queries_borders, sm), 1);
$sm_max: nth(map-get($queries_borders, sm), 2);
$md_min: nth(map-get($queries_borders, md), 1);
$md_max: nth(map-get($queries_borders, md), 2);
$lg_min: nth(map-get($queries_borders, lg), 1);
$txs-min: 768px;
$txs-max: ($txs-min - 1px);

/** Jadro stuff
* nastavovacky z jadra
* ak nie hned, tak casom by cheli ist asi prec
*/
$input_has_inner_shadow: false;
$s_input_radius: 3px;
$s_input_height: 50px;
$s_input_padding: 0 40px 0 20px;
$c_input_border: $c_border;
$c_input_border_hover: rgba($c_border, 0.7);
$c_input_bg: $c_white;
$c_input_color: $c_font;
$c_input_placeholder: $c_light_grey;
$c_input_success_border: $c_green;
$c_input_error_border: $c_error_font;
$s_textarea_height: 120px;
$s_textarea_padding: 16px 40px 16px 20px;
$c_label_color: $c_font;
$s_label_font: 14px;
$s_label_margin: 4px;

/* options: before, after */
$v_label_required_position: after;

// bootstrap
$grid-columns: 100;
$font-family-base: $f_primary;
$text-color: $c_font;
$body-bg: #fff;
