@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?qvl937') format('truetype'),
    url('fonts/icomoon.woff?qvl937') format('woff'),
    url('fonts/icomoon.svg?qvl937#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-dot:before {
  content: "\e906";
}
.ico-x:before {
  content: "\e907";
}
.ico-minus:before {
  content: "\e903";
}
.ico-fa-plus:before {
  content: "\e904";
}
.ico-plus:before {
  content: "\e904";
}
.ico-cross-circle:before {
  content: "\e905";
}
.ico-chevron-down1:before {
  content: "\e901";
}
.ico-chevron-up1:before {
  content: "\e902";
}
.ico-tick1:before {
  content: "\e900";
}
.ico-fa-chevron-down:before {
  content: "\e956";
}
.ico-chevron-down:before {
  content: "\e956";
}
.ico-fa-trash:before {
  content: "\e93c";
}
.ico-trash:before {
  content: "\e93c";
}
.ico-fa-smile-o:before {
  content: "\e93d";
}
.ico-fa-frown-o:before {
  content: "\e93e";
}
.ico-fa-check:before {
  content: "\e93f";
}
.ico-tick:before {
  content: "\e93f";
}
.ico-fa-group:before {
  content: "\e940";
}
.ico-fa-users:before {
  content: "\e940";
}
.ico-fa-user-plus:before {
  content: "\e941";
}
.ico-fa-sort:before {
  content: "\e942";
}
.ico-fa-unsorted:before {
  content: "\e942";
}
.ico-fa-close:before {
  content: "\e943";
}
.ico-fa-remove:before {
  content: "\e943";
}
.ico-fa-times:before {
  content: "\e943";
}
.ico-close:before {
  content: "\e943";
}
.ico-delete:before {
  content: "\e943";
}
.ico-fa-th:before {
  content: "\e944";
}
.ico-fa-sliders:before {
  content: "\e945";
}
.ico-filter:before {
  content: "\e945";
}
.ico-fa-shopping-cart:before {
  content: "\e946";
}
.ico-shopping-cart:before {
  content: "\e946";
}
.ico-fa-search:before {
  content: "\e947";
}
.ico-search:before {
  content: "\e947";
}
.ico-fa-print:before {
  content: "\e948";
}
.ico-print:before {
  content: "\e948";
}
.ico-fa-paper-plane:before {
  content: "\e94a";
}
.ico-fa-send:before {
  content: "\e94a";
}
.ico-fa-lightbulb-o:before {
  content: "\e94b";
}
.ico-fa-info-circle:before {
  content: "\e94c";
}
.ico-fa-google-plus:before {
  content: "\e94d";
}
.ico-fa-facebook:before {
  content: "\e94e";
}
.ico-fa-facebook-f:before {
  content: "\e94e";
}
.ico-fa-download:before {
  content: "\e94f";
}
.ico-download:before {
  content: "\e94f";
}
.ico-fa-chevron-right:before {
  content: "\e950";
}
.ico-chevron-right:before {
  content: "\e950";
}
.ico-fa-chevron-up:before {
  content: "\e951";
}
.ico-chevron-up:before {
  content: "\e951";
}
.ico-fa-chevron-left:before {
  content: "\e952";
}
.ico-chevron-left:before {
  content: "\e952";
}
.ico-fa-caret-right:before {
  content: "\e953";
}
.ico-fa-bars:before {
  content: "\e954";
}
.ico-fa-navicon:before {
  content: "\e954";
}
.ico-fa-reorder:before {
  content: "\e954";
}
.ico-fa-arrow-up:before {
  content: "\e955";
}
.ico-arrow-up:before {
  content: "\e955";
}
