@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qvl937') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qvl937') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qvl937##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-dot {
  &:before {
    content: $ico-dot; 
  }
}
.ico-x {
  &:before {
    content: $ico-x; 
  }
}
.ico-minus {
  &:before {
    content: $ico-minus; 
  }
}
.ico-fa-plus {
  &:before {
    content: $ico-fa-plus; 
  }
}
.ico-plus {
  &:before {
    content: $ico-plus; 
  }
}
.ico-cross-circle {
  &:before {
    content: $ico-cross-circle; 
  }
}
.ico-chevron-down1 {
  &:before {
    content: $ico-chevron-down1; 
  }
}
.ico-chevron-up1 {
  &:before {
    content: $ico-chevron-up1; 
  }
}
.ico-tick1 {
  &:before {
    content: $ico-tick1; 
  }
}
.ico-fa-chevron-down {
  &:before {
    content: $ico-fa-chevron-down; 
  }
}
.ico-chevron-down {
  &:before {
    content: $ico-chevron-down; 
  }
}
.ico-fa-trash {
  &:before {
    content: $ico-fa-trash; 
  }
}
.ico-trash {
  &:before {
    content: $ico-trash; 
  }
}
.ico-fa-smile-o {
  &:before {
    content: $ico-fa-smile-o; 
  }
}
.ico-fa-frown-o {
  &:before {
    content: $ico-fa-frown-o; 
  }
}
.ico-fa-check {
  &:before {
    content: $ico-fa-check; 
  }
}
.ico-tick {
  &:before {
    content: $ico-tick; 
  }
}
.ico-fa-group {
  &:before {
    content: $ico-fa-group; 
  }
}
.ico-fa-users {
  &:before {
    content: $ico-fa-users; 
  }
}
.ico-fa-user-plus {
  &:before {
    content: $ico-fa-user-plus; 
  }
}
.ico-fa-sort {
  &:before {
    content: $ico-fa-sort; 
  }
}
.ico-fa-unsorted {
  &:before {
    content: $ico-fa-unsorted; 
  }
}
.ico-fa-close {
  &:before {
    content: $ico-fa-close; 
  }
}
.ico-fa-remove {
  &:before {
    content: $ico-fa-remove; 
  }
}
.ico-fa-times {
  &:before {
    content: $ico-fa-times; 
  }
}
.ico-close {
  &:before {
    content: $ico-close; 
  }
}
.ico-delete {
  &:before {
    content: $ico-delete; 
  }
}
.ico-fa-th {
  &:before {
    content: $ico-fa-th; 
  }
}
.ico-fa-sliders {
  &:before {
    content: $ico-fa-sliders; 
  }
}
.ico-filter {
  &:before {
    content: $ico-filter; 
  }
}
.ico-fa-shopping-cart {
  &:before {
    content: $ico-fa-shopping-cart; 
  }
}
.ico-shopping-cart {
  &:before {
    content: $ico-shopping-cart; 
  }
}
.ico-fa-search {
  &:before {
    content: $ico-fa-search; 
  }
}
.ico-search {
  &:before {
    content: $ico-search; 
  }
}
.ico-fa-print {
  &:before {
    content: $ico-fa-print; 
  }
}
.ico-print {
  &:before {
    content: $ico-print; 
  }
}
.ico-fa-paper-plane {
  &:before {
    content: $ico-fa-paper-plane; 
  }
}
.ico-fa-send {
  &:before {
    content: $ico-fa-send; 
  }
}
.ico-fa-lightbulb-o {
  &:before {
    content: $ico-fa-lightbulb-o; 
  }
}
.ico-fa-info-circle {
  &:before {
    content: $ico-fa-info-circle; 
  }
}
.ico-fa-google-plus {
  &:before {
    content: $ico-fa-google-plus; 
  }
}
.ico-fa-facebook {
  &:before {
    content: $ico-fa-facebook; 
  }
}
.ico-fa-facebook-f {
  &:before {
    content: $ico-fa-facebook-f; 
  }
}
.ico-fa-download {
  &:before {
    content: $ico-fa-download; 
  }
}
.ico-download {
  &:before {
    content: $ico-download; 
  }
}
.ico-fa-chevron-right {
  &:before {
    content: $ico-fa-chevron-right; 
  }
}
.ico-chevron-right {
  &:before {
    content: $ico-chevron-right; 
  }
}
.ico-fa-chevron-up {
  &:before {
    content: $ico-fa-chevron-up; 
  }
}
.ico-chevron-up {
  &:before {
    content: $ico-chevron-up; 
  }
}
.ico-fa-chevron-left {
  &:before {
    content: $ico-fa-chevron-left; 
  }
}
.ico-chevron-left {
  &:before {
    content: $ico-chevron-left; 
  }
}
.ico-fa-caret-right {
  &:before {
    content: $ico-fa-caret-right; 
  }
}
.ico-fa-bars {
  &:before {
    content: $ico-fa-bars; 
  }
}
.ico-fa-navicon {
  &:before {
    content: $ico-fa-navicon; 
  }
}
.ico-fa-reorder {
  &:before {
    content: $ico-fa-reorder; 
  }
}
.ico-fa-arrow-up {
  &:before {
    content: $ico-fa-arrow-up; 
  }
}
.ico-arrow-up {
  &:before {
    content: $ico-arrow-up; 
  }
}

