$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ico-dot: unquote('"\\e906"');
$ico-x: unquote('"\\e907"');
$ico-minus: unquote('"\\e903"');
$ico-fa-plus: unquote('"\\e904"');
$ico-plus: unquote('"\\e904"');
$ico-cross-circle: unquote('"\\e905"');
$ico-chevron-down1: unquote('"\\e901"');
$ico-chevron-up1: unquote('"\\e902"');
$ico-tick1: unquote('"\\e900"');
$ico-fa-chevron-down: unquote('"\\e956"');
$ico-chevron-down: unquote('"\\e956"');
$ico-fa-trash: unquote('"\\e93c"');
$ico-trash: unquote('"\\e93c"');
$ico-fa-smile-o: unquote('"\\e93d"');
$ico-fa-frown-o: unquote('"\\e93e"');
$ico-fa-check: unquote('"\\e93f"');
$ico-tick: unquote('"\\e93f"');
$ico-fa-group: unquote('"\\e940"');
$ico-fa-users: unquote('"\\e940"');
$ico-fa-user-plus: unquote('"\\e941"');
$ico-fa-sort: unquote('"\\e942"');
$ico-fa-unsorted: unquote('"\\e942"');
$ico-fa-close: unquote('"\\e943"');
$ico-fa-remove: unquote('"\\e943"');
$ico-fa-times: unquote('"\\e943"');
$ico-close: unquote('"\\e943"');
$ico-delete: unquote('"\\e943"');
$ico-fa-th: unquote('"\\e944"');
$ico-fa-sliders: unquote('"\\e945"');
$ico-filter: unquote('"\\e945"');
$ico-fa-shopping-cart: unquote('"\\e946"');
$ico-shopping-cart: unquote('"\\e946"');
$ico-fa-search: unquote('"\\e947"');
$ico-search: unquote('"\\e947"');
$ico-fa-print: unquote('"\\e948"');
$ico-print: unquote('"\\e948"');
$ico-fa-paper-plane: unquote('"\\e94a"');
$ico-fa-send: unquote('"\\e94a"');
$ico-fa-lightbulb-o: unquote('"\\e94b"');
$ico-fa-info-circle: unquote('"\\e94c"');
$ico-fa-google-plus: unquote('"\\e94d"');
$ico-fa-facebook: unquote('"\\e94e"');
$ico-fa-facebook-f: unquote('"\\e94e"');
$ico-fa-download: unquote('"\\e94f"');
$ico-download: unquote('"\\e94f"');
$ico-fa-chevron-right: unquote('"\\e950"');
$ico-chevron-right: unquote('"\\e950"');
$ico-fa-chevron-up: unquote('"\\e951"');
$ico-chevron-up: unquote('"\\e951"');
$ico-fa-chevron-left: unquote('"\\e952"');
$ico-chevron-left: unquote('"\\e952"');
$ico-fa-caret-right: unquote('"\\e953"');
$ico-fa-bars: unquote('"\\e954"');
$ico-fa-navicon: unquote('"\\e954"');
$ico-fa-reorder: unquote('"\\e954"');
$ico-fa-arrow-up: unquote('"\\e955"');
$ico-arrow-up: unquote('"\\e955"');

