@use "./../../init" as *;

// @use "article_gallery";

.c-content {
    & {
        position: relative;
        font-size: 16px;
        line-height: 1.6;
    }

    p {
        & {
            margin-top: 0;
            margin-bottom: 25px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 20px;
        }
    }

    ol {
        & {
            padding-left: 15px;
            margin-bottom: 30px;
        }

        li {
            & {
                position: relative;
                padding-left: 15px;
                margin-bottom: 10px;
            }
        }
        @media (max-width: $cxs-max) {
            & {
                padding-left: 14px;
            }

            li {
                padding-left: 18px;
                margin-bottom: 10px;
            }
        }
    }

    ul {
        & {
            padding-left: 30px;
            margin-bottom: 25px;
            list-style: none;
        }

        li {
            & {
                position: relative;
                padding-right: 40px;
                break-inside: avoid;
            }

            &::before {
                position: absolute;
                top: 8px;
                left: -27px;
                width: 10px;
                height: 10px;
                content: "";
                background-color: $c_primary;
                border-radius: 2px;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &.is-plus,
            &.is-minus {
                &::before {
                    @include icoSize(16px);

                    top: 5px;
                    left: -30px;
                    width: auto;
                    font-family: $f_icomoon;
                    background-color: transparent;
                }
            }

            &.is-plus {
                &::before {
                    color: $c_green;
                    content: unicode($ico-plus-circle-16);
                }
            }

            &.is-minus {
                &::before {
                    color: $c_red;
                    content: unicode($ico-minus-circle-16);
                }
            }
        }
        @media (max-width: $cxs-max) {
            column-count: 1;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $f_primary;
        font-weight: 700;
        line-height: 1.25;
        color: $c_black;
    }

    h1,
    h2 {
        & {
            padding-top: 35px;
            margin: 0 0 20px;
            font-size: 28px;
        }
        @media (max-width: $cxs-max) {
            padding-top: 25px;
            font-size: 22px;
        }
    }

    h3 {
        padding-top: 5px;
        margin: 0 0 20px;
        font-size: 24px;
    }

    h4 {
        padding-top: 10px;
        margin: 0 0 20px;
        font-size: 18px;
    }

    h5,
    h6 {
        padding-top: 5px;
        margin: 0 0 20px;
        font-size: 16px;
    }

    img:not(.c-img) {
        & {
            max-width: 100%;
            height: auto;

            // margin: 25px 0;
        }
    }

    .iframe-responsive {
        & {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.22%;
            margin: 50px 0;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .table-responsive {
        min-width: 100%;
        margin-bottom: 25px;
        overflow: auto;
    }

    table {
        & {
            font-size: 15px;
            color: $c_black;
            text-align: center;
            border: none;
        }

        tr {
            & {
                background-color: $c_white;
            }

            &:nth-child(even) {
                background-color: $c_bg;
            }
        }

        td {
            & {
                width: auto!important;
                padding: 13px 20px;
                border: none;
            }

            &:first-child {
                min-width: 320px;
                padding: 13px 30px;
            }
        }
    }

    .sc-knowledge {
        & {
            display: flex;
            align-items: center;
            padding: 25px 30px;
            margin: 20px 0 25px;
            color: $c_black;
            background-color: $c_bg;
            border-radius: 3px;
        }

        &__icon {
            & {
                margin-right: 20px;
            }

            .ico {
                @include icoSize(40px);
            }
        }

        &__text {
            flex: 1;
            font-size: 15px;
            font-weight: 700;
            line-height: 1.4;
        }
    }
    @media (max-width: $xs-max) {
        & {
            font-size: 15px;
        }

        table td {
            & {
                padding: 8px 20px;
                line-height: 1.25;
            }

            &:first-child {
                min-width: 140px;
            }
        }
    }
}