@use "./../../init" as *;

@use "./../molecules/info_box";
@use "./../../components/modal/address";

.c-form-section {
    & {
        margin-bottom: 60px;
    }

    .c-form__box {
        .c-form__item--checkbox {
            & {
                margin-bottom: 0;
            }

            .c-form__input[data-custom="custom"] {
                & + label {
                    & {
                        width: calc(100% + 2px);
                        padding: 15px 20px 15px 46px;
                        margin: -1px;
                        border: 1px solid var(--input-c-border);
                    }

                    &::before {
                        top: 16px;
                        left: 20px;
                    }
                }

                &:checked + label {
                    background-color: var(--c-bg-secondary);
                    border-color: var(--c-secondary);
                }
            }
        }

        .c-list {
            & {
                padding: 22px 20px 6px;
            }

            &__item {
                &::before {
                    @include icoSize(14px);

                    color: var(--c-secondary);
                    content: unicode($ico-tick);
                    background-color: transparent;
                }
            }
        }
    }

    .c-form__item {
        /* &:last-child {
            margin-bottom: 0;
        } */
        &--textarea {
            margin-bottom: 0;
        }
    }

    &__title {
        & {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.45;
        }

        &:not(.has-subtitle) {
            margin-bottom: 25px;
        }

        &.is-hidden {
            display: none;
        }
    }

    &__subtitle {
        margin-bottom: 15px;
        font-size: 14px;
    }

    &__text {
        & {
            margin-bottom: 20px;
            font-size: 15px;
        }

        p {
            & {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: var(--c-secondary);
        }

        &.is-hidden {
            display: none;
        }
    }

    &__messages {
        & {
            margin-bottom: 30px;
        }

        .c-msg {
            & {
                display: flex;
                gap: 0 20px;
                align-items: center;
                padding: 16px 30px;
                margin-bottom: 15px;
                font-size: 15px;
            }

            .ico {
                @include icoSize(28px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.is-hidden {
            display: none;
        }
    }

    &__box {
        & {
            position: relative;
            padding: 30px;
            background-color: var(--c-bg);
        }

        .c-link {
            & {
                position: absolute;
                top: 12px;
                right: 18px;
                display: flex;
                gap: 0 6px;
                align-items: center;
                font-weight: 600;
            }

            .sc-text {
                text-decoration: underline;
            }

            .ico {
                @include icoSize(14px);

                top: -1px;
            }

            @include hover {
                .sc-text {
                    text-decoration: none;
                }
            }
        }
        @media (max-width: $cxs-max) {
            padding: 15px;
        }
    }

    &__link {
        & {
            padding-top: 10px;
        }

        .c-btn {
            & {
                height: 47px;
                font-size: 15px;
                font-weight: 700;
            }

            .sc-count {
                font-weight: 500;
            }
        }
    }

    &.without-bottom-margin {
        margin-bottom: 0;
    }

    &.has-bottom-border {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--c-border);
    }
}
