@use "./../../init" as *;

@use "./../atoms/button";
@use "./../atoms/checkbox";

.c-form {
    --input-s-radius: #{$s_input_radius};
    --input-s-height: #{$s_input_height};
    --input-s-padding: #{$s_input_padding};
    --input-c-border: #{$c_input_border};
    --input-c-border-hover: #{$c_input_border_hover};
    --input-c-bg: #{$c_input_bg};
    --input-c-font: #{$c_input_color};
    --input-c-placeholder: #{$c_input_placeholder};
    --textarea-s-height: #{$s_textarea_height};
    --textarea-s-padding: #{$s_textarea_padding};
    --label-c-color: #{$c_label_color};
    --label-s-font: #{$s_label_font};
    --label-s-margin: #{$s_label_margin};

    &__title {
        & {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 25px;
            font-size: 24px;
            font-weight: 700;
        }

        small {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $c_dark_grey;
        }
        @media (max-width: $txs-max) {
            & {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 24px;
                font-size: 20px;
            }

            small {
                margin: 8px 0 0;
            }
        }
    }

    &__box {
        margin-bottom: 20px;
        border: 1px solid var(--input-c-border);
    }

    &__toggle {
        &:not(.is-active) {
            display: none;
        }
    }

    &__row {
        & {
            display: flex;
            gap: 0 10px;
        }

        .c-form__item {
            & {
                flex: 1;
                min-width: 0;
            }

            &[data-type="post-code"] {
                flex: initial;
                width: 20%;
            }
        }

        &.is-hidden {
            display: none;
        }
        @media (min-width: $xs-min) {
            .c-form__item {
                &[data-type="first-name"],
                &[data-type="phone"],
                &[data-type="date"],
                &[data-type="country"] {
                    flex: initial;
                    width: 40%;
                }
            }
        }
        @media (max-width: $cxs-max) {
            & {
                flex-wrap: wrap;
            }

            .c-form__item {
                & {
                    flex: initial;
                    width: 100%;
                }

                &[data-type="address"] {
                    flex: 1;
                    width: auto;
                }

                &[data-type="post-code"] {
                    width: 30%;
                }
            }
        }
    }

    &__label {
        & {
            position: relative;
            display: flex;
            gap: 0 20px;
            width: 100%;
            margin-bottom: var(--label-s-margin);
            font-size: var(--label-s-font);
            font-weight: 700;
            line-height: 1.5;
            color: var(--c-label-color);
        }

        .sc-text {
            small {
                font-weight: 500;
            }
        }

        .sc-label-addon {
            & {
                margin-left: auto;
                font-size: 13px;
                font-weight: 600;
                text-align: right;
            }

            .ico-info {
                @include icoSize(15px);
            }
        }

        .sc-input-addon {
            & {
                position: absolute;
                top: calc(100% + var(--label-s-margin) + var(--input-s-height) / 2);
                right: 15px;
                display: flex;
                max-height: var(--input-s-height);
                color: var(--c-primary);
                cursor: pointer;
                transition: color 0.2s ease;
                transform: translateY(-50%);
            }

            .ico {
                @include icoSize(17px);
            }
            @include hover {
                color: var(--c-secondary);
            }
        }
    }

    &__item {
        & {
            margin-bottom: 20px;
        }

        .help-block,
        label.error {
            display: block;
            padding: 0;
            margin: 6px 0 0 2px;
            font-size: 13px;
            font-weight: 600;
            color: $c_red;
            background: none;
            border: none;
        }

        .sc-note {
            & {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.5;
                color: var(--c-grey);
            }

            &:not(:empty) {
                padding-top: 10px;
            }
        }

        &.is-required .c-form__label {
            @if $v_label_required_position == before {
                .sc-text::before {
                    padding-right: 4px;
                    font-weight: 700;
                    color: $c_red;
                    content: "*";
                }
            } @else if $v_label_required_position == after {
                .sc-text::after {
                    padding-left: 4px;
                    font-weight: 700;
                    color: $c_red;
                    content: "*";
                }
            }
        }

        &.is-loading {
            .c-form__input {
                &.error,
                &.valid {
                    background-image: none;
                }
            }

            .sc-input-addon {
                & {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                    cursor: wait;
                }

                &::after {
                    @include absoluteCentered;

                    z-index: 2;
                    width: 20px;
                    height: 20px;
                    content: "";
                    border: 3px solid transparent;
                    border-top-color: var(--c-primary);
                    border-bottom-color: var(--c-primary);
                    border-radius: 50%;
                    animation: spin 0.65s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                }
            }
        }

        &--checkbox .c-form__input[data-custom="toggle"] {
            & {
                position: absolute;
                z-index: -1;
                width: 0;
                height: 0;
                opacity: 0;
            }

            & + label {
                & {
                    position: relative;
                    display: block;
                    padding-left: 45px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 20px;
                }

                strong {
                    font-weight: 800;
                }

                a,
                .c-link {
                    font-weight: 800;
                    text-decoration: underline;
                }

                small {
                    font-size: 12px;
                }

                .sc-toggle {
                    & {
                        position: absolute;
                        top: 1px;
                        left: 0;
                        display: block;
                        width: 34px;
                        height: 18px;
                        cursor: pointer;
                        background-color: $c_border;
                        border-radius: 9px;
                        transition: background-color 0.3s ease-in-out;
                    }

                    &::before {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 14px;
                        height: 14px;
                        content: "";
                        background: #fdfdfd;
                        border-radius: 50%;
                        transition: transform 0.3s ease-in-out;
                    }
                }
            }

            &:checked + label {
                .sc-toggle {
                    & {
                        background-color: $c_primary;
                    }

                    &::before {
                        transform: translateX(16px);
                    }
                }
            }
        }

        &--checkbox .c-form__input[data-custom="custom"] {
            & {
                position: absolute;
                z-index: -1;
                width: 0;
                height: 0;
                opacity: 0;
            }

            &:focus {
                outline: auto;
            }

            &:focus:not(:focus-visible),
            &:hover:focus-visible {
                outline: none;
            }

            & + label {
                & {
                    display: block;
                    padding-left: 26px;
                    font-size: 14px;
                    cursor: pointer;
                }

                a,
                .c-link {
                    & {
                        color: var(--c-primary);
                        text-decoration: underline;
                    }

                    &:hover,
                    &:focus {
                        color: var(--c-primary-hover);
                        text-decoration: underline;
                    }
                }

                small {
                    font-size: 14px;
                }
            }

            & + label {
                @extend .c-checkbox;
            }

            &:checked + label::before {
                font-size: 9px;
                line-height: 1;
                color: #fff;
                content: unicode($ico-tick);
                background: var(--c-secondary);
                border-color: var(--c-secondary);
            }

            &.error {
                & + .c-form__label::before {
                    border-color: $c_red;
                }

                & ~ label.error {
                    padding-left: 32px;
                }
            }
        }

        &--checkbox .c-form__input[data-custom="filter"] {
            & {
                position: absolute;
                z-index: -1;
                width: 0;
                height: 0;
                opacity: 0;
            }

            &:focus {
                outline: auto;
            }

            &:focus:not(:focus-visible),
            &:hover:focus-visible {
                outline: none;
            }

            & + label {
                @extend .c-checkbox;

                display: block;
                padding-left: 26px;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }

            &:hover + label {
                color: var(--c-secondary);
            }

            &:checked + label::before {
                font-size: 9px;
                line-height: 1;
                color: #fff;
                content: unicode($ico-tick);
                background: var(--c-secondary);
                border-color: var(--c-secondary);
            }
        }

        &--radio {
            &:has(.c-form__input[data-custom="filter"]) {
                display: flex;
                gap: 2px;
                justify-content: center;
            }

            .c-form__input[data-custom="filter"] {
                & {
                    @include hide;
                }

                & + label {
                    & {
                        display: flex;
                        align-items: center;
                        height: 55px;
                        padding: 0 20px;
                        font-size: 13px;
                        font-weight: 600;
                        color: var(--c-font);
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        background-color: var(--c-bg);
                    }

                    .sc-toggle {
                        display: none;
                    }
                    @include hover {
                        color: var(--c-secondary);
                        cursor: pointer;
                    }
                }

                &:checked + label {
                    color: var(--c-white);
                    background-color: var(--c-primary);
                }
            }
        }

        &--select {
            .c-form__input {
                & {
                    cursor: pointer;
                }

                &,
                &.valid {
                    appearance: none;
                    background-image: url("#{$p_icons}caret-down.svg");
                    background-repeat: no-repeat;
                    background-position: right 15px center;
                }
            }
        }
    }

    &__input {
        & {
            display: block;
            width: 100%;
            height: var(--input-s-height);
            padding: var(--input-s-padding);
            font-size: 14px;
            color: var(--input-c-font);
            background-color: $c_input_bg;
            background-clip: padding-box;
            border: 1px solid var(--input-c-border);
            border-radius: var(--input-s-radius);
            transition: all 0.2s ease;
            transition-property: border, color;
        }

        &:hover,
        &:focus {
            border-color: var(--input-c-border-hover);
            outline: none;
        }

        &::placeholder {
            color: var(--input-c-placeholder);
        }

        &:disabled {
            color: var(--c-grey);
            cursor: not-allowed;
            background-color: var(--c-light-grey);
            border: none;
        }

        &:read-only {
            &:not(select) {
                color: var(--c-grey);
                cursor: not-allowed;
                background-color: var(--c-light-grey);
                border: none;
            }
        }

        &.error,
        &.valid {
            & {
                background-repeat: no-repeat;
                background-position: right 15px center;
            }

            &.has-addon {
                background-position: right 45px center;
            }

            &.has-long-addon {
                background-position: right 80px center;
            }
        }

        &.error {
            background-image: url("#{$p_icons}validate-cross.svg");
            border-color: var(--c-error-border);
        }

        &.valid {
            background-image: url("#{$p_icons}validate-tick.svg");
            border-color: var(--c-success-border);
        }

        &--textarea {
            & {
                height: var(--textarea-s-height);
                min-height: 90px;
                padding: var(--textarea-s-padding);
                resize: vertical;
            }

            &.error {
                background-position: calc(100% - 15px) 20px;
            }

            &.valid {
                background-position: calc(100% - 15px) 20px;
            }
        }
    }

    &__quantity {
        & {
            display: flex;
            align-items: stretch;
            height: var(--input-s-height);
            border: 1px solid var(--input-c-border);
        }

        .c-btn {
            & {
                top: 0;
                bottom: 0;
                flex: 0 0 auto;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                padding: 0;
                padding: 1px 0 0 1px;
                margin: 0;
                margin: auto;
                background-color: var(--c-primary);
            }

            .ico {
                @include icoSize(13px);

                -webkit-font-smoothing: none;
            }

            &.is-decrement {
                left: 6px;
                color: var(--c-white);
            }

            &.is-increment {
                right: 6px;
                color: var(--c-white);
            }
            @include hover {
                &.is-decrement,
                &.is-increment {
                    color: var(--c-secondary);
                }
            }
        }

        .c-form__input {
            flex: 1 1 auto;
            min-width: 0;
            height: 100%;
            padding: 1px 0 0;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            border: none;
            border-radius: 0;
        }
    }

    &__wrapper {
        & {
            display: flex;
            height: var(--input-s-height);
        }

        .c-form {
            &__item {
                flex: 1 1 auto;
                margin: 0;
            }

            &__input {
                height: 100%;
                border-right: 0;
                border-radius: var(--input-s-radius) 0 0 var(--input-s-radius);
            }
        }

        & > .c-btn {
            position: relative;
            flex: 0 0 auto;
            height: auto;
            min-height: 0;
            margin: 0;
            border-radius: 0 var(--input-s-radius) var(--input-s-radius) 0;
        }
    }

    .c-btn[type="submit"] {
        font-weight: 700;
    }
}

.login-submit {
    .c-btn {
        justify-content: center;
        width: 100%;
        height: 50px;
        font-size: 15px;
    }
}
