@use "./../../init" as *;

.c-instagram {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        & {
            margin-bottom: 12px;
            font-size: 30px;
            text-align: center;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 13px;
            font-size: 22px;
        }
    }

    &__subtitle {
        max-width: 480px;
        margin-bottom: 38px;
        font-size: 15px;
        text-align: center;
    }

    &__list {
        & {
            display: grid;
            grid-template-columns: repeat(7, minmax(0, 1fr));
            gap: 12px;
            width: 100%;
        }
        @media (max-width: $xs-max) {
            gap: 8px;
        }
    }

    &__item {
        & {
            position: relative;
            background-color: $c_bg;
        }

        &::before {
            display: block;
            padding-top: calc(100% / 176 * 176);
            overflow: hidden;
            content: "";
        }

        &:nth-child(3) {
            grid-row: 1 / 3;
            grid-column: 3 / 5;
        }

        .c-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
