@use "./../../init" as *;

.c-modal--address {
    .c-btn--secondary {
        height: 46px;
        padding: 0 46px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sc-submit {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin-top: 20px;
        border-top: 1px solid var(--c-border);
    }
}

.c-address-select {
    &__list {
        & {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 24px 12px;
        }
        @media (max-width: $txs-max) {
            grid-template-columns: 1fr;
        }
    }

    label.error {
        display: block;
        padding: 0;
        margin: 6px 0 0 2px;
        font-size: 13px;
        font-weight: 600;
        color: #c34040;
        background: none;
        border: none;
    }

    &__item {
        .c-form__input {
            & {
                position: absolute;
                pointer-events: none;
                opacity: 0;
            }

            &:checked + .c-address-select__label {
                background-color: var(--c-bg-secondary);
            }
        }
    }

    &__label {
        & {
            display: grid;
            gap: 8px;
            height: 100%;
            padding: 12px 24px;
            line-height: 1.3;
            cursor: pointer;
            background-color: var(--c-bg);
            border: 1px solid transparent;
        }

        .sc-name {
            font-size: 18px;
            font-weight: 700;
        }

        .sc-address {
            font-size: 13px;
        }

        .sc-phone {
            font-size: 13px;
            font-weight: 700;
        }
        @include hover {
            border-color: var(--c-secondary);
        }
    }
}