@use "./../../init" as *;

.c-modal--branches {
    & {
        z-index: 999999;
        padding-right: 0 !important;
    }

    &.fade .modal-dialog {
        transform: translateY(0);
    }

    .c-modal__loader {
        & {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 14;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgba($c_black, .75);
            backdrop-filter: blur(2px);
            transition: opacity .25s ease;
        }

        span {
            & {
                margin-top: 12px;
                font-size: 13px;
                font-weight: 600;
                color: $c_white;
                letter-spacing: .25px;
            }

            &:empty {
                margin: 0;
            }
        }

        &::before {
            z-index: 2;
            display: block;
            width: 32px;
            height: 32px;
            content: "";
            border: 4px solid transparent;
            border-top-color: #fff;
            border-bottom-color: #fff;
            border-radius: 50%;
            animation: spin .65s cubic-bezier(.4, 0, .2, 1) infinite;
        }
    }

    &.is-loaded .c-modal__loader {
        pointer-events: none;
        opacity: 0;
    }

    .modal-dialog {
        & {
            width: 100%;
            height: 100%;
            padding: 20px;
            margin: 0;
        }
        @media (max-width: $xs-max) {
            padding: 0;
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        width: inherit;
        height: inherit;
    }

    .c-modal {
        &__loader {
            & {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 14;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: rgba($c_overlay, .75);
                transition: opacity .25s ease;
            }

            span {
                & {
                    margin-top: 12px;
                    font-size: 13px;
                    font-weight: 600;
                    color: $c_white;
                    text-shadow: 0 0 30px $c_overlay;
                    letter-spacing: .25px;
                }

                &:empty {
                    margin: 0;
                }
            }

            &::before {
                z-index: 2;
                display: block;
                width: 32px;
                height: 32px;
                content: "";
                border: 4px solid transparent;
                border-top-color: #fff;
                border-bottom-color: #fff;
                border-radius: 50%;
                animation: spin .65s cubic-bezier(.4, 0, .2, 1) infinite;
            }
        }

        &__header {
            & {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 6;
                flex: 0 0 auto;
                padding: 0;
                border: none;
            }

            .c-btn {
                & {
                    position: relative;
                    top: 0;
                    right: 0;
                    width: 32px;
                    height: 32px;
                    background: #fff;
                    border-radius: 2px;
                    box-shadow: rgba(#000, .3) 0 1px 4px -1px;
                }

                .ico {
                    @include icoSize(18px);
                }
            }
        }

        &__name {
            display: none;
        }

        &__content {
            display: flex;
            flex: 1 1 auto;
            min-height: 0;
            padding: 0;
        }
    }
}
