@use "./../../init" as *;

@use "./../molecules/login_buttons";

.c-modal--login {
    .modal-dialog {
        & {
            max-width: 400px;
        }
        @media (max-width: $txs-max) {
            max-width: 100%;
        }
    }

    .modal-content {
        display: grid;
        grid-template:
            "header " auto
            "content" 1fr / 1fr
        ;
    }

    .login-submit .c-btn {
        justify-content: center;
        width: 100%;
        height: 55px;
        font-size: 13px;
        font-weight: 600;
    }

    .login-register .c-btn {
        justify-content: center;
        width: 100%;
        height: 45px;
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
    }

    .password-holder {
        & {
            position: relative;
        }

        .c-link {
            position: absolute;
            top: 2px;
            right: 0;
            display: inline;
            font-size: 12px;
        }
    }

    .login-buttons {
        & {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__text {
            & {
                position: relative;
                flex-basis: 100%;
                margin: 20px 0 12px;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                color: rgba($c_dark_grey, .6);
                text-align: center;
            }

            &::before {
                position: absolute;
                top: 10px;
                right: 0;
                left: 0;
                content: "";
                border-bottom: 1px solid $c_border;
            }

            span {
                position: relative;
                z-index: 1;
                display: inline-block;
                padding: 0 10px;
                background: #fff;
            }
        }

        .c-btn {
            &--facebook,
            &--google {
                & {
                    margin: 0 4px;
                }

                span.is-text {
                    display: none;
                }
            }
        }
    }

    .c-modal {
        &__header {
            grid-area: header;
        }

        &__content {
            position: relative;
            grid-area: content;
        }

        &__success {
            & {
                position: absolute;
                inset: 0;
                z-index: -9999;
                display: flex;
                flex-direction: column;
                grid-area: content;
                align-items: center;
                justify-content: center;
                padding: inherit;
                pointer-events: none;
                background: #fff;
                border-radius: 3px;
                opacity: 0;
                transition: opacity .3s ease;
            }

            .ico {
                @include icoSize(50px);
            }

            &.is-visible {
                z-index: 2;
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}
