@use "./../../init" as *;

.modal-backdrop {
    display: none !important;
}

.c-modal {
    & {
        background: rgba($c_bg, .4);
    }
    @supports (backdrop-filter: blur(3px)) {
        backdrop-filter: blur(3px);
        will-change: backdrop-filter;
    }
    @media (max-width: $txs-max) {
        & {
            background: #fff;
        }
        @supports (backdrop-filter: blur(3px)) {
            backdrop-filter: none;
            will-change: initial;
        }
    }

    &.fade .modal-dialog {
        & {
            transition: transform .25s cubic-bezier(.4, 0, .2, 1);
        }
        @media (max-width: $txs-max) {
            transform: translateY(0);
        }
    }

    .modal-dialog {
        & {
            margin: 50px auto;
        }
        @media (max-width: $txs-max) {
            margin: 0;
        }
    }

    .modal-content {
        & {
            background: #fff;
            border: none;
            border-radius: 3px;
            box-shadow: 0 0 0 0 $c_shadow;
            transition: all .3s ease;
        }
        @media (max-width: $txs-max) {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            min-height: calc(var(--vh, 1vh) * 100);
            border-radius: 0;
        }
    }

    &.in {
        .modal-content {
            @media (min-width: $txs-min) {
                box-shadow: 0 1px 50px 0 $c_shadow;
            }
        }
    }

    &__header {
        & {
            padding: 28px 40px 24px;
            border-bottom: 1px solid $c_border;
        }
        @media (max-width: $cxs-max) {
            padding: 20px;
        }

        .c-btn {
            & {
                position: absolute;
                top: 22px;
                right: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                padding: 0;
                color: $c_dark_grey;
                background: transparent;
            }

            .ico {
                @include icoSize(20px);
            }

            &:hover,
            &:focus {
                color: $c_red;
            }
            @media (max-width: $cxs-max) {
                & {
                    top: 12px;
                    right: 10px;
                }

                .ico {
                    @include icoSize(16px);
                }
            }
        }
    }

    &__name {
        & {
            width: 100%;
            padding-right: 32px;
            font-size: 22px;
            font-weight: 800;
            line-height: 1.3em;
            text-transform: none;
        }
        @media (max-width: $cxs-max) {
            padding-right: 40px;
            font-size: 18px;
            font-weight: 800;
        }
    }

    &__content {
        & {
            padding: 42px;
        }
        @media (max-width: $cxs-max) {
            padding: 20px;
        }
    }

    &__text {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
    }

    &__footer {
        & {
            padding: 40px 42px 30px;
            background: $c_bg;
            border: none;
            border-radius: 4px 0 0 4px;
        }
        @media (max-width: $txs-max) {
            margin-top: auto;
        }
        @media (max-width: $cxs-max) {
            padding: 20px;
        }
    }

    &__success {
        color: $c_green;
    }
}
