@use "./../../init" as *;

.c-modal--remote {
    .modal-content {
        display: none;
    }

    &::after {
        @include absoluteCentered;

        z-index: 2;
        width: 32px;
        height: 32px;
        content: "";
        border: 4px solid transparent;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        animation: spin .65s cubic-bezier(.4, 0, .2, 1) infinite;
    }

    &.is-loaded {
        &::after {
            display: none;
        }

        .modal-content {
            display: block;
            animation: fadeInDown .25s cubic-bezier(.4, 0, .2, 1);
        }
    }
    @media (max-width: $txs-max) {
        &::after {
            border-top-color: $c_primary;
            border-bottom-color: $c_primary;
        }

        &.is-loaded {
            .modal-content {
                animation: fadeIn .25s cubic-bezier(.4, 0, .2, 1);
            }
        }
    }
}
