@use "./../../init" as *;

.c-page404 {
    & {
        padding: 75px 0;
        text-align: center;
    }
    @media (max-width: $cxs_max) {
        padding: 35px 0;
    }

    &__title {
        & {
            margin-bottom: 25px;
            font-size: 175px;
            font-weight: 600;
        }
        @media (max-width: $cxs_max) {
            margin-bottom: 15px;
            font-size: 115px;
        }
    }

    &__subtitle {
        & {
            margin-bottom: 10px;
            font-size: 28px;
        }
        @media (max-width: $cxs_max) {
            font-size: 22px;
        }
    }

    &__text {
        & {
            margin-bottom: 50px;
        }
        @media (max-width: $cxs_max) {
            margin-bottom: 30px;
        }
    }

    &__link {
        padding-bottom: 70px;
        margin-bottom: 70px;
        border-bottom: 1px solid $c_border;
    }
}