<template>
    <div class="c-autocomplete">
        <div class="c-autocomplete__main" v-if="has('Products')">
            <div class="c-autocomplete__products">
                <div
                    v-for="(product, index) in get('Products')"
                    :class="{
                        'c-autocomplete__item': true,
                        'is-product': true,
                        highlighted: product.index == highlightedPosition,
                    }"
                    @mouseenter="highlightedPosition = product.index"
                    :key="index"
                >
                    <a
                        class="c-autocomplete-product"
                        :href="product.buy_link"
                        :title="product.name"
                        :data-id="product.id"
                        @click="productClicked(product.id)"
                    >
                        <div class="c-autocomplete-product__img">
                            <img class="c-img" :src="product.image" :alt="product.name" />
                        </div>

                        <div class="c-autocomplete-product__name">
                            <div class="is-name" v-html="product.name">
                            </div>

                            <div class="is-additional">
                                <span v-if="product.custom_contents" v-html="product.custom_contents"></span>
                                <span v-if="product.category_name" v-html="product.category_name"></span>
                            </div>
                        </div>

                        <div class="c-autocomplete-product__price">
                            <div
                                class="is-old"
                                v-if="product.is_action"
                                v-html="formatPrice(pricesWithVat ? product.old_price_vat : product.old_price)"
                            ></div>

                            <div
                                :class="{'is-actual': true, 'has-action': product.is_action}"
                                v-html="formatPrice(pricesWithVat ? product.price_vat : product.price)"
                            ></div>
                        </div>

                        <div class="c-autocomplete-product__cart">
                            <button :class="{
                                'c-btn c-btn--cart products__buy is-sm': true,
                                'is-loading': addingProductId == product.id
                            }" :disabled="addingProductId">
                                <i class="ico ico-cart"></i>
                                <span>{{ $t('AutocompleteResults.addToCart') }}</span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div v-else class="c-autocomplete__footer is-empty">
            <span>{{ $t("AutocompleteResults.noResults") }}</span>
        </div>
    </div>
</template>

<script>
import RshopAutocompleteResults from "./../../../../vendor/rshop/frontend/assets/js/components/Autocomplete/Results/index.vue";

export default {
    extends: RshopAutocompleteResults,
    data() {
        return {
            addingProductId: null
        }
    },
    methods: {
        productClicked(id) {
            this.addingProductId = id
        }
    }
};
</script>
