<template>
    <div class="c-autocomplete">
        <div class="c-autocomplete__main" v-if="hasMatches">
            <div
                v-if="has('Products')"
                :class="{
                    'c-autocomplete__left': true,
                    'without-right': !has('Categories') && !has('Articles'),
                }"
            >
                <div
                    class="c-autocomplete__box is-active"
                >
                    <div class="c-autocomplete__title is-products">
                        {{ $t("AutocompleteResults.products") }}
                    </div>

                    <div class="c-autocomplete__products">
                        <div
                            v-for="(product, index) in get('Products')"
                            :class="{
                                'c-autocomplete__item': true,
                                'is-product': true,
                                highlighted: product.index == highlightedPosition,
                            }"
                            @mouseenter="highlightedPosition = product.index"
                            :key="index"
                        >
                            <a
                                class="c-autocomplete-product"
                                :href="product.link"
                                :title="product.name"
                                :data-id="product.id"
                            >
                                <div class="c-autocomplete-product__img">
                                    <img class="c-img" :src="product.image" :alt="product.name" />
                                </div>

                                <div class="c-autocomplete-product__name">
                                    <div class="is-name" v-html="product.name"></div>
                                </div>

                                <div class="c-autocomplete-product__price">
                                    <div
                                        class="is-old"
                                        v-if="product.is_action"
                                        v-html="formatPrice(pricesWithVat ? product.old_price_vat : product.old_price)"
                                    ></div>

                                    <div
                                        :class="{'is-actual': true, 'has-action': product.is_action}"
                                        v-html="formatPrice(pricesWithVat ? product.price_vat : product.price)"
                                    ></div>

                                    <div class="is-vat-info">{{ pricesWithVat ? $t("AutocompleteResults.textWithVat") : $t("AutocompleteResults.textWithoutVat") }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                v-if="has('Categories') || has('Articles')"
                :class="{
                    'c-autocomplete__right': true,
                    'without-left': !has('Products'),
                }"
            >
                <div
                    v-if="has('Categories')"
                    class="c-autocomplete__box is-active"
                >
                    <div class="c-autocomplete__title">
                        {{ $t("AutocompleteResults.categories") }}
                    </div>

                    <div
                        v-for="(category, index) in get('Categories')"
                        :class="{
                            'c-autocomplete__item': true,
                            highlighted: category.index == highlightedPosition,
                        }"
                        @mouseenter="highlightedPosition = category.index"
                        :key="index"
                    >
                        <a
                            class="c-link has-arrow"
                            :href="category.link"
                            :title="category.name"
                            :data-id="category.id"
                        >
                            <span v-html="highlight(category.name, keyword)"></span>
                        </a>
                    </div>
                </div>

                <div
                    v-if="has('Articles')"
                    class="c-autocomplete__box is-active"
                >
                    <div class="c-autocomplete__title">
                        {{ $t("AutocompleteResults.articles") }}
                    </div>

                    <div
                        v-for="(article, index) in get('Articles')"
                        :class="{
                            'c-autocomplete__item': true,
                            highlighted: article.index == highlightedPosition,
                        }"
                        @mouseenter="highlightedPosition = article.index"
                        :key="index"
                    >
                        <a
                            class="c-link is-article has-absolute-icon"
                            :href="article.link"
                            :title="article.name"
                            :data-id="article.id"
                        >
                            <span v-html="highlight(article.name, keyword)"></span>
                            <i class="ico ico-arrow-right is-on-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="c-autocomplete__footer"
            :class="{
                'is-full': !has('Products') || (!has('Categories') && !has('Articles')),
            }"
            v-if="hasMatches"
        >
            <div class="is-count"></div>

            <a
                :href="'/vyhladavanie?search=' + keyword"
                class="c-btn"
            >
                {{ $t("AutocompleteResults.showAll", { count: totals.count }) }}
                <i class="ico ico-caret-right-thick"></i>
            </a>
        </div>

        <div v-else class="c-autocomplete__footer is-empty">
            <span>{{ $t("AutocompleteResults.noResults") }}</span>
        </div>
    </div>
</template>

<script>
import RshopAutocompleteResults from "./../../../../vendor/rshop/frontend/assets/js/components/Autocomplete/Results/index.vue";
import client from "./../../../../vendor/rshop/frontend/assets/js/common/client";

export default {
    extends: RshopAutocompleteResults,
    data() {
        return {
            addingProducts: {}
        }
    },
    methods: {
        isAdding(product) {
            return this.addingProducts[product.id]
        },
        addToCart(product, $event) {
            if (this.addingProducts[product.id]) {
                return
            }

            const button = $event.currentTarget

            this.$set(this.addingProducts, product.id, true)

            client.post(window.Eshop.options.baseUrl + 'cart-products/add', {
                    product_id: product.id,
                    quantity: 1
                })
                .then((response) => {
                    Event.dispatch('Cart.addedProduct', {
                        response: response.data,
                        product: product
                    })

                    window.Eshop.tippyAlert(button, response.data.message, {
                        theme: response.data.status ? 'success' : 'error',
                        appendTo: 'parent',
                    }, 2500)
                })
                .catch((error) => {
                    window.Eshop.tippyAlert(button, this.$t("AutocompleteResults.addToCartError"), {
                        theme: 'error',
                        appendTo: 'parent',
                    }, 2500)
                })
                .then(() => {
                    this.$delete(this.addingProducts, product.id)
                })
        }
    }
};
</script>
