<template>
    <div
        id="v-categories"
        class="c-categories-filter"
        v-if="isCreated"
        v-cloak
        ref="root"
    >
        <div v-if="selectedCategoryId" class="c-categories-filter__back">
            <button
                class="c-btn c-btn--secondary"
                v-if="showBackButton"
                @click.prevent="back"
                :title="backButtonName"
            >
                <i class="ico ico-chevron-left is-on-left"></i>&nbsp;{{ backButtonName }}
            </button>
        </div>

        <div class="c-categories__list">
            <div class="c-categories__item" v-for="category in categories" v-bind:key="category.id">
                <div class="c-categories__info">
                    <a
                        :href="category.link"
                        :title="category.menu_name ? category.menu_name : category.name"
                        :class="{
                            'c-link': true,
                            'is-active': category.id == selectedCategoryId,
                        }"
                        @click.prevent="change(category.id)"
                    >
                        <div class="c-image">
                            <img class="c-img" :src="projectThumbnail(category.image, 'ret-category-thumb')" :alt="category.name" />
                        </div>

                        <span class="c-text">
                            {{ category.menu_name ? category.menu_name : category.name }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CategoriesFilter from './../../../../vendor/rshop/frontend/assets/js/components/CategoriesFilter';
import { thumbnail as projectThumb } from '../../functions/thumbnail';

export default {
    name: 'CategoriesFilter',
    extends: CategoriesFilter,
    methods: {
        projectThumbnail(src, format) {
            return projectThumb(src, format);
        }
    },
    computed: {
        backButtonName() {
            if (!this.selectedCategory) {
                return '';
            }

            if (this.actualView == 'siblings' && this.parent) {
                return this.parent.name;
            }

            return this.selectedCategory.name;
        },
    },
};
</script>