<template>
    <div class="c-comparison-product">
        <div class="c-comparison-product__delete">
            <button type="button" class="c-btn c-btn--close" @click="remove(item.id)">
                <i class="ico ico-close-circle" aria-hidden="true"></i>
            </button>
        </div>

        <div class="c-comparison-product__name">
            <a :href="item.link" class="c-link c-link--secondary" :title="$t('Comparison.Item.linkTitle')">
                {{ item.name }}
            </a>
        </div>

        <div class="c-comparison-product__image">
            <a :href="item.link" class="c-link c-link--secondary" :title="$t('Comparison.Item.linkTitle')">
                <img class="c-img" :src="thumbnail(item.image, 'sm')" :alt="item.name" />
            </a>
        </div>

        <div class="c-comparison-product__availability" :style="{color: item.status_color}">
            {{ item.status }}
        </div>

        <div class="c-comparison-product__price">
            <span class="is-actual" :class="{'is-action': isAction}" v-html="formatPrice(pricesWithVat ? item.price_vat : item.price)"></span>
            <span class="is-old" v-if="isAction" v-html="formatPrice(pricesWithVat ? item.old_price_vat : item.old_price)"></span>
        </div>

        <div class="c-comparison-product__buy">
            <button :class="{
                'c-btn c-btn--cart products__buy': true,
                'is-loading': addingProductId == item.id
            }" :disabled="addingProductId" @click.prevent="addToCart(item, $event)">
                <i class="ico ico-cart-thick"></i>
                <span>{{ $t('Comparison.Item.addToCart') }}</span>
            </button>
        </div>
    </div>
</template>

<script>
import { thumbnail } from "./../../functions/thumbnail";
import { formatPrice } from "./../../../../vendor/rshop/frontend/assets/js/common/format";
import client from "./../../../../vendor/rshop/frontend/assets/js/common/client";
import { tippyAlert } from 'Functions/tippy';

export default {
    props: ['item'],
    data() {
        return {
            addingProducts: {},
            addingProductId: null,
            pricesWithVat: window.Eshop.options.pricesWithVat,
            isAction: this.item.price_vat < this.item.old_price_vat
        }
    },
    methods: {
        isAdding(product) {
            return this.addingProducts[product.id]
        },
        addToCart(product, $event) {
            if (this.addingProducts[product.id]) {
                return
            }

            const button = $event.currentTarget

            this.addingProductId = product.id
            this.$set(this.addingProducts, product.id, true)

            client.post(window.Eshop.options.baseUrl + 'cart-products/add', {
                product_id: product.id,
                quantity: 1
            })
            .then((response) => {
                Event.dispatch('Cart.addedProduct', {
                    response: response.data,
                    product: product
                })

                tippyAlert(button, response.data.message, {
                    theme: response.data.status ? 'success' : 'error'
                }, 2500)

                // if (response.status) {
                //     this.addIsInCartClass(product.cart_id)
                // }
            })
            .catch((error) => {
                console.error(error)

                tippyAlert(button, this.$t("Comparison.Item.addToCartError"), {
                    theme: 'error'
                }, 2500)
            })
            .then(() => {
                this.addingProductId = null
                this.$delete(this.addingProducts, product.id)
            })
        },
        // addIsInCartClass(cartId) {
        //     const el = this.$refs[`cart-${cartId}`][0]

        //     if (el) {
        //         el.querySelector('.is-button').classList.add('is-in-cart')
        //     }
        // },
        formatPrice(price) {
            return formatPrice(price);
        },
        thumbnail(image, format) {
            return thumbnail(image, format);
        },
        remove(productId) {
            this.$emit('remove', productId);
        }
    }
}
</script>