<template>
    <div class="c-comparison-group">
        <div class="c-comparison-group__item is-heading js-comparison-group-item"
            :data-group="groupId"
            @click="toggleGroup(groupId)"
        >
            <span>{{ group.name }}</span>
            <i class="ico ico-caret-down-thick sc-ico"></i>
        </div>

        <div class="c-comparison-group__item js-comparison-group-item"
            v-for="(property, id) in group.properties"
            :key="id"
            :data-group="groupId"
            :data-property="id"
            @mouseover="enableHighlighting(id)"
            @mouseout="disableHighlighting(id)"
        >
            <span class="is-key" :class="{'js-tippy': property.description}" :data-tippy-content="property.description">
                {{ property.name }}
                <i class="ico ico-question-circle sc-ico" v-if="property.description"></i>
            </span>
            <span class="is-value">{{ itemId ? (property.values[itemId] ? property.values[itemId] : '-') : '' }}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['itemId', 'group', 'groupId'],
    methods: {
        toggleGroup(groupId) {
            document.querySelectorAll(`.js-comparison-group-item[data-group="${groupId}"]`).forEach((groupItem) => {
                if (groupItem.classList.contains('is-heading')) {
                    groupItem.classList.toggle('is-active');
                }
                else {
                    groupItem.classList.toggle('is-hidden');
                }
            });
        },
        enableHighlighting(id) {
            document.querySelectorAll(`.js-comparison-group-item[data-property="${id}"]`).forEach((propertyItem) => {
                propertyItem.classList.add('is-highlighted');
            });
        },
        disableHighlighting(id) {
            document.querySelectorAll(`.js-comparison-group-item[data-property="${id}"]`).forEach((propertyItem) => {
                propertyItem.classList.remove('is-highlighted');
            });
        }
    }
}
</script>