<template>
    <div class="c-minicart-product cart__product">
        <a class="c-minicart-product__img" :href="item.link" :title="item.name">
            <span class="is-action" v-if="actionPercentage">
                <span>- {{ actionPercentage }}</span>
                <small>%</small>
            </span>
            <img class="c-img" :src="thumbnail(item.image, 'shopping-cart')" :alt="item.name" />
        </a>

        <div :class="{'c-minicart-product__main': true, 'is-gift': isGift}">
            <template v-if="isGift">
                <span>{{ '+ ' + $t('MinicartItem.gift') + ' : ' }}</span>
                <strong>
                    {{ item.name }}
                    {{ item.promotion.original_price ? $t('MinicartItem.gift2', {
                        price: formatPrice(item.promotion.original_price)
                    }) : '' }}
                </strong>
            </template>

            <template v-else>
                <a class="c-link c-link--inherit is-name" :href="item.link" :title="item.name">
                    {{ item.name }}
                </a>
            </template>
        </div>

        <div class="c-minicart-product__quantity c-form" v-if="!item.is_not_saleable && !isGift">
            <r-spinner class="c-form__quantity" ref="rSpinner">
                <button type="button" class="c-btn c-btn--cart is-decrement" decrement>
                    <i class="ico ico-minus"></i>
                </button>

                <input type="text" class="c-form__input" :value="quantity" append="ks" autocomplete="off" />
                <button type="button" class="c-btn c-btn--cart is-increment" increment>
                    <i class="ico ico-plus"></i>
                </button>
            </r-spinner>
        </div>

        <span class="c-minicart-product__price is-free" v-if="isGift">
            <strong>{{ $t('MinicartItem.free') }}</strong>
        </span>

        <span class="c-minicart-product__price" v-else>
            <strong :class="{'has-action': item.is_action}" v-html="formatPrice(item.quantity * (pricesWithVat ? item.price_vat : item.price))"></strong>
            <small v-html="item.quantity + 'x' + formatPrice(pricesWithVat ? item.price_vat : item.price)"></small>
        </span>

        <div class="c-minicart-product__delete">
            <a
                :class="{
                    'c-btn c-btn--close': true,
                    'is-loading': isUpdatingQuantity
                }"
                href="#"
                :title="$t('MinicartItem.remove')"
                @click.prevent="remove(item.cart_id)"
                :ref="'remove_' + item.cart_id"
                v-if="!isGift"
            >
                <i aria-hidden="true" class="ico ico-close-circle"></i>
            </a>
        </div>
    </div>
</template>

<script>
import { thumbnail } from "./../../functions/thumbnail";
import { formatPrice } from "./../../../../vendor/rshop/frontend/assets/js/common/format";

export default {
    props: ['item', 'isUpdatingQuantity'],
    data() {
        return {
            pricesWithVat: window.Eshop.options.pricesWithVat,
            quantity: 1
        };
    },
    methods: {
        formatPrice(price) {
            return formatPrice(price);
        },
        thumbnail(image, format) {
            return thumbnail(image, format);
        },
        remove(cartId) {
            if (this.isUpdatingQuantity) {
                return
            }

            this.$emit("remove", cartId);
        },
        updateQuantity() {
            this.quantity = this.$refs.rSpinner.value

            this.$emit('updateQuantity', this.item.cart_id, this.quantity);
        },
        spinningQuantity() {
            this.$emit('spinningQuantity', this.item.cart_id);
        }
    },
    computed: {
        actionPercentage() {
            if (this.isGift || !this.item.is_action) {
                return 0
            }

            const discount = this.item.old_price - this.item.price

            return Math.round((discount / this.item.old_price) * 100)
        },
        isGift() {
            return this.item.promotion && this.item.promotion.promotion_id == 2;
        }
    },
    created() {
        this.quantity = this.item.quantity
    },
    mounted() {
        if (this.$refs.rSpinner) {
            this.$nextTick(() => {
                this.$refs.rSpinner.addEventListener('spin', this.spinningQuantity)
                this.$refs.rSpinner.addEventListener('stop', this.updateQuantity)
                this.$refs.rSpinner.addEventListener('changed', this.updateQuantity)
            })
        }
    },
    beforeDestroy() {
        if (this.$refs.rSpinner) {
            this.$refs.rSpinner.removeEventListener('spin', this.spinningQuantity)
            this.$refs.rSpinner.removeEventListener('stop', this.updateQuantity)
            this.$refs.rSpinner.removeEventListener('changed', this.updateQuantity)
        }
    },
    watch: {
        item: {
            deep: true,
            handler() {
                this.quantity = this.item.quantity

                this.$nextTick(() => {
                    const rSpinnerEl = this.$refs.rSpinner

                    if (rSpinnerEl.classList.contains('is-loaded')) {
                        rSpinnerEl.updateQuantity(this.quantity, false)
                    }
                })
            }
        }
    }
};
</script>
