@use "./../../init" as *;

.cart-thanks {
    & {
        line-height: 1.6;
    }

    .c-msg {
        & {
            position: relative;
            padding: 28px 25px 25px 75px;
            margin-bottom: 30px;
        }

        .fa {
            @include icoSize(40px);

            position: absolute;
            top: 0;
            bottom: 0;
            left: 22px;
            margin: auto;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 20px;
        }
    }

    &__main {
        & {
            margin-bottom: 40px;
        }

        strong {
            color: $c_black;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 700;
        color: $c_black;
        text-transform: uppercase;
    }

    &__order-no {
        color: var(--c-primary);
    }

    &__text {
        margin-bottom: 20px;
    }

    &__omnipay {
        & {
            display: flex;
            justify-content: center;
            margin: 50px 0 70px;
        }
        @media (max-width: $cxs-max) {
            margin: 40px 0 20px;
        }

        .c-btn {
            & {
                justify-content: center;
                padding: 30px 40px;
                margin-bottom: 0;
                font-size: 19px;
            }
            @media (max-width: $xs-max) {
                padding: 24px 32px;
                font-size: 17px;
            }
            @media (max-width: $cxs-max) {
                width: 100%;
            }
        }
    }
}
