@use "./../../init" as *;

.c-dependencies {
    &__list {
        & {
            display: flex;
        }
        @media (max-width: $cxs-max) {
            flex-direction: column;
        }
    }

    &__item {
        & {
            min-width: 240px;
        }

        &:not(:first-child) {
            padding-left: 35px;
            margin-left: 35px;
            border-left: 1px solid var(--c-border);
        }
        @media (max-width: $cxs-max) {
            &:not(:first-child) {
                padding-top: 20px;
                padding-left: 0;
                margin-top: 20px;
                margin-left: 0;
                border-top: 1px solid var(--c-border);
                border-left: none;

            }
        }
    }

    &__text {
        p {
            & {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        table {
            & {
                width: 100%;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            td:first-child {
                width: 40%;
                padding-right: 20px;
            }
        }
        @media (max-width: $cxs-max) {
            table {
                tr {
                    display: flex;
                    flex-direction: column;
                }

                td:last-child {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__cta {
        & {
            margin-top: 12px;
        }

        .c-btn {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &.is-omnipay {
            & {
                margin-top: 0;
                text-align: center;
            }

            .c-btn {
                height: 55px;
                padding: 0 50px;
            }
        }
    }

    &__branch {
        & {
            font-size: 14px;
        }

        .sc-name {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }

        .sc-address {
            margin-bottom: 20px;
        }
        @media (max-width: $cxs-max) {
            .sc-name {
                font-size: 14px;
            }

            .sc-address {
                margin-bottom: 8px;
            }
        }
    }

    &__countdown {
        & {
            position: relative;
            margin-top: -20px;
            margin-bottom: 16px;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 15px;
            font-weight: 700;
            color: $c_primary;
        }

        svg {
            & {
                display: block;
                width: 54px;
                height: 54px;
                margin: auto;
                transform: rotateY(-180deg) rotateZ(-90deg);
            }

            &.is-loaded circle {
                transition: all 1s linear;
            }

            circle {
                & {
                    fill: none;
                    stroke-dasharray: 156px;
                }

                &.is-fill {
                    stroke: $c_primary;
                    stroke-dashoffset: -156px;
                }

                &.is-bg {
                    stroke: rgba($c_grey, .5);
                    stroke-dashoffset: 0;
                }
            }
        }
    }
}