@use "./../../init" as *;

@use "./success_main";

.l-shopping-success {
    &__main {
        & {
            padding-top: 60px;
        }
        @media (max-width: $xs-max) {
            padding-top: var(--container-padding);
        }
    }

    &__survey {
        padding: 60px 0 0;
    }
}