@use "./../../init/" as *;

.c-success-footer {
    & {
        text-align: center;
    }

    &__text {
        & {
            padding: 40px 105px 32px;
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.6;
            border-top: 1px solid var(--c-border);
        }
        @media (max-width: $xs-max) {
            padding: 40px;
            margin-top: 0;
            font-size: 15px;
        }
        @media (max-width: $cxs-max) {
            padding: var(--container-padding);
            font-size: 14px;
        }
    }

    &__logo {
        .c-img {
            width: 130px;
            height: auto;
        }
    }
}