@use "./../../init/" as *;

@use "./success_footer";
@use "./success_content";
@use "./success_header";

.c-success-main {
    & {
        background-color: var(--c-bg);
    }

    &__header {
        & {
            padding: 60px 90px 30px;
        }
        @media (max-width: $xs-max) {
            padding: 40px 40px 25px;
        }
        @media (max-width: $cxs-max) {
            padding: var(--container-padding);
        }
    }

    &__content {
        & {
            padding: 0 105px;
        }
        @media (max-width: $xs-max) {
            padding: 0 40px;
        }
        @media (max-width: $cxs-max) {
            padding: 0 var(--container-padding);
        }
    }

    &__footer {
        & {
            padding: 30px 0 45px;
        }
        @media (max-width: $xs-max) {
            padding: 40px 0;
        }
        @media (max-width: $cxs-max) {
            padding: var(--container-padding) 0;
        }
    }
}