@use "./../../init/" as *;

@use "./dependencies";

.c-success-content {
    & {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
        font-size: 16px;
        line-height: 1.6;
    }
    @media (max-width: $xs-max) {
        font-size: 15px;
    }
    @media (max-width: $cxs-max) {
        font-size: 14px;
    }

    &__text {
    }

    &__dependencies {
        .c-dependencies {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}