@use "./../../init/" as *;

.c-success-header {
    & {
        text-align: center;
    }

    &::after {
        display: block;
        width: 204px;
        height: 1px;
        margin: 37px auto 10px;
        content: "";
        background-color: var(--c-border);
        opacity: .2;
    }
    @media (max-width: $xs-max) {
        &::after {
            margin-top: 30px;
        }
    }

    &__icon {
        & {
            margin-bottom: 30px;
        }

        .ico {
            @include icoSize(50px);
        }
        @media (max-width: $xs-max) {
            & {
                margin-bottom: 10px;
            }

            .ico {
                @include icoSize(30px);
            }
        }
    }

    &__title {
        & {
            margin-bottom: 4px;
        }

        h1 {
            margin-bottom: 0;
            font-size: 42px;
            font-weight: 700;
        }
        @media (max-width: $xs-max) {
            h1 {
                font-size: 28px;
            }
        }
        @media (max-width: $cxs-max) {
            h1 {
                font-size: 24px;
            }
        }
    }

    &__subtitle {
        & {
            font-size: 19px;
            line-height: 1.6;
        }

        .sc-number {

        }
        @media (max-width: $xs-max) {
            font-size: 17px;
        }
        @media (max-width: $cxs-max) {
            font-size: 15px;
        }
    }

    &.is-default,
    &.is-paid,
    &.is-estimate {
        .c-success-header {
            &__icon {
                color: var(--c-green);
            }

            &__title {
                color: var(--c-green);
            }
        }
    }

    &.is-unpaid {
        .c-success-header {
            &__icon {
                color: var(--c-red);
            }

            &__title {
                color: var(--c-red);
            }
        }
    }

    &.is-omnipay {
        .c-success-header {
            &::after {
                display: none;
            }

            &__icon {
                color: var(--c-blue);
            }

            &__title {
                color: var(--c-blue);
            }
        }
    }

    &.is-change-payment {
        .c-success-header {
            &::after {
                display: none;
            }

            &__icon {
                color: var(--c-primary);
            }

            &__title {
                color: var(--c-primary);
            }
        }
    }
}