@use "./../../init" as *;

.recap-holder {
    & {
        position: sticky;
        top: 30px;
        padding: 35px 50px 40px;
        background: $c_bg;
        border-radius: 2px;
    }
    @media (max-width: $sm-max) {
        padding: 20px 30px;
    }
}

.recap-products {
    & {
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid $c_border;
    }

    &__list {
        & {
            @include scrollbar((
                color: rgba($c_font, .35),
                bg: $c_bg,
                width: 10px
            ));

            flex: 1 1 auto;
            max-height: 317px;
            padding-right: 12px;
            margin-right: -12px;
            overflow: auto;
        }

        &.has-scrollbar-visible {
            margin-right: -20px;
        }

        &.has-overflow::after {
            transform: scaleY(1);
        }
        @media (max-width: $sm-max) {
            & {
                max-height: 235px;
            }

            &.has-scrollbar-visible-sm {
                margin-right: -20px;
            }

            &.has-overflow-sm::after {
                transform: scaleY(1);
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 5px 0;
    }

    &__img {
        & {
            display: flex;
            flex: 0 0 60px;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            margin-right: 15px;
            background: #fff;
            border-radius: 2px;
        }

        .c-img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            object-position: center;
        }
    }

    &__name {
        & {
            flex: 1 1 auto;
            min-width: 0;
            padding-right: 15px;
        }

        .is-name {
            @include maxLines(2);

            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
        }
    }

    &__quantity {
        & {
            flex: 0 0 45px;
            font-size: 12px;
            font-weight: 700;
            text-align: right;
            white-space: nowrap;
        }
        @media (max-width: $sm-max) {
            flex: 0 0 auto;
        }
    }

    &__price {
        &{
            flex: 0 0 88px;
            padding-left: 15px;
            font-size: 13px;
            font-weight: 800;
            text-align: right;
            white-space: nowrap;
        }

        .c-unit {
            font-size: 11px;
            font-weight: 600;
            color: $c_grey;
            letter-spacing: .02em;
        }
    }
}

.recap-totals {
    & {

    }

    &__item {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__divider {
        display: block;
        width: 100%;
        height: 1px;
        margin: 15px 0;
        background: $c_border;
    }

    &__text {
        &.is-bigger {
            font-size: 18px;
            font-weight: 800;
        }

        &.is-faded {
            font-size: 13px;
            font-weight: 700;
            color: $c_grey;
        }
    }

    &__value {
        & {
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            text-align: right;
        }

        &.is-red {
            color: $c_red;
        }

        &.is-green {
            color: $c_green;
        }

        &.is-faded {
            font-size: 13px;
            font-weight: 700;
            color: $c_grey;
        }

        &.is-bigger {
            font-size: 24px;
            font-weight: 800;
        }
    }
}
