@use "./../../init" as *;

@use "./article_main";

.c-article {
    & {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    &__name {
        & {
            margin-bottom: 18px;
        }

        h1 {
            font-family: $f_secondary;
            font-size: 36px;
            font-weight: 800;
            color: $c_black;
            letter-spacing: .02em;
        }
        @media (max-width: $xs-max) {
            h1 {
                font-size: 30px;
            }
        }
        @media (max-width: $cxs-max) {
            h1 {
                font-size: 26px;
            }
        }
    }

    &__info {
        & {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 34px;
            font-size: 13px;
        }

        .c-date {
            text-transform: uppercase;
            letter-spacing: .05em;
        }

        .c-time {
            text-transform: uppercase;
            letter-spacing: .05em;
        }

        .c-section {
            & {
                margin-left: 30px;
            }

            .c-link {
                letter-spacing: .05em;
            }
        }
        @media (max-width: $cxs-max) {
            .c-section {
                width: 100%;
                padding-top: 7px;
                margin-left: 0;
            }
        }
    }

    &__image {
        & {
            position: relative;
            margin: 0 -80px 50px;
            background-color: $c_bg;
        }

        &::before {
            display: block;
            padding-top: calc(100% / 960 * 540);
            overflow: hidden;
            content: "";
        }

        .c-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__main {

    }
}