@use "./../../init" as *;

@use "./../../components/molecules/article_thumb";

.c-article-recommended {
    &__title {
        & {
            margin-bottom: 51px;
            font-family: $f_secondary;
            font-size: 28px;
            font-weight: 800;
            line-height: 1.5;
            text-align: center;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 40px;
            font-size: 24px;
        }
        @media (max-width: $cxs-max) {
            margin-bottom: 25px;
            font-size: 22px;
        }
    }

    &__list {
        & {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 20px 70px;
        }
        @media (max-width: $sm-max) {
            gap: 20px;
        }
        @media (max-width: $xs-max) {
            grid-template-columns: minmax(0, 1fr);
        }

        .c-article-thumb {
            & {
                flex-direction: row;
                padding-right: 30px;
                background-color: $c_bg;
            }
            @media (max-width: $sm-max) {
                padding-right: 15px;
            }
            @media (max-width: $cxs-max) {
                flex-direction: column;
                background-color: $c_white;
            }

            &__image {
                & {
                    width: 280px;
                    margin-right: 30px;
                    margin-bottom: 0;
                }
                @media (max-width: $sm-max) {
                    width: 220px;
                    margin-right: 15px;
                }
                @media (max-width: $cxs-max) {
                    width: 100%;
                    margin-right: 0;
                }
            }

            &__wrapper {
                flex: 1;
                min-width: 0;
            }

            &__info {
                & {
                    padding-top: 27px;
                    margin-bottom: 3px;
                }

                .c-date,
                .c-time {
                    display: none;
                }

                .c-section {
                    & {
                        margin-left: 0;
                    }

                    .c-link {
                        & {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: none;
                            letter-spacing: .05em;
                        }
                        @include hover {
                            text-decoration: underline;
                        }
                    }
                }
                @media (max-width: $sm-max) {
                    padding-top: 15px;
                }
                @media (max-width: $cxs-max) {
                    padding-top: 20px;
                    margin-bottom: 10px;
                }
            }

            &__name {
                & {
                    height: 50px;
                    margin-bottom: 17px;
                }

                .c-link {
                    @include maxLines(2);

                    font-size: 18px;
                    font-weight: 600;
                    line-height: 25px;
                }
                @media (max-width: $sm-max) {
                    margin-bottom: 10px;
                }
                @media (max-width: $cxs-max) {
                    height: auto;
                }
            }

            &__text {
                & {
                    display: none;
                }
                @media (max-width: $cxs-max) {
                    display: block;
                    margin-bottom: 15px;
                }
            }

            &__link {
                & {
                    padding-top: 0;
                    margin-bottom: 27px;
                }
                @media (max-width: $sm-max) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}