@use "./../../init" as *;

.c-article-gallery {
    & {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 25px;
        margin: 50px 0;
    }
    @media (max-width: $xs-max) {
        grid-gap: 10px;
    }
    @media (max-width: $cxs-max) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__image {
        & {
            position: relative;
            overflow: hidden;
            border: 1px solid $c_border;
            border-radius: 2px;
        }

        &.hidden {
            display: none;
        }

        &.is-more {
            & {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 600;
                color: $c_blue;
                text-decoration: none;
                background: #fff;
                border: 1px solid rgba($c_blue, .35);
                transition: all .2s ease;
            }

            .c-img {
                display: none;
            }

            .is-count {
                position: relative;
                z-index: 2;
            }

            &:hover,
            &:focus {
                color: #fff;
                text-decoration: none;
                background: $c_blue;
                border-color: $c_blue;
            }
        }

        .c-img {
            position: absolute;
            inset: 0;
            width: 80%;
            height: 80%;
            margin: auto;
            object-fit: contain;
            object-position: center;
            mix-blend-mode: multiply;
        }

        &::after {
            display: block;
            padding-top: 100%;
            content: "";
            background: #fff;
            transition: all .2s ease;
        }

        &:hover,
        &:focus {
            border-color: var(--c-primary);
        }
    }
}
