@use "./../../init" as *;

@use "./article_gallery";
@use "./social_share";

.c-article-main {
    & {
        position: relative;
    }

    &__social {
        & {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -170px;
            width: 140px;
        }
        @media (max-width: $sm-max) {
            position: static;
            width: 100%;
        }
    }

    &__text {
        & {
            font-size: 15px;
            line-height: 1.7;
        }

        a {
            // font-weight: 700;
        }

        strong {
            font-weight: 800;
        }

        p {
            & {
                margin-top: 0;
                margin-bottom: 25px;
            }
            @media (max-width: $cxs-max) {
                margin-bottom: 20px;
            }
        }

        ol {
            & {
                padding-left: 15px;
                margin-bottom: 30px;
            }

            li {
                & {
                    position: relative;
                    padding-left: 15px;
                    margin-bottom: 10px;
                }
            }
            @media (max-width: $cxs-max) {
                & {
                    padding-left: 14px;
                }

                li {
                    padding-left: 18px;
                    margin-bottom: 10px;
                }
            }
        }

        ul {
            & {
                padding-left: 29px;
                margin-bottom: 25px;
                list-style: none;
                column-count: 2;
            }

            li {
                & {
                    position: relative;
                    padding-right: 40px;
                    break-inside: avoid;
                }

                &::before {
                    @include icoSize(8px);

                    position: absolute;
                    top: 3px;
                    left: -29px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    font-family: $f_icomoon;
                    color: $c_white;
                    content: unicode($ico-tick);
                    background-color: var(--c-primary);
                    border-radius: 50%;
                }

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
            @media (max-width: $cxs-max) {
                column-count: 1;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $f_secondary;
            font-weight: 600;
            line-height: 1.4em;
        }

        h1,
        h2 {
            & {
                margin: 80px 0 20px;
                font-size: 28px;
            }
            @media (max-width: $cxs-max) {
                margin: 50px 0 30px;
                font-size: 22px;
            }
        }

        h3,
        h4,
        h5,
        h6 {
            margin: 45px 0 15px;
            font-size: 20px;
        }

        img:not(.c-img) {
            & {
                max-width: 100%;
                height: auto;
                margin: 25px 0;
            }
        }

        .iframe-responsive {
            & {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.22%;
                margin: 50px 0;
            }

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        @media (max-width: $cxs-max) {
            font-size: 14px;
        }
    }
}

.c-articles-detail {
    & {
        margin-bottom: 100px;
    }

    &__header {
        h1 {
            font-family: $f_secondary;
            font-size: 36px;
            font-weight: 800;
            color: $c_black;
            letter-spacing: .02em;
        }
        @media (max-width: $xs-max) {
            h1 {
                font-size: 30px;
            }
        }
        @media (max-width: $cxs-max) {
            h1 {
                font-size: 26px;
            }
        }
    }
}
