@use "./../../init" as *;

@use "./../../components/molecules/breadcrumb";
@use "./../../components/molecules/products_slider";

@use "./article";
@use "./article_products";
@use "./article_recommended";

.l-article {
    &__breadcrumb {
        & {
            padding-top: 31px;
            margin-bottom: 71px;
        }
        @media (max-width: $xs-max) {
            margin-bottom: 31px;
        }
    }

    &__content {
        .content {
            padding-bottom: 80px;
            margin-bottom: 80px;
            border-bottom: 1px solid $c_border;
        }
    }

    &__products {

    }

    &__recommended {
        margin-bottom: 100px;
    }
}