@use "./../../init" as *;

.social-share {
    & {
        position: sticky;
        top: var(--container-padding);
        width: 100%;
        border-right: 1px solid $c_border;
    }
    @media (max-width: $sm-max) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid $c_border;
    }

    &__text {
        & {
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.7;
        }
        @media (max-width: $sm-max) {
            margin: 0 12px 0 0;
        }
    }

    &__buttons {
        & {
            display: flex;
            flex-wrap: wrap;
        }

        .c-link {
            & {
                color: var(--c-primary);
            }

            .ico {
                @include icoSize(20px);
            }

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                color: var(--c-font);
                text-decoration: none;
            }
        }
    }
}