@use "./../../init" as *;

@use "./../../components/organisms/form_section";
@use "./../../components/molecules/ui_autocomplete";

.l-shopping-form {
    &__section {
        &.is-login {

        }

        &.is-register {

        }
    }

    &[data-section="default"] {
        .l-shopping-form__section {
            &.is-registration {
                display: none;
            }
        }

        .c-form-section__messages {
            display: none;
        }

        .c-form form {
            & > *:not(.is-email-input-holder) {
                display: none;
            }
        }

        .login-buttons__new {
            display: none;
        }
    }

    &[data-section="login"] {
        .l-shopping-form__section {
            &.is-registration {
                display: none;
            }

            &.is-login {
                .c-form-section__title,
                .c-form-section__text {
                    display: none;
                }
            }
        }
    }

    &[data-section="registration"] {
        .l-shopping-form__section {
            &.is-login {
                display: none;
            }
        }
    }
}