@use "./../../init" as *;

.c-brands-listing {
    &__header {
        margin-bottom: 25px;
        text-align: center;
    }

    &__title {
        margin: 0 0 25px;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__alphabet {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        text-align: center;
    }

    &__link {
        & {
            display: block;
            flex: 0 0 auto;
            padding: 0 6px;
            font-size: 20px;
            background: transparent;
            border: none;
        }

        &:focus {
            outline: none;
        }
    }
}

.c-brands-box {
    & {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -8px 30px;
        background: $c_white;
    }

    &.has-filter {
        padding: 8px;
        margin: 0 0 30px;
        background: $c_bg;
    }
    @media (max-width: $xs_max) {
        padding: 20px 10px 10px;
        margin-bottom: 10px;
    }
    @media (max-width: $cxs_max) {
        &.is-alphabetical {
            padding: 15px;
        }
    }

    &__header {
        & {
            position: relative;
            flex: 0 1 100%;
            padding: 0 0 16px;
            margin: 16px 8px 8px;
            text-align: center;
            border-bottom: 1px solid $c_border;
        }
        @media (max-width: $sm_max) {
            padding-bottom: 12px;
            margin-top: 12px;
        }
    }

    &__title {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    &__anchor {
        & {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            cursor: pointer;
            background: transparent;
            border: none;
        }

        .ico,
        .fa {
            @include icoSize(12px);

            top: -2px;
        }

        &:hover {
            & {
                text-decoration: none;
            }

            span {
                text-decoration: underline;
            }
        }
    }

    &__item {
        & {
            flex: 0 0 20%;
            max-width: 20%;
            padding: 8px;
        }
        @media (max-width: $md_max) {
            flex: 0 0 25%;
            max-width: 25%;
        }
        @media (max-width: $sm_max) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
        @media (max-width: $xs_max) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        a {
            & {
                display: block;
                padding: 8px;
                color: $c_primary;
                text-align: center;
                background: #fff;
                border: 1px solid $c_border;
                border-radius: 4px;
            }

            &:hover {
                border-color: $c_primary;
            }
        }
    }

    &__item-img {
        & {
            position: relative;
            width: 100%;
            height: 92px;
        }

        img {
            position: absolute;
            inset: 0;
            max-width: 90%;
            max-height: 90%;
            margin: auto;
        }
    }

    &__item-name {
        margin-bottom: 0;
        overflow: hidden;
        font-size: 16px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}