@use "./../../../init" as *;

@use "./header_info";

.c-header-top {
    & {
        display: flex;
        align-items: center;
        height: 100px;
    }
    @media (max-width: $xs-max) {
        height: 80px;
    }
    @media (max-width: $cxs-max) {
        height: 60px;
    }

    &__logo {
        & {
            flex: 1;
            min-width: 0;
        }

        .c-link {
            & {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-weight: 600;
                color: var(--c-white);
            }

            .ico {
                @include icoSize(10px);

                margin-right: 4px;
            }

            .c-img {
                max-height: 45px;
                margin-bottom: 6px;
            }

            .sc-text {
                text-decoration: underline;
            }
            @include hover {
                & {
                    color: var(--c-secondary-hover);
                    text-decoration: none;
                }

                .sc-text {
                    text-decoration: none;
                }
            }
        }
        @media (max-width: $xs-max) {
            & {
                flex: initial;
                width: auto;
            }

            .c-link {
                & {
                    align-items: center;
                    font-size: 13px;
                }
            }
        }
        @media (max-width: $cxs-max) {
            .c-link {
                .c-img {
                    max-height: 36px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        & {
            text-align: center;
        }

        .sc-title {
            margin-bottom: 0;
            font-size: 28px;
            font-weight: 700;
        }

        .sc-subtitle {
            & {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4px;
                color: var(--c-secondary);
            }

            .ico {
                @include icoSize(18px);

                top: -1px;
                margin-right: 7px;
            }
        }
        @media (max-width: $xs-max) {
            & {
                margin-left: auto;
                text-align: right;
            }

            .sc-title {
                font-size: 22px;
            }
        }
        @media (max-width: $cxs-max) {
            .sc-title {
                font-size: 16px;
            }

            .sc-subtitle {
                margin-top: 1px;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    &__info {
        & {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            min-width: 0;
        }
        @media (max-width: $xs-max) {
            display: none;
        }
    }
}