@use "./../../../init" as *;

@use "./../../../components/atoms/indicator";

.c-header-info {
    & {
        display: flex;
        gap: 14px;
        align-items: center;
    }

    &__title {
        & {
            max-width: 166px;
            font-size: 17px;
            font-weight: 700;
        }
        @media (max-width: $sm-max) {
            font-size: 16px;
        }
    }

    &__contact {
        & {
            text-align: right;
        }

        .c-link {
            font-size: 16px;
            font-weight: 700;
        }

        .sc-text {
            margin-top: 4px;
            color: var(--c-grey);
        }

        .c-indicator {
            margin-right: 6px;
        }
    }
}