@use "./../../../init" as *;

/* @use "./../../components/organisms/custom_msg"; */
@use "./header_top";

.l-header {
    &__messages {

    }

    &__top {
        position: relative;
        z-index: 101;
        color: var(--c-white);
        background-color: var(--c-primary);
    }
}
